In [1]:

import PySimpleGUI as sg
import requests
from time import sleep
import pandas as pd
import unicodedata
import string
import urllib
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
#③実行する
import gspread
import json
#ServiceAccountCredentials：Googleの各サービスへアクセスできるservice変数を生成します。
from oauth2client.service_account import ServiceAccountCredentials 
from gspread_dataframe import get_as_dataframe, set_with_dataframe
#2つのAPIを記述しないとリフレッシュトークンを3600秒毎に発行し続けなければならない
import ssl
from datetime import datetime as dt
ssl._create_default_https_context = ssl._create_unverified_context
from wordpress_xmlrpc import Client, WordPressPost
from wordpress_xmlrpc.methods.users import GetUserInfo
from wordpress_xmlrpc.methods.posts import GetPosts, NewPost
# from utils import *
import datetime
import time
import os

def removal_text(text):
    text = unicodedata.normalize("NFKC", text)
    text = text.translate(str.maketrans( '', '',string.punctuation  + '！'+ '　'+ ' '+'・'+'～' + '‐'))
    return text

def post_line_text(message,token):
    url = "https://notify-api.line.me/api/notify"
    headers = {"Authorization" : "Bearer "+ token}
    payload = {"message" :  message}
    post = requests.post(url ,headers = headers ,params=payload) 

def post_line_text_and_image(message,image_path,token):
    url = "https://notify-api.line.me/api/notify"
    headers = {"Authorization" : "Bearer "+ token}
    payload = {"message" :  message}
    #imagesフォルダの中のgazo.jpg
    print('image_path',image_path)
    files = {"imageFile":open(image_path,'rb')}
    post = requests.post(url ,headers = headers ,params=payload,files=files) 


def read_spreadsheet(workbook,worksheet):
    read_worksheet_df = pd.DataFrame(worksheet.get_all_values())
    read_worksheet_df.columns = list(read_worksheet_df.loc[0, :])
    read_worksheet_df.drop(0, inplace=True)
    return read_worksheet_df

def write_dataframe_to_spreadsheet(write_spreadsheet_df,worksheet:str,title_text:str):
    workbook.add_worksheet(title=title_text, rows=len(write_spreadsheet_df), cols=len(write_spreadsheet_df.columns))
    worksheet = workbook.worksheet(title_text)
    #df_a['G数'] = df_a['G数'].map(set_round)'
    set_with_dataframe(worksheet, write_spreadsheet_df)

In [ ]:
#備忘録
##

#1,サミーの日のSFデータをダウンロードする


#サミーの日取得すべき店舗数を把握する


#2,サミーの日の店舗名をグーグルで検索してアナスロの店舗名で辞書型で取得する

In [6]:
sammy_sf_report_df = pd.read_excel(r'csv\hollnabi_syoten_0502.xlsx')
sammy_sf_report_df
sammy_sf_report_df = sammy_sf_report_df[sammy_sf_report_df['イベント日'] <= pd.Timestamp(2023,5,31)]
sammy_sf_report_df

         イベント日      店舗名／法人名  都道府県     提案区分  ドリスロ提案区分  初開催フラグ  合同企画提案区分
0   2023-05-01      ピーアーク朝霞   埼玉県  昇天チャレンジ       NaN     NaN       NaN
1   2023-05-03  グランキコーナ泉佐野店   大阪府  昇天チャレンジ       NaN     NaN       NaN
2   2023-05-03     ピーアーク越谷店   埼玉県  昇天チャレンジ       NaN     NaN       NaN
3   2023-05-03      アビバ湘南台店  神奈川県  昇天チャレンジ       NaN     NaN       NaN
4   2023-05-03     ピーアーク松原店   埼玉県  昇天チャレンジ       NaN     NaN       NaN
..         ...          ...   ...      ...       ...     ...       ...
169 2023-05-29  グランキコーナ泉佐野店   大阪府  昇天チャレンジ       NaN     NaN       NaN
170 2023-05-29       楽園上新屋店   静岡県  昇天チャレンジ       NaN     NaN       NaN
171 2023-05-30       楽園上新屋店   静岡県  昇天チャレンジ       NaN     NaN       NaN
172 2023-05-31   FACE1100瑞穂   埼玉県  昇天チャレンジ       NaN     NaN       NaN
173 2023-05-31       楽園上新屋店   静岡県  昇天チャレンジ       NaN     NaN       NaN

[174 rows x 7 columns]

In [7]:
len(sammy_sf_report_df)

174

In [8]:
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

anaslo_scraping_error_tenpo_name_list = []
browser = webdriver.Chrome(ChromeDriverManager().install())
serched_df = pd.DataFrame(index=[], columns=[])
slopachi_and_anaslo_tenpo_name_dict = {}
#no_scraping_anaslo_tenpo_name = []
for slopachi_tenpo_name in sorted(list(sammy_sf_report_df['店舗名／法人名'].unique())):
    url = f"https://www.google.com/search?q=アナスロ  {slopachi_tenpo_name} データ一覧&hl=ja&source=hp/"
    print(url)
    #print('データ取得中...30秒ほど時間がかかります。')
    browser.get(url)
    html = browser.page_source.encode('utf-8')
    elems_rec = browser.find_elements_by_class_name('MjjYud')
    elems_rec[0].text.split('\n')
    print('アナスロと出る部分',elems_rec[0].text.split('\n')[1])

    scraping_anaslo_name = elems_rec[0].text.split('\n')[0]
    slopachi_and_anaslo_tenpo_name_dict[slopachi_tenpo_name] = scraping_anaslo_name

    time.sleep(2)
    # except Exception as e:
    #     anaslo_scraping_error_tenpo_name_list.append(tenpo_name)
    #     print('エラー店舗',tenpo_name,e)
    #     break
#data_df.to_csv(csv_file_name)

====== WebDriver manager ======
Current google-chrome version is 113.0.5672
Get LATEST chromedriver version for 113.0.5672 google-chrome
Driver [C:\Users\slotd\.wdm\drivers\chromedriver\win32\113.0.5672.63\chromedriver.exe] found in cache
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/556597382.py:9: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Chrome(ChromeDriverManager().install())

https://www.google.com/search?q=アナスロ  123+N和歌山本店 データ一覧&hl=ja&source=hp/

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/556597382.py:19: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  elems_rec = browser.find_elements_by_class_name('MjjYud')

アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  123+N大阪本店 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  123+N松原 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  123+N松原店 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  123門真店 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  D'station上田店 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  FACE1100瑞穂 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  MGM小山本郷店 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  せんげん台DUO データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  みずほ台UNO データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  アビバアネックス データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  アビバ三浦海岸 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  アビバ上大岡 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  アビバ南足柄 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  アビバ南足柄店 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  アビバ新杉田 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  アビバ新杉田店 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  アビバ横須賀中央 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  アビバ湘南台店 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  アビバ綱島樽町 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  アビバ逗子駅前 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  アビバ逗子駅前店 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  アビバ関内 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  アビバ鶴見 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  ガーデン北戸田 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  キコーナ小田原扇町 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  キコーナ小田原扇町店 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  グランキコーナ泉佐野 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  グランキコーナ泉佐野店 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  グランキコーナ相模原 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  グランキコーナ相模原店 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  ジャムフレンドクラブ朝霞店 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  テンガイ与次郎店 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  テンガイ久山店 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  パラッツォ三郷中央 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  パラッツォ川越 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  パラッツォ秋津 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  パラッツォ鳩ヶ谷 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  パールショップともえ多古店 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  パールショップともえ大和560 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  パールショップともえ富里802 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  パールショップともえ成田969 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  パールショップともえ木更津店 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  パールショップともえ淵野辺店 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  ビッグアップル加古川店 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  ピーアークおゆみ野 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  ピーアークせんげん台 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  ピーアーク千葉駅前 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  ピーアーク南行徳NEO データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  ピーアーク新城 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  ピーアーク新田 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  ピーアーク春日部 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  ピーアーク朝霞 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  ピーアーク朝霞店 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  ピーアーク松原 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  ピーアーク松原店 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  ピーアーク相模原 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  ピーアーク相模原店 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  ピーアーク相模大野 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  ピーアーク相模大野店 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  ピーアーク草加 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  ピーアーク谷塚 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  ピーアーク越谷 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  ピーアーク越谷店 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  マルハン草薙アピア店 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  メガコンコルド1020刈谷知立店 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  ワンダーランド770東合川店 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  ワンダーランドうきはバイパス店 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  ワンダーランド南ヶ丘 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  ワンダーランド大刀洗店 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  ワンダーランド新栄 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  ワンダーランド東合川 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  ワンダーランド西新店 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  ワンダーランド諫早店 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  ワンダーランド谷山 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  ワンダーランド香椎II データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  ワンダーランド香椎本館 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  上尾UNO データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  上福岡UNO データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  中山UNO データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  中山ZoRoN データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  八柱UNO データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  北越谷UNO データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  南柏UNO データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  小田急相模原UNO データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  新！ガーデン八潮 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  新！ガーデン西浦和 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  朝霞UNO データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  本八幡UNO データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  楽園上新屋店 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  楽園沼津 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  楽園沼津店 データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  稲毛海岸UNO データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ
https://www.google.com/search?q=アナスロ  鶴見UNO データ一覧&hl=ja&source=hp/
アナスロと出る部分 アナスロ

In [15]:
##出せない店舗名一覧
convert_tenponame_dict_df[convert_tenponame_dict_df['変換後'].str.contains('データ一覧')]

Empty DataFrame
Columns: [変換前, 変換後]
Index: []

In [9]:
convert_tenponame_dict_df = pd.DataFrame(slopachi_and_anaslo_tenpo_name_dict.values(), index=slopachi_and_anaslo_tenpo_name_dict.keys())
convert_tenponame_dict_df = convert_tenponame_dict_df.reset_index()
convert_tenponame_dict_df  = convert_tenponame_dict_df.rename(columns={'index': '変換前',0: '変換後'})
convert_tenponame_dict_df = convert_tenponame_dict_df[convert_tenponame_dict_df['変換後'].str.contains('データ一覧')]
convert_tenponame_dict_df['変換後'] = convert_tenponame_dict_df['変換後'].apply(lambda x: x.replace(' データ一覧',''))
convert_tenponame_dict_df.to_csv(r'csv\dict_0602_昇天チャレンジ_アナスロ店舗名変換データ一覧.csv')
convert_tenponame_dict_df
#データ一覧のみを含む店舗名法人名とアナスロ店舗名の辞書型
extraxt_convert_tenponame_dict = dict(zip(convert_tenponame_dict_df['変換前'], convert_tenponame_dict_df['変換後']))
extraxt_convert_tenponame_dict

{'123+N和歌山本店': '123+N和歌山本店',
 '123+N大阪本店': '123+N大阪本店',
 '123+N松原': '123+N松原店',
 '123+N松原店': '123+N松原店',
 '123門真店': '123門真店',
 "D'station上田店": 'Dステーション上田店',
 'FACE1100瑞穂': 'フェイス1100瑞穂店',
 'MGM小山本郷店': 'MGM小山本郷店',
 'せんげん台DUO': 'せんげん台DUO',
 'みずほ台UNO': 'みずほ台UNO',
 'アビバアネックス': 'アビバアネックス・スクエア店',
 'アビバ三浦海岸': 'アビバ三浦海岸店',
 'アビバ上大岡': 'アビバ上大岡店',
 'アビバ南足柄': 'アビバ南足柄店',
 'アビバ南足柄店': 'アビバ南足柄店',
 'アビバ新杉田': 'アビバ新杉田',
 'アビバ新杉田店': 'アビバ新杉田',
 'アビバ横須賀中央': 'アビバ横須賀中央店',
 'アビバ湘南台店': 'アビバ湘南台店',
 'アビバ綱島樽町': 'アビバ綱島樽町店',
 'アビバ逗子駅前': 'アビバ逗子駅前店',
 'アビバ逗子駅前店': 'アビバ逗子駅前店',
 'アビバ関内': 'アビバ関内',
 'アビバ鶴見': 'アビバ鶴見店',
 'キコーナ小田原扇町': 'キコーナ小田原扇町店',
 'キコーナ小田原扇町店': 'キコーナ小田原扇町店',
 'グランキコーナ泉佐野': 'グランキコーナ泉佐野店',
 'グランキコーナ泉佐野店': 'グランキコーナ泉佐野店',
 'グランキコーナ相模原': 'グランキコーナ相模原店',
 'グランキコーナ相模原店': 'グランキコーナ相模原店',
 'ジャムフレンドクラブ朝霞店': 'ジャムフレンドクラブ朝霞店',
 'テンガイ与次郎店': 'テンガイ・与次郎店',
 'パラッツォ三郷中央': 'パラッツォ三郷中央店',
 'パラッツォ川越': 'パラッツォ川越店',
 'パラッツォ秋津': 'パラッツォ秋津店',
 'パラッツォ鳩ヶ谷': 'パラッツォ鳩ヶ谷店',
 'パールショップともえ多古店': 'パールショップともえ多古店',
 'パールショップともえ大和560': 'パールショップともえ大和560',
 'パールショップともえ富里802': 'パールショップともえ富里802',
 'パールショップともえ成田969': 'パールショップともえ成田969',
 'パールショップともえ木更津店': 'パールショップともえ木更津店',
 'パールショップともえ淵野辺店': 'パールショップともえ淵野辺店',
 'ビッグアップル加古川店': 'ビッグアップル.加古川',
 'ピーアークおゆみ野': 'ピーアークおゆみ野',
 'ピーアークせんげん台': 'ピーアークせんげん台',
 'ピーアーク千葉駅前': 'ピーアーク千葉駅前',
 'ピーアーク南行徳NEO': 'ピーアーク南行徳NEO',
 'ピーアーク新城': 'ピーアーク新城マックスパチンコ',
 'ピーアーク新田': 'ピーアーク新田',
 'ピーアーク春日部': 'ピーアーク春日部',
 'ピーアーク朝霞': 'ピーアーク朝霞',
 'ピーアーク朝霞店': 'ピーアーク朝霞',
 'ピーアーク松原': 'ピーアーク松原',
 'ピーアーク松原店': 'ピーアーク松原',
 'ピーアーク相模原': 'ピーアーク相模原',
 'ピーアーク相模原店': 'ピーアーク相模原',
 'ピーアーク相模大野': 'ピーアーク相模大野',
 'ピーアーク相模大野店': 'ピーアーク相模大野',
 'ピーアーク草加': 'ピーアーク草加',
 'ピーアーク谷塚': 'ピーアーク谷塚',
 'ピーアーク越谷': 'ピーアーク越谷',
 'ピーアーク越谷店': 'ピーアーク越谷',
 'マルハン草薙アピア店': 'マルハン草薙アピア店',
 'メガコンコルド1020刈谷知立店': 'メガコンコルド1020刈谷知立店',
 'ワンダーランド770東合川店': 'ワンダーランド770東合川店',
 'ワンダーランドうきはバイパス店': 'ワンダーランドうきはバイパス店',
 'ワンダーランド南ヶ丘': 'ワンダーランド南ヶ丘店',
 'ワンダーランド大刀洗店': 'ワンダーランド大刀洗店',
 'ワンダーランド新栄': 'ワンダーランド鹿児島新栄店',
 'ワンダーランド東合川': 'ワンダーランド770東合川店',
 'ワンダーランド西新店': 'ワンダーランド西新店',
 'ワンダーランド諫早店': 'ワンダーランド諫早店',
 'ワンダーランド谷山': 'ワンダーランド谷山店',
 'ワンダーランド香椎II': 'ワンダーランド香椎II',
 'ワンダーランド香椎本館': 'ワンダーランド香椎本館',
 '上尾UNO': '上尾UNO',
 '上福岡UNO': '上福岡UNO',
 '中山UNO': '中山UNO',
 '中山ZoRoN': '中山ZoRoN',
 '八柱UNO': '八柱UNO',
 '北越谷UNO': '北越谷UNO',
 '南柏UNO': '南柏UNO',
 '小田急相模原UNO': '小田急相模原UNO',
 '新！ガーデン西浦和': '第一プラザ西浦和店',
 '朝霞UNO': '朝霞UNO',
 '本八幡UNO': '本八幡UNO',
 '楽園上新屋店': '楽園上新屋店',
 '楽園沼津': '楽園沼津店',
 '楽園沼津店': '楽園沼津店',
 '稲毛海岸UNO': '稲毛海岸UNO',
 '鶴見UNO': '鶴見UNO'}

In [10]:
prefecture_name_list = '''北海道
青森県
岩手県
宮城県
秋田県
山形県
福島県
茨城県
栃木県
群馬県
埼玉県
千葉県
東京都
神奈川県
新潟県
富山県
石川県
福井県
山梨県
長野県
岐阜県
静岡県
愛知県
三重県
滋賀県
京都府
大阪府
兵庫県
奈良県
和歌山県
鳥取県
島根県
岡山県
広島県
山口県
徳島県
香川県
愛媛県
高知県
福岡県
佐賀県
長崎県
熊本県
大分県
宮崎県
鹿児島県
沖縄県'''.split('\n')

In [27]:
import requests
from time import sleep
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException
from bs4 import BeautifulSoup
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import datetime
import time
import unicodedata
import string
import urllib
def removal_text(text):
    text = unicodedata.normalize("NFKC", text)
    text = text.translate(str.maketrans( '', '',string.punctuation  + '！'+ '　'+ ' '+'・'+'～' + '‐'))
    return text
def post_line_text(message,token):
    url = "https://notify-api.line.me/api/notify"
    headers = {"Authorization" : "Bearer "+ token}
    payload = {"message" :  message}
    post = requests.post(url ,headers = headers ,params=payload)
def post_line_text_and_image(message,image_path,token):
    url = "https://notify-api.line.me/api/notify"
    headers = {"Authorization" : "Bearer "+ token}
    payload = {"message" :  message}
    #imagesフォルダの中のgazo.jpg
    print('image_path',image_path)
    files = {"imageFile":open(image_path,'rb')}
    post = requests.post(url ,headers = headers ,params=payload,files=files)
def TablePlot(df,outputPath,w,h,fontsize,title):
    plt.rcParams["font.size"] = fontsize
    plt.rcParams["font.weight"] = "bold"
    fig, ax = plt.subplots(figsize=(w,h))
    ax.axis('off')
    ax.table(cellText=df.values,
             colLabels=df.columns,
             loc='center',
             bbox=[0,0,1,1])
    ax.set_title(f'{title}',
             fontweight ="bold")
    plt.savefig(outputPath)


#print(tenpo_ichiran_df['ホール名'])
cols = ['機種名', '台番号', 'G数', '差枚', 'BB', 'RB', 'ART', 'BB確率', 'RB確率', 'ART確率','合成確率','店舗名']
ichiran_all_tennpo_df = pd.DataFrame(index=[], columns=cols)
tenpo_url_df = pd.DataFrame(index=[], columns=cols)
yesterday = datetime.date.today() + datetime.timedelta(days=-1)
browser = webdriver.Chrome(ChromeDriverManager().install())
parlar_name_parlar_url_dict = {}
for prefecture_name in prefecture_name_list:
    url = f'https://ana-slo.com/%E3%83%9B%E3%83%BC%E3%83%AB%E3%83%87%E3%83%BC%E3%82%BF/{prefecture_name}/'
    browser.get(url)
    html = browser.page_source.encode('utf-8')
    soup = BeautifulSoup(html, 'lxml')
    for element in soup.find(class_="dataTable no-footer").find_all("a"):
        #print(element.string,element['href'])
        parlar_name = element.string
        parlar_name_url = element['href']
        parlar_name_parlar_url_dict[parlar_name] = parlar_name_url
        tenpo_url_df = pd.concat([tenpo_url_df,pd.DataFrame([[prefecture_name,parlar_name,parlar_name_url]])],ignore_index=True)

====== WebDriver manager ======
Current google-chrome version is 113.0.5672
Get LATEST chromedriver version for 113.0.5672 google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/113.0.5672.63/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\slotd\.wdm\drivers\chromedriver\win32\113.0.5672.63]
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/1415024754.py:51: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Chrome(ChromeDriverManager().install())

In [31]:
tenpo_name_tenpo_url_df = pd.read_csv(r'csv\tenpo_url.csv' )
tenpo_name_tenpo_url_df['url_店舗名'] = tenpo_name_tenpo_url_df['URL'].map(lambda x: urllib.parse.unquote((x.split('/')[-2])).replace('-データ一覧',''))
tenpo_name_tenpo_url_df.to_csv(r'csv\tenpo_url_flask_web_site.csv',index=False)

In [12]:
import csv
dct = parlar_name_parlar_url_dict
with open(r'csv\tenpo_name_tenpo_url_dict.csv', 'w') as f:  
    writer = csv.writer(f)
    for k, v in dct.items():
       writer.writerow([k, v])

tenpo_name_tenpo_url_df = pd.read_csv(r'csv\tenpo_name_tenpo_url_dict.csv', header=None, names=['店舗名','URL'])
tenpo_name_tenpo_url_df['url_店舗名'] = tenpo_name_tenpo_url_df['URL'].map(lambda x: urllib.parse.unquote((x.split('/')[-2])).replace('-データ一覧',''))
tenpo_name_tenpo_url_df.to_csv(r'csv\アナスロ店舗名デコードテーブル.csv',index=False)

In [13]:
tenpo_name_tenpo_url_df

          店舗名                                                URL  url_店舗名
0     BIG大王東店  https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...  big大王東店
1     CREV伊達店  https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...  crev伊達店
2         EBH  https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...      ebh
3      INDY函館  https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...   indy函館
4     KEIO湯川店  https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...  keio湯川店
...       ...                                                ...      ...
3180   マルシンV3  https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...   マルシンv3
3181   マルシンV4  https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...   マルシンv4
3182  ラッキー高原店  https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...  ラッキー高原店
3183    ルクソール  https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...    ルクソール
3184   名宝具志川店  https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...   名宝具志川店

[3185 rows x 3 columns]

In [16]:
sammy_sf_report_df['アナスロ店舗名'] = sammy_sf_report_df['店舗名／法人名'].map(extraxt_convert_tenponame_dict)
sammy_sf_report_df

,イベント日,店舗名／法人名,都道府県,提案区分,ドリスロ提案区分,初開催フラグ,合同企画提案区分,アナスロ店舗名
0,2023-05-01,ピーアーク朝霞,埼玉県,昇天チャレンジ,NaN,NaN,NaN,ピーアーク朝霞
1,2023-05-03,グランキコーナ泉佐野店,大阪府,昇天チャレンジ,NaN,NaN,NaN,グランキコーナ泉佐野店
2,2023-05-03,ピーアーク越谷店,埼玉県,昇天チャレンジ,NaN,NaN,NaN,ピーアーク越谷
3,2023-05-03,アビバ湘南台店,神奈川県,昇天チャレンジ,NaN,NaN,NaN,アビバ湘南台店
4,2023-05-03,ピーアーク松原店,埼玉県,昇天チャレンジ,NaN,NaN,NaN,ピーアーク松原
...,...,...,...,...,...,...,...,...
169,2023-05-29,グランキコーナ泉佐野店,大阪府,昇天チャレンジ,NaN,NaN,NaN,グランキコーナ泉佐野店
170,2023-05-29,楽園上新屋店,静岡県,昇天チャレンジ,NaN,NaN,NaN,楽園上新屋店
171,2023-05-30,楽園上新屋店,静岡県,昇天チャレンジ,NaN,NaN,NaN,楽園上新屋店
172,2023-05-31,FACE1100瑞穂,埼玉県,昇天チャレンジ,NaN,NaN,NaN,フェイス1100瑞穂店
173,2023-05-31,楽園上新屋店,静岡県,昇天チャレンジ,NaN,NaN,NaN,楽園上新屋店

In [17]:
anaslo_scraping_error_tenpo_name_list = []
browser = webdriver.Chrome(ChromeDriverManager().install())
serched_df = pd.DataFrame(index=[], columns=[])
# for target_day in list(sammy_sf_report_df['イベント日'].unique()):
#     print(target_day)
error_tenpo_name_list = []
anaslo_scraping_error_tenpo_name_list  = []
for i, row in sammy_sf_report_df.iterrows():
    try:
        tenpo_name = row['アナスロ店舗名']
        date = row['イベント日'].to_pydatetime().strftime('%Y-%m-%d')
        anaslo_parlar_name_url = parlar_name_parlar_url_dict[tenpo_name]
        anaslo_url_parlarname =urllib.parse.unquote((anaslo_parlar_name_url.split('/')[-2])).replace('-データ一覧','')
        url = f"https://ana-slo.com/{date}-{anaslo_url_parlarname}-data/"
        print(url)
        #print('データ取得中...30秒ほど時間がかかります。')
        browser.get(url)
        html = browser.page_source.encode('utf-8')
        dfs = pd.read_html(html)
        #display(tenpo_df)
        #time.sleep(1)
        elements = browser.find_element(By.CLASS_NAME, 'st-catgroup')
        prefecture = elements.text.split(' ')[-1]
        for df in  dfs:
        #print(df.columns)
            if '機種名' in list(df.columns):
                ichiran_df = df
                ichiran_df['店舗名'] = tenpo_name
                #ichiran_df['都道府県'] = prefecture
                ichiran_df['機種名'] = ichiran_df['機種名'].map(removal_text)
                first_column = ichiran_df.pop('店舗名')
                ichiran_df.insert(0,'店舗名',first_column)
                break
        tenpo_day_data_df = ichiran_df
        tenpo_day_data_df = tenpo_day_data_df.sort_values('台番号')
        tenpo_day_data_df['日付'] = f"{date}"
        serched_df = pd.concat([serched_df,tenpo_day_data_df],axis=0)
    except Exception as e:
        anaslo_scraping_error_tenpo_name_list.append(tenpo_name)
        print('エラー店舗',tenpo_name,e)
        continue
    # if i > 2:
    #     break

====== WebDriver manager ======
Current google-chrome version is 113.0.5672
Get LATEST chromedriver version for 113.0.5672 google-chrome
Driver [C:\Users\slotd\.wdm\drivers\chromedriver\win32\113.0.5672.63\chromedriver.exe] found in cache
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/222010996.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Chrome(ChromeDriverManager().install())

https://ana-slo.com/2023-05-01-ピーアーク朝霞-data/
https://ana-slo.com/2023-05-03-グランキコーナ泉佐野店-data/
エラー店舗 グランキコーナ泉佐野店 No tables found
https://ana-slo.com/2023-05-03-ピーアーク越谷-data/
https://ana-slo.com/2023-05-03-アビバ湘南台店-data/
https://ana-slo.com/2023-05-03-ピーアーク松原-data/
https://ana-slo.com/2023-05-03-キコーナ小田原扇町店-data/
https://ana-slo.com/2023-05-05-グランキコーナ泉佐野店-data/
エラー店舗 グランキコーナ泉佐野店 No tables found
https://ana-slo.com/2023-05-05-ピーアーク相模原-data/
https://ana-slo.com/2023-05-06-中山uno-data/
https://ana-slo.com/2023-05-06-中山zoron-data/
https://ana-slo.com/2023-05-06-鶴見uno-data/
https://ana-slo.com/2023-05-06-上福岡uno-data/
https://ana-slo.com/2023-05-06-北越谷uno-data/
https://ana-slo.com/2023-05-06-せんげん台duo-data/
https://ana-slo.com/2023-05-06-みずほ台uno-data/
https://ana-slo.com/2023-05-06-本八幡uno-data/
https://ana-slo.com/2023-05-06-南柏uno-data/
https://ana-slo.com/2023-05-06-稲毛海岸uno-data/
https://ana-slo.com/2023-05-06-パラッツォ三郷中央店-data/
https://ana-slo.com/2023-05-06-アビバ上大岡店-data/
https://ana-slo.com/2023-05-07-123n松原店-data/
https://ana-slo.com/2023-05-07-123n和歌山本店-data/
https://ana-slo.com/2023-05-07-123門真店-data/
https://ana-slo.com/2023-05-07-上尾uno-data/
https://ana-slo.com/2023-05-07-ピーアーク朝霞-data/
エラー店舗 nan nan
https://ana-slo.com/2023-05-07-マルハン草薙アピア店-data/
https://ana-slo.com/2023-05-08-パールショップともえ大和560-data/
https://ana-slo.com/2023-05-08-ワンダーランド大刀洗店-data/
エラー店舗 ワンダーランド大刀洗店 No tables found
https://ana-slo.com/2023-05-09-グランキコーナ泉佐野店-data/
エラー店舗 グランキコーナ泉佐野店 No tables found
https://ana-slo.com/2023-05-09-dステーション上田店-data/
https://ana-slo.com/2023-05-09-mgm小山本郷店-data/
https://ana-slo.com/2023-05-09-楽園沼津店-data/
https://ana-slo.com/2023-05-10-メガコンコルド1020刈谷知立店-data/
https://ana-slo.com/2023-05-11-123n大阪本店-data/
https://ana-slo.com/2023-05-11-ピーアーク朝霞-data/
https://ana-slo.com/2023-05-11-ワンダーランド770東合川店-data/
エラー店舗 ワンダーランド770東合川店 No tables found
https://ana-slo.com/2023-05-11-ワンダーランド香椎本館-data/
エラー店舗 ワンダーランド香椎本館 No tables found
https://ana-slo.com/2023-05-11-ワンダーランド南ヶ丘店-data/
エラー店舗 ワンダーランド南ヶ丘店 No tables found
https://ana-slo.com/2023-05-12-アビバ逗子駅前店-data/
https://ana-slo.com/2023-05-12-mgm小山本郷店-data/
https://ana-slo.com/2023-05-13-グランキコーナ泉佐野店-data/
エラー店舗 グランキコーナ泉佐野店 No tables found
https://ana-slo.com/2023-05-13-アビバ南足柄店-data/
https://ana-slo.com/2023-05-13-中山uno-data/
https://ana-slo.com/2023-05-13-中山zoron-data/
https://ana-slo.com/2023-05-13-鶴見uno-data/
https://ana-slo.com/2023-05-13-上福岡uno-data/
https://ana-slo.com/2023-05-13-北越谷uno-data/
https://ana-slo.com/2023-05-13-せんげん台duo-data/
https://ana-slo.com/2023-05-13-みずほ台uno-data/
https://ana-slo.com/2023-05-13-本八幡uno-data/
https://ana-slo.com/2023-05-13-南柏uno-data/
https://ana-slo.com/2023-05-13-稲毛海岸uno-data/
https://ana-slo.com/2023-05-13-小田急相模原uno-data/
https://ana-slo.com/2023-05-13-朝霞uno-data/
https://ana-slo.com/2023-05-13-八柱uno-data/
https://ana-slo.com/2023-05-13-マルハン草薙アピア店-data/
https://ana-slo.com/2023-05-13-アビバ逗子駅前店-data/
https://ana-slo.com/2023-05-13-アビバ上大岡店-data/
https://ana-slo.com/2023-05-13-ピーアーク相模大野-data/
https://ana-slo.com/2023-05-13-ワンダーランド鹿児島新栄店-data/
エラー店舗 ワンダーランド鹿児島新栄店 No tables found
https://ana-slo.com/2023-05-13-ワンダーランド谷山店-data/
エラー店舗 ワンダーランド谷山店 No tables found
https://ana-slo.com/2023-05-13-パールショップともえ淵野辺店-data/
https://ana-slo.com/2023-05-14-ジャムフレンドクラブ朝霞店-data/
https://ana-slo.com/2023-05-14-dステーション上田店-data/
https://ana-slo.com/2023-05-14-ピーアーク越谷-data/
https://ana-slo.com/2023-05-14-グランキコーナ相模原店-data/
https://ana-slo.com/2023-05-14-アビバ新杉田-data/
https://ana-slo.com/2023-05-15-ピーアーク春日部-data/
https://ana-slo.com/2023-05-15-ピーアークせんげん台-data/
https://ana-slo.com/2023-05-16-ジャムフレンドクラブ朝霞店-data/
https://ana-slo.com/2023-05-16-mgm小山本郷店-data/
https://ana-slo.com/2023-05-16-フェイス1100瑞穂店-data/
エラー店舗 フェイス1100瑞穂店 No tables found
https://ana-slo.com/2023-05-17-123門真店-data/
https://ana-slo.com/2023-05-17-パールショップともえ富里802-data/
https://ana-slo.com/2023-05-17-アビバ関内-data/
https://ana-slo.com/2023-05-17-アビバ三浦海岸店-data/
https://ana-slo.com/2023-05-17-上尾uno-data/
https://ana-slo.com/2023-05-17-123n松原店-data/
https://ana-slo.com/2023-05-17-123n和歌山本店-data/
https://ana-slo.com/2023-05-17-アビバ鶴見店-data/
https://ana-slo.com/2023-05-17-アビバ綱島樽町店-data/
https://ana-slo.com/2023-05-19-グランキコーナ泉佐野店-data/
エラー店舗 グランキコーナ泉佐野店 No tables found
https://ana-slo.com/2023-05-19-アビバ南足柄店-data/
https://ana-slo.com/2023-05-19-アビバ逗子駅前店-data/
https://ana-slo.com/2023-05-20-パールショップともえ多古店-data/
https://ana-slo.com/2023-05-20-グランキコーナ相模原店-data/
https://ana-slo.com/2023-05-20-アビバ南足柄店-data/
https://ana-slo.com/2023-05-20-中山uno-data/
https://ana-slo.com/2023-05-20-中山zoron-data/
https://ana-slo.com/2023-05-20-鶴見uno-data/
https://ana-slo.com/2023-05-20-上福岡uno-data/
https://ana-slo.com/2023-05-20-北越谷uno-data/
https://ana-slo.com/2023-05-20-パラッツォ川越店-data/
https://ana-slo.com/2023-05-20-せんげん台duo-data/
https://ana-slo.com/2023-05-20-みずほ台uno-data/
https://ana-slo.com/2023-05-20-本八幡uno-data/
https://ana-slo.com/2023-05-20-南柏uno-data/
https://ana-slo.com/2023-05-20-稲毛海岸uno-data/
https://ana-slo.com/2023-05-20-小田急相模原uno-data/
https://ana-slo.com/2023-05-20-朝霞uno-data/
https://ana-slo.com/2023-05-20-八柱uno-data/
https://ana-slo.com/2023-05-20-アビバアネックス・スクエア店-data/
https://ana-slo.com/2023-05-20-アビバ上大岡店-data/
https://ana-slo.com/2023-05-20-パールショップともえ淵野辺店-data/
https://ana-slo.com/2023-05-20-dステーション上田店-data/
エラー店舗 Dステーション上田店 No tables found
https://ana-slo.com/2023-05-20-ビッグアップル-加古川-data/
https://ana-slo.com/2023-05-20-パラッツォ鳩ヶ谷店-data/
https://ana-slo.com/2023-05-21-ジャムフレンドクラブ朝霞店-data/
https://ana-slo.com/2023-05-21-グランキコーナ相模原店-data/
https://ana-slo.com/2023-05-21-ピーアーク朝霞-data/
https://ana-slo.com/2023-05-21-123門真店-data/
https://ana-slo.com/2023-05-21-123n大阪本店-data/
https://ana-slo.com/2023-05-21-ワンダーランド諫早店-data/
エラー店舗 ワンダーランド諫早店 No tables found
https://ana-slo.com/2023-05-21-ワンダーランドうきはバイパス店-data/
https://ana-slo.com/2023-05-21-ワンダーランド西新店-data/
エラー店舗 ワンダーランド西新店 No tables found
https://ana-slo.com/2023-05-22-ピーアーク越谷-data/
https://ana-slo.com/2023-05-22-ピーアーク相模原-data/
https://ana-slo.com/2023-05-22-パラッツォ秋津店-data/
https://ana-slo.com/2023-05-22-アビバ横須賀中央店-data/
https://ana-slo.com/2023-05-22-123n大阪本店-data/
https://ana-slo.com/2023-05-23-dステーション上田店-data/
エラー店舗 Dステーション上田店 No tables found
https://ana-slo.com/2023-05-23-グランキコーナ泉佐野店-data/
エラー店舗 グランキコーナ泉佐野店 No tables found
https://ana-slo.com/2023-05-23-アビバ湘南台店-data/
https://ana-slo.com/2023-05-23-パールショップともえ成田969-data/
https://ana-slo.com/2023-05-23-ピーアーク相模大野-data/
https://ana-slo.com/2023-05-23-ピーアーク相模原-data/
https://ana-slo.com/2023-05-24-楽園沼津店-data/
https://ana-slo.com/2023-05-25-ピーアーク春日部-data/
https://ana-slo.com/2023-05-26-ピーアーク新城マックスパチンコ-data/
https://ana-slo.com/2023-05-26-ピーアーク相模原-data/
https://ana-slo.com/2023-05-26-ピーアーク相模大野-data/
https://ana-slo.com/2023-05-26-ピーアークせんげん台-data/
https://ana-slo.com/2023-05-26-ピーアーク新田-data/
https://ana-slo.com/2023-05-26-ピーアーク春日部-data/
https://ana-slo.com/2023-05-26-ピーアーク朝霞-data/
https://ana-slo.com/2023-05-26-ピーアーク松原-data/
https://ana-slo.com/2023-05-26-ピーアーク草加-data/
https://ana-slo.com/2023-05-26-ピーアーク谷塚-data/
https://ana-slo.com/2023-05-26-ピーアーク越谷-data/
https://ana-slo.com/2023-05-26-ピーアークおゆみ野-data/
https://ana-slo.com/2023-05-26-ピーアーク千葉駅前-data/
https://ana-slo.com/2023-05-26-ピーアーク南行徳neo-data/
https://ana-slo.com/2023-05-26-ジャムフレンドクラブ朝霞店-data/
https://ana-slo.com/2023-05-26-アビバ逗子駅前店-data/
https://ana-slo.com/2023-05-27-第一プラザ西浦和店-data/
https://ana-slo.com/2023-05-27-上尾uno-data/
https://ana-slo.com/2023-05-27-123n和歌山本店-data/
https://ana-slo.com/2023-05-27-パラッツォ三郷中央店-data/
https://ana-slo.com/2023-05-27-マルハン草薙アピア店-data/
https://ana-slo.com/2023-05-27-パールショップともえ木更津店-data/
https://ana-slo.com/2023-05-27-パールショップともえ淵野辺店-data/
https://ana-slo.com/2023-05-27-123門真店-data/
https://ana-slo.com/2023-05-27-アビバ関内-data/
https://ana-slo.com/2023-05-27-アビバ三浦海岸店-data/
https://ana-slo.com/2023-05-27-アビバ鶴見店-data/
https://ana-slo.com/2023-05-27-パラッツォ川越店-data/
https://ana-slo.com/2023-05-27-123n松原店-data/
https://ana-slo.com/2023-05-27-アビバ上大岡店-data/
https://ana-slo.com/2023-05-27-アビバ綱島樽町店-data/
https://ana-slo.com/2023-05-27-キコーナ小田原扇町店-data/
https://ana-slo.com/2023-05-27-ワンダーランド770東合川店-data/
エラー店舗 ワンダーランド770東合川店 No tables found
エラー店舗 nan nan
https://ana-slo.com/2023-05-27-テンガイ・与次郎店-data/
https://ana-slo.com/2023-05-27-ワンダーランド香椎ii-data/
エラー店舗 ワンダーランド香椎II No tables found
エラー店舗 nan nan
https://ana-slo.com/2023-05-28-アビバ新杉田-data/
https://ana-slo.com/2023-05-28-楽園上新屋店-data/
https://ana-slo.com/2023-05-28-楽園上新屋店-data/
https://ana-slo.com/2023-05-29-グランキコーナ泉佐野店-data/
エラー店舗 グランキコーナ泉佐野店 No tables found
https://ana-slo.com/2023-05-29-楽園上新屋店-data/
https://ana-slo.com/2023-05-30-楽園上新屋店-data/
https://ana-slo.com/2023-05-31-フェイス1100瑞穂店-data/
エラー店舗 フェイス1100瑞穂店 No tables found
https://ana-slo.com/2023-05-31-楽園上新屋店-data/

In [53]:
hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
print(hokuto_average_out)
hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
print(hokuto_average_samai)
hokuto_average_daisuu = len(extraxt_hokuto_kisyu_name_df)
print(hokuto_average_daisuu)

extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
print(extraxt_tenpo_average_out)
extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )
print(extraxt_tenpo_samai)
extraxt_tenpo_daisuu = len(extract_tenpo_data_df)
print(extraxt_tenpo_daisuu)

20774
-344
9
7642
-225
150

C:\Users\slotd\AppData\Local\Temp/ipykernel_13048/408010251.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_13048/408010251.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_13048/408010251.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_13048/408010251.py:10: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

In [21]:
error_tenpo_name_dict = {}
output_df = pd.DataFrame(index=[],columns= \
    ['イベント日','店舗名／法人名','アナスロ店舗名','都道府県','提案区分',\
    'スマスロ北斗平均アウト','スマスロ北斗平均差枚','スマスロ北斗台数',\
    '全体平均アウト','全体平均差枚','全体台数'])

for i, row in sammy_sf_report_df.iterrows():
    try:
        date = row['イベント日'].to_pydatetime().strftime('%Y-%m-%d')
        serch_tenpo_name =row['アナスロ店舗名']
        extract_tenpo_data_df = serched_df[(serched_df['店舗名'] == serch_tenpo_name) & (serched_df['日付'] == date)] 
        if len(extract_tenpo_data_df) == 0:
            #print(row)
            hokuto_average_out = hokuto_average_samai = hokuto_average_daisuu = \
            extraxt_tenpo_average_out = extraxt_tenpo_samai  = extraxt_tenpo_daisuu = 'データなし'
            error_tenpo_name_dict[serch_tenpo_name] = 'データテーブルがないです'
            
        else:
            display(extract_tenpo_data_df)
            extraxt_hokuto_kisyu_name_df = extract_tenpo_data_df[extract_tenpo_data_df['機種名'].str.contains('北斗の拳') ]
            extraxt_hokuto_kisyu_name_df = extraxt_hokuto_kisyu_name_df[~extraxt_hokuto_kisyu_name_df['機種名'].str.contains('宿命') ]
            extraxt_hokuto_kisyu_name_df = extraxt_hokuto_kisyu_name_df[~extraxt_hokuto_kisyu_name_df['機種名'].str.contains('天昇') ]
            extraxt_hokuto_kisyu_name_df
            hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
            print(hokuto_average_out)
            hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
            print(hokuto_average_samai)
            hokuto_average_daisuu = len(extraxt_hokuto_kisyu_name_df)
            print(hokuto_average_daisuu)

            extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
            print(extraxt_tenpo_average_out)
            extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )
            print(extraxt_tenpo_samai)
            extraxt_tenpo_daisuu = len(extract_tenpo_data_df)
            print(extraxt_tenpo_daisuu)


        record = [[date, row['店舗名／法人名'], row['アナスロ店舗名'], row['都道府県'],row['提案区分'],\
                hokuto_average_out,hokuto_average_samai,hokuto_average_daisuu,\
                extraxt_tenpo_average_out,extraxt_tenpo_samai ,extraxt_tenpo_daisuu]]
        df_append = pd.DataFrame(data=record, columns=output_df.columns)
        output_df = pd.concat([output_df, df_append], ignore_index=True, axis=0)
    #break
    except Exception as e:
        error_tenpo_name_dict[serch_tenpo_name] = e
        print('エラー店舗',serch_tenpo_name,e)
        continue

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
52,ピーアーク朝霞,HEYエリートサラリーマン鏡,234,5644,-2193.0,23,9,0.0,1/176.4,1/245.4,1/627.1,1/0.0,2023-05-01
53,ピーアーク朝霞,HEYエリートサラリーマン鏡,235,1334,210.0,7,4,0.0,1/121.3,1/190.6,1/333.5,1/0.0,2023-05-01
54,ピーアーク朝霞,HEYエリートサラリーマン鏡,236,3385,562.0,21,8,0.0,1/116.7,1/161.2,1/423.1,1/0.0,2023-05-01
55,ピーアーク朝霞,HEYエリートサラリーマン鏡,237,839,-110.0,3,1,0.0,1/209.8,1/279.7,1/839.0,1/0.0,2023-05-01
56,ピーアーク朝霞,HEYエリートサラリーマン鏡,238,1601,-1252.0,7,1,0.0,1/200.1,1/228.7,1/1601.0,1/0.0,2023-05-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18,ピーアーク朝霞,マイジャグラーV,379,1312,-867.0,2,1,0.0,1/437.3,1/656.0,1/1312.0,1/0.0,2023-05-01
19,ピーアーク朝霞,マイジャグラーV,380,1349,-267.0,3,6,0.0,1/149.9,1/449.7,1/224.8,1/0.0,2023-05-01
20,ピーアーク朝霞,マイジャグラーV,381,6383,-1839.0,17,19,0.0,1/177.3,1/375.5,1/335.9,1/0.0,2023-05-01
21,ピーアーク朝霞,マイジャグラーV,382,1574,-288.0,6,1,0.0,1/224.9,1/262.3,1/1574.0,1/0.0,2023-05-01
22,ピーアーク朝霞,マイジャグラーV,383,1167,-633.0,2,3,0.0,1/233.4,1/583.5,1/389.0,1/0.0,2023-05-01

20774
-344
9
7642
-225
150

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
200,ピーアーク越谷,沖ドキDUO30,501,305,-513.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-03
201,ピーアーク越谷,沖ドキDUO30,502,2688,-1388.0,13,2,0.0,1/179.2,1/206.8,1/1344.0,1/0.0,2023-05-03
202,ピーアーク越谷,沖ドキDUO30,503,1189,135.0,9,2,0.0,1/108.1,1/132.1,1/594.5,1/0.0,2023-05-03
203,ピーアーク越谷,沖ドキDUO30,504,297,1112.0,7,1,0.0,1/37.1,1/42.4,1/297.0,1/0.0,2023-05-03
92,ピーアーク越谷,沖ドキGOLD30,505,2453,-388.0,15,5,0.0,1/122.7,1/163.5,1/490.6,1/0.0,2023-05-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,ピーアーク越谷,幼女戦記,792,2055,-290.0,0,2,47.0,1/41.9,1/0.0,1/1027.5,1/43.7,2023-05-03
256,ピーアーク越谷,鉄拳5,793,2788,-1170.0,10,4,14.0,1/99.6,1/278.8,1/697.0,1/199.1,2023-05-03
257,ピーアーク越谷,FAIRYTAIL2,794,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-03
258,ピーアーク越谷,黄門ちゃま喝2,795,957,-742.0,0,0,6.0,1/159.5,1/0.0,1/0.0,1/159.5,2023-05-03
259,ピーアーク越谷,戦国無双3,796,3171,915.0,12,0,14.0,1/122.0,1/264.2,1/0.0,1/226.5,2023-05-03

16617
314
12
8604
-210
260

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
327,アビバ湘南台店,ハナハナホウオウ天翔30,1027,7159,753.0,29,18,NaN,1/152.3,1/246.9,1/397.7,NaN,2023-05-03
328,アビバ湘南台店,ハナハナホウオウ天翔30,1028,672,110.0,3,1,NaN,1/168.0,1/224.0,1/672.0,NaN,2023-05-03
329,アビバ湘南台店,ハナハナホウオウ天翔30,1030,3315,-557.0,10,9,NaN,1/174.5,1/331.5,1/368.3,NaN,2023-05-03
330,アビバ湘南台店,ハナハナホウオウ天翔30,1031,1616,847.0,9,5,NaN,1/115.4,1/179.6,1/323.2,NaN,2023-05-03
331,アビバ湘南台店,ハナハナホウオウ天翔30,1032,5337,-1825.0,17,5,NaN,1/242.6,1/313.9,1/1067.4,NaN,2023-05-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45,アビバ湘南台店,アイムジャグラーEXTP,2123,5831,411.0,24,13,NaN,1/157.6,1/243.0,1/448.5,NaN,2023-05-03
46,アビバ湘南台店,アイムジャグラーEXTP,2125,996,-549.0,2,2,NaN,1/249.0,1/498.0,1/498.0,NaN,2023-05-03
47,アビバ湘南台店,アイムジャグラーEXTP,2126,653,-725.0,0,1,NaN,1/653.0,1/0.0,1/653.0,NaN,2023-05-03
48,アビバ湘南台店,アイムジャグラーEXTP,2127,1792,-354.0,6,5,NaN,1/162.9,1/298.7,1/358.4,NaN,2023-05-03
49,アビバ湘南台店,アイムジャグラーEXTP,2128,2271,-719.0,6,5,NaN,1/206.5,1/378.5,1/454.2,NaN,2023-05-03

20231
264
26
9747
-210
501

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
163,ピーアーク松原,頭文字D,501,1772,-250.0,10,0,8.0,1/98.4,1/177.2,1/0.0,1/221.5,2023-05-03
155,ピーアーク松原,幼女戦記,502,2814,1478.0,0,0,117.0,1/24.1,1/0.0,1/0.0,1/24.1,2023-05-03
159,ピーアーク松原,新鬼武者2,503,1804,1400.0,0,13,28.0,1/44.0,1/0.0,1/138.8,1/64.4,2023-05-03
164,ピーアーク松原,政宗戦極,504,67,276.0,0,2,8.0,1/6.7,1/0.0,1/33.5,1/8.4,2023-05-03
165,ピーアーク松原,ドリフターズ,505,911,-310.0,0,2,7.0,1/101.2,1/0.0,1/455.5,1/130.1,2023-05-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,ピーアーク松原,リノヘブン,702,550,-248.0,2,3,0.0,1/110.0,1/275.0,1/183.3,1/0.0,2023-05-03
122,ピーアーク松原,バキ強くなりたくば喰らえ,703,2250,4838.0,83,12,0.0,1/23.7,1/27.1,1/187.5,1/0.0,2023-05-03
123,ピーアーク松原,バキ強くなりたくば喰らえ,704,776,-128.0,12,3,0.0,1/51.7,1/64.7,1/258.7,1/0.0,2023-05-03
124,ピーアーク松原,バキ強くなりたくば喰らえ,705,2591,-1146.0,35,8,0.0,1/60.3,1/74.0,1/323.9,1/0.0,2023-05-03
125,ピーアーク松原,バキ強くなりたくば喰らえ,706,2938,-3105.0,21,12,0.0,1/89.0,1/139.9,1/244.8,1/0.0,2023-05-03

19395
-55
8
10311
-166
184

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
105,キコーナ小田原扇町店,ゴブリンスレイヤー,501,8289,-3966.0,0,1,21.0,1/376.8,1/0.0,1/8289.0,1/394.7,2023-05-03
106,キコーナ小田原扇町店,ゴブリンスレイヤー,502,8472,-4903.0,0,0,18.0,1/470.7,1/0.0,1/0.0,1/470.7,2023-05-03
107,キコーナ小田原扇町店,ゴブリンスレイヤー,503,7485,10784.0,0,0,38.0,1/197.0,1/0.0,1/0.0,1/197.0,2023-05-03
108,キコーナ小田原扇町店,ゴブリンスレイヤー,504,8164,2251.0,0,1,30.0,1/263.4,1/0.0,1/8164.0,1/272.1,2023-05-03
109,キコーナ小田原扇町店,ゴブリンスレイヤー,505,9011,-4458.0,0,1,21.0,1/409.6,1/0.0,1/9011.0,1/429.1,2023-05-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,キコーナ小田原扇町店,沖ドキGOLD30,776,1894,1400.0,18,5,0.0,1/82.3,1/105.2,1/378.8,1/0.0,2023-05-03
152,キコーナ小田原扇町店,沖ドキGOLD30,777,4114,-1420.0,20,8,0.0,1/146.9,1/205.7,1/514.2,1/0.0,2023-05-03
153,キコーナ小田原扇町店,沖ドキGOLD30,778,3786,-3716.0,7,7,0.0,1/270.4,1/540.9,1/540.9,1/0.0,2023-05-03
154,キコーナ小田原扇町店,沖ドキGOLD30,779,2015,-1053.0,8,3,0.0,1/183.2,1/251.9,1/671.7,1/0.0,2023-05-03
155,キコーナ小田原扇町店,沖ドキGOLD30,780,2483,1000.0,20,7,0.0,1/92.0,1/124.2,1/354.7,1/0.0,2023-05-03

20886
798
13
17929
72
240

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
339,ピーアーク相模原,スロドル,501,2546,NaN,11,17,NaN,1/90.9,1/231.5,1/149.8,NaN,2023-05-05
243,ピーアーク相模原,とある科学の超電磁砲,502,4227,NaN,73,12,NaN,1/49.7,1/57.9,1/352.2,NaN,2023-05-05
331,ピーアーク相模原,探偵オペラミルキィホームズR大収穫祭,503,4544,NaN,17,5,NaN,1/206.5,1/267.3,1/908.8,NaN,2023-05-05
318,ピーアーク相模原,頭文字D,504,3354,NaN,14,35,NaN,1/68.4,1/239.6,1/95.8,NaN,2023-05-05
340,ピーアーク相模原,OVERLORD絶対支配者光臨II,505,5128,NaN,62,16,NaN,1/65.7,1/82.7,1/320.5,NaN,2023-05-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,ピーアーク相模原,スマスロ北斗の拳,1591,6930,NaN,87,25,NaN,1/61.9,1/79.7,1/277.2,NaN,2023-05-05
105,ピーアーク相模原,スマスロ北斗の拳,1592,5872,NaN,65,12,NaN,1/76.3,1/90.3,1/489.3,NaN,2023-05-05
106,ピーアーク相模原,スマスロ北斗の拳,1593,7180,NaN,79,15,NaN,1/76.4,1/90.9,1/478.7,NaN,2023-05-05
107,ピーアーク相模原,スマスロ北斗の拳,1594,7545,NaN,79,26,NaN,1/71.9,1/95.5,1/290.2,NaN,2023-05-05
108,ピーアーク相模原,スマスロ北斗の拳,1595,6287,NaN,68,16,NaN,1/74.8,1/92.5,1/392.9,NaN,2023-05-05

19905
エラー店舗 ピーアーク相模原 cannot convert float NaN to integer

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
47,中山UNO,甲鉄城のカバネリ,396,7731,2037.0,0,19,60.0,1/97.9,1/0.0,1/406.9,1/128.8,2023-05-06
48,中山UNO,甲鉄城のカバネリ,397,6185,893.0,0,18,48.0,1/93.7,1/0.0,1/343.6,1/128.9,2023-05-06
49,中山UNO,甲鉄城のカバネリ,398,7930,2580.0,0,23,66.0,1/89.1,1/0.0,1/344.8,1/120.2,2023-05-06
50,中山UNO,甲鉄城のカバネリ,399,5879,2877.0,0,19,55.0,1/79.4,1/0.0,1/309.4,1/106.9,2023-05-06
51,中山UNO,甲鉄城のカバネリ,400,5955,-2012.0,0,18,33.0,1/116.8,1/0.0,1/330.8,1/180.5,2023-05-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,中山UNO,ひぐらしのなく頃に祭2,596,310,227.0,1,1,0.0,1/155.0,1/310.0,1/310.0,1/0.0,2023-05-06
201,中山UNO,もっとクレアの秘宝伝女神の歌声と太陽の子供達,597,517,-53.0,2,1,0.0,1/172.3,1/258.5,1/517.0,1/0.0,2023-05-06
202,中山UNO,キャッツアイ,598,272,-307.0,0,0,1.0,1/272.0,1/0.0,1/0.0,1/272.0,2023-05-06
203,中山UNO,黄門ちゃま喝2,599,3746,1133.0,0,0,17.0,1/220.4,1/0.0,1/0.0,1/220.4,2023-05-06
204,中山UNO,Reゼロから始める異世界生活,600,2366,280.0,0,1,28.0,1/81.6,1/0.0,1/2366.0,1/84.5,2023-05-06

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

19487
2759
8
10645
-10
205

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
36,中山ZoRoN,スマスロ北斗の拳,501,7589,2136.0,94,20,0.0,1/66.6,1/80.7,1/379.4,1/0.0,2023-05-06
37,中山ZoRoN,スマスロ北斗の拳,502,7349,-1914.0,63,22,0.0,1/86.5,1/116.7,1/334.0,1/0.0,2023-05-06
38,中山ZoRoN,スマスロ北斗の拳,503,6201,147.0,71,14,0.0,1/73.0,1/87.3,1/442.9,1/0.0,2023-05-06
39,中山ZoRoN,スマスロ北斗の拳,504,5529,1988.0,81,9,0.0,1/61.4,1/68.3,1/614.3,1/0.0,2023-05-06
40,中山ZoRoN,スマスロ北斗の拳,505,7231,3691.0,102,26,0.0,1/56.5,1/70.9,1/278.1,1/0.0,2023-05-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,中山ZoRoN,ファンキージャグラー2,796,2033,-1373.0,3,6,0.0,1/225.9,1/677.7,1/338.8,1/0.0,2023-05-06
73,中山ZoRoN,ファンキージャグラー2,797,4785,440.0,22,12,0.0,1/140.7,1/217.5,1/398.8,1/0.0,2023-05-06
74,中山ZoRoN,ファンキージャグラー2,798,2315,-1320.0,5,2,0.0,1/330.7,1/463.0,1/1157.5,1/0.0,2023-05-06
75,中山ZoRoN,ファンキージャグラー2,799,2386,-1107.0,5,6,0.0,1/216.9,1/477.2,1/397.7,1/0.0,2023-05-06
76,中山ZoRoN,ファンキージャグラー2,800,3850,-2111.0,8,5,0.0,1/296.2,1/481.2,1/770.0,1/0.0,2023-05-06

20140
-146
10
7025
-99
264

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
112,鶴見UNO,ゴブリンスレイヤー,284,4949,-1053.0,0,1,14.0,1/329.9,1/0.0,1/4949.0,1/353.5,2023-05-06
113,鶴見UNO,ゴブリンスレイヤー,285,4671,-1667.0,0,0,13.0,1/359.3,1/0.0,1/0.0,1/359.3,2023-05-06
114,鶴見UNO,ゴブリンスレイヤー,286,5787,8239.0,0,0,29.0,1/199.6,1/0.0,1/0.0,1/199.6,2023-05-06
115,鶴見UNO,ゴブリンスレイヤー,287,4340,-3600.0,0,0,7.0,1/620.0,1/0.0,1/0.0,1/620.0,2023-05-06
116,鶴見UNO,ゴブリンスレイヤー,288,4314,2037.0,0,0,17.0,1/253.8,1/0.0,1/0.0,1/253.8,2023-05-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...
37,鶴見UNO,マイジャグラーV,560,4327,-573.0,15,10,0.0,1/173.1,1/288.5,1/432.7,1/0.0,2023-05-06
38,鶴見UNO,マイジャグラーV,561,7484,547.0,30,26,0.0,1/133.6,1/249.5,1/287.8,1/0.0,2023-05-06
39,鶴見UNO,マイジャグラーV,562,4955,93.0,18,18,0.0,1/137.6,1/275.3,1/275.3,1/0.0,2023-05-06
40,鶴見UNO,マイジャグラーV,563,6944,-120.0,27,16,0.0,1/161.5,1/257.2,1/434.0,1/0.0,2023-05-06
41,鶴見UNO,マイジャグラーV,564,8012,493.0,33,25,0.0,1/138.1,1/242.8,1/320.5,1/0.0,2023-05-06

20940
1008
11
9111
-145
281

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
169,上福岡UNO,花火絶景,357,476,0.0,1,1,0.0,1/238.0,1/476.0,1/476.0,1/0.0,2023-05-06
170,上福岡UNO,ドンちゃん2,358,2136,-1107.0,3,5,0.0,1/267.0,1/712.0,1/427.2,1/0.0,2023-05-06
146,上福岡UNO,ニューゲッターマウス,359,6632,2728.0,39,31,0.0,1/94.7,1/170.1,1/213.9,1/0.0,2023-05-06
147,上福岡UNO,ニューゲッターマウス,360,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-06
148,上福岡UNO,ニューゲッターマウス,361,56,-53.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,上福岡UNO,盾の勇者の成り上がり,537,935,227.0,0,3,18.0,1/44.5,1/0.0,1/311.7,1/51.9,2023-05-06
181,上福岡UNO,笑ゥせぇるすまん4,538,892,547.0,23,6,0.0,1/30.8,1/38.8,1/148.7,1/0.0,2023-05-06
162,上福岡UNO,デビルメイクライ5,539,123,-120.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-06
182,上福岡UNO,ガールズケイリンGIフェアリーグランプリ,540,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-06
183,上福岡UNO,マジカルハロウィンTrickorTreat,541,1345,-867.0,5,0,6.0,1/122.3,1/269.0,1/0.0,1/224.2,2023-05-06

18418
1038
9
10574
62
184

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
87,北越谷UNO,革命機ヴァルヴレイヴ,407,2388,1347.0,25,1,8.0,1/70.2,1/95.5,1/2388.0,1/298.5,2023-05-06
88,北越谷UNO,革命機ヴァルヴレイヴ,408,1849,-1720.0,5,3,7.0,1/123.3,1/369.8,1/616.3,1/264.1,2023-05-06
89,北越谷UNO,革命機ヴァルヴレイヴ,409,3497,2434.0,30,1,10.0,1/85.3,1/116.6,1/3497.0,1/349.7,2023-05-06
90,北越谷UNO,革命機ヴァルヴレイヴ,410,1491,-307.0,13,1,5.0,1/78.5,1/114.7,1/1491.0,1/298.2,2023-05-06
91,北越谷UNO,革命機ヴァルヴレイヴ,411,2216,-2753.0,1,2,10.0,1/170.5,1/2216.0,1/1108.0,1/221.6,2023-05-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,北越谷UNO,スマスロ北斗の拳,610,5296,6671.0,108,15,0.0,1/43.1,1/49.0,1/353.1,1/0.0,2023-05-06
51,北越谷UNO,スマスロ北斗の拳,611,5811,627.0,69,13,0.0,1/70.9,1/84.2,1/447.0,1/0.0,2023-05-06
52,北越谷UNO,スマスロ北斗の拳,612,5700,3988.0,85,23,0.0,1/52.8,1/67.1,1/247.8,1/0.0,2023-05-06
53,北越谷UNO,スマスロ北斗の拳,613,4834,-111.0,54,8,0.0,1/78.0,1/89.5,1/604.2,1/0.0,2023-05-06
54,北越谷UNO,スマスロ北斗の拳,614,5728,-852.0,58,10,0.0,1/84.2,1/98.8,1/572.8,1/0.0,2023-05-06

17106
955
8
9424
-128
206

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
20,せんげん台DUO,HEYエリートサラリーマン鏡,283,3070,1444.0,16,6,0.0,1/139.5,1/191.9,1/511.7,1/0.0,2023-05-06
21,せんげん台DUO,HEYエリートサラリーマン鏡,284,5460,947.0,28,11,0.0,1/140.0,1/195.0,1/496.4,1/0.0,2023-05-06
22,せんげん台DUO,HEYエリートサラリーマン鏡,285,2409,-2358.0,8,1,0.0,1/267.7,1/301.1,1/2409.0,1/0.0,2023-05-06
23,せんげん台DUO,HEYエリートサラリーマン鏡,286,4318,1587.0,22,8,0.0,1/143.9,1/196.3,1/539.8,1/0.0,2023-05-06
24,せんげん台DUO,HEYエリートサラリーマン鏡,287,340,-307.0,1,0,0.0,1/340.0,1/340.0,1/0.0,1/0.0,2023-05-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,せんげん台DUO,バキ強くなりたくば喰らえ,500,1224,-973.0,0,5,8.0,1/94.2,1/0.0,1/244.8,1/153.0,2023-05-06
41,せんげん台DUO,アナザーゴッドハーデス解き放たれし槍撃ver,501,7674,679.0,0,2,16.0,1/426.3,1/0.0,1/3837.0,1/479.6,2023-05-06
221,せんげん台DUO,ディスクアップ2,502,3589,-1373.0,8,11,0.0,1/188.9,1/448.6,1/326.3,1/0.0,2023-05-06
88,せんげん台DUO,沖ドキGOLD,503,1643,547.0,13,4,0.0,1/96.6,1/126.4,1/410.8,1/0.0,2023-05-06
57,せんげん台DUO,ファンキージャグラー2,504,6670,147.0,27,21,0.0,1/139.0,1/247.0,1/317.6,1/0.0,2023-05-06

19651
-450
8
8130
-23
222

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
135,みずほ台UNO,新鬼武者2,375,6425,147.0,0,23,50.0,1/88.0,1/0.0,1/279.3,1/128.5,2023-05-06
136,みずほ台UNO,新鬼武者2,376,2595,-309.0,0,16,22.0,1/68.3,1/0.0,1/162.2,1/118.0,2023-05-06
58,みずほ台UNO,アナザーゴッドハーデス解き放たれし槍撃ver,377,5807,-4903.0,0,0,5.0,1/1161.4,1/0.0,1/0.0,1/1161.4,2023-05-06
59,みずほ台UNO,アナザーゴッドハーデス解き放たれし槍撃ver,378,6450,-2012.0,0,1,11.0,1/537.5,1/0.0,1/6450.0,1/586.4,2023-05-06
60,みずほ台UNO,アナザーゴッドハーデス解き放たれし槍撃ver,379,5835,-3074.0,0,0,9.0,1/648.3,1/0.0,1/0.0,1/648.3,2023-05-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,みずほ台UNO,革命機ヴァルヴレイヴ,580,3096,-506.0,25,1,0.0,1/119.1,1/123.8,1/3096.0,1/0.0,2023-05-06
110,みずほ台UNO,革命機ヴァルヴレイヴ,581,4333,-3395.0,10,5,0.0,1/288.9,1/433.3,1/866.6,1/0.0,2023-05-06
105,みずほ台UNO,リノヘブン,582,157,-200.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-06
137,みずほ台UNO,新鬼武者2,583,7258,-3568.0,0,16,40.0,1/129.6,1/0.0,1/453.6,1/181.4,2023-05-06
138,みずほ台UNO,新鬼武者2,584,3315,-813.0,0,7,26.0,1/100.5,1/0.0,1/473.6,1/127.5,2023-05-06

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

18132
-1045
8
10360
-225
210

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
58,本八幡UNO,HEYエリートサラリーマン鏡,556,2294,-1453.0,0,3,8.0,1/208.5,1/0.0,1/764.7,1/286.8,2023-05-06
59,本八幡UNO,HEYエリートサラリーマン鏡,557,5002,-653.0,0,8,17.0,1/200.1,1/0.0,1/625.2,1/294.2,2023-05-06
60,本八幡UNO,HEYエリートサラリーマン鏡,558,4583,787.0,0,11,25.0,1/127.3,1/0.0,1/416.6,1/183.3,2023-05-06
61,本八幡UNO,HEYエリートサラリーマン鏡,559,2179,-1107.0,0,2,9.0,1/198.1,1/0.0,1/1089.5,1/242.1,2023-05-06
62,本八幡UNO,HEYエリートサラリーマン鏡,560,6339,2086.0,0,11,28.0,1/162.5,1/0.0,1/576.3,1/226.4,2023-05-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,本八幡UNO,ゴブリンスレイヤー,884,4808,-53.0,0,1,14.0,1/320.5,1/0.0,1/4808.0,1/343.4,2023-05-06
178,本八幡UNO,ゴブリンスレイヤー,885,8338,6284.0,0,0,36.0,1/231.6,1/0.0,1/0.0,1/231.6,2023-05-06
179,本八幡UNO,ゴブリンスレイヤー,886,8651,12636.0,0,2,45.0,1/184.1,1/0.0,1/4325.5,1/192.2,2023-05-06
180,本八幡UNO,ゴブリンスレイヤー,887,6410,2434.0,0,2,22.0,1/267.1,1/0.0,1/3205.0,1/291.4,2023-05-06
181,本八幡UNO,ゴブリンスレイヤー,888,7830,8099.0,0,1,28.0,1/270.0,1/0.0,1/7830.0,1/279.6,2023-05-06

20636
-366
15
12193
11
328

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
18,南柏UNO,アナザーゴッドハーデス解き放たれし槍撃ver,169,7326,-3222.0,0,0,9.0,1/814.0,1/0.0,1/0.0,1/814.0,2023-05-06
19,南柏UNO,アナザーゴッドハーデス解き放たれし槍撃ver,170,6560,-803.0,0,1,12.0,1/504.6,1/0.0,1/6560.0,1/546.7,2023-05-06
20,南柏UNO,アナザーゴッドハーデス解き放たれし槍撃ver,171,2272,-1272.0,0,0,5.0,1/454.4,1/0.0,1/0.0,1/454.4,2023-05-06
21,南柏UNO,アナザーゴッドハーデス解き放たれし槍撃ver,172,4810,1395.0,0,1,8.0,1/534.4,1/0.0,1/4810.0,1/601.2,2023-05-06
22,南柏UNO,アナザーゴッドハーデス解き放たれし槍撃ver,173,2312,-973.0,0,0,1.0,1/2312.0,1/0.0,1/0.0,1/2312.0,2023-05-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,南柏UNO,ガメラ,596,955,-653.0,1,2,0.0,1/318.3,1/955.0,1/477.5,1/0.0,2023-05-06
198,南柏UNO,ガメラ,597,315,-120.0,1,0,0.0,1/315.0,1/315.0,1/0.0,1/0.0,2023-05-06
159,南柏UNO,スーパーリオエース,598,336,-253.0,2,0,0.0,1/168.0,1/168.0,1/0.0,1/0.0,2023-05-06
160,南柏UNO,スーパーリオエース,599,1059,333.0,2,0,2.0,1/264.8,1/529.5,1/0.0,1/529.5,2023-05-06
161,南柏UNO,スーパーリオエース,600,3970,2037.0,8,0,6.0,1/283.6,1/496.2,1/0.0,1/661.7,2023-05-06

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

19810
-946
8
9331
-208
216

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
98,稲毛海岸UNO,甲鉄城のカバネリ,317,0,0.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-06
99,稲毛海岸UNO,甲鉄城のカバネリ,318,2954,-1716.0,19,12,NaN,1/95.3,1/155.5,1/246.2,NaN,2023-05-06
100,稲毛海岸UNO,甲鉄城のカバネリ,319,4763,1148.0,46,20,NaN,1/72.2,1/103.5,1/238.2,NaN,2023-05-06
101,稲毛海岸UNO,甲鉄城のカバネリ,320,3583,-1370.0,28,15,NaN,1/83.3,1/128.0,1/238.9,NaN,2023-05-06
102,稲毛海岸UNO,甲鉄城のカバネリ,321,4633,5451.0,80,27,NaN,1/43.3,1/57.9,1/171.6,NaN,2023-05-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,稲毛海岸UNO,CCエンジェル,551,1801,-413.0,7,3,NaN,1/180.1,1/257.3,1/600.3,NaN,2023-05-06
234,稲毛海岸UNO,ツインエンジェルPARTY,552,1416,-867.0,5,9,NaN,1/101.1,1/283.2,1/157.3,NaN,2023-05-06
235,稲毛海岸UNO,かまいたちの夜,553,268,-200.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-06
199,稲毛海岸UNO,Lucky海物語,554,435,387.0,3,1,NaN,1/108.8,1/145.0,1/435.0,NaN,2023-05-06
236,稲毛海岸UNO,月華雅,555,98,-200.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-06

17513
-944
8
7498
-95
237

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
399,パラッツォ三郷中央店,ひぐらしのなく頃に祭2,850,3718,-589.0,7,9,NaN,1/232.4,1/531.1,1/413.1,NaN,2023-05-06
479,パラッツォ三郷中央店,OVERSLOT「AINZOOALGOWN絶対支配者光臨」,851,872,-763.0,1,0,NaN,1/872.0,1/872.0,1/0.0,NaN,2023-05-06
480,パラッツォ三郷中央店,天下布武4,852,4252,-1039.0,20,11,NaN,1/137.2,1/212.6,1/386.5,NaN,2023-05-06
481,パラッツォ三郷中央店,ガールズパンツァー劇場版,853,847,-980.0,3,0,NaN,1/282.3,1/282.3,1/0.0,NaN,2023-05-06
482,パラッツォ三郷中央店,対魔導学園35試験小隊,855,1300,134.0,4,7,NaN,1/118.2,1/325.0,1/185.7,NaN,2023-05-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,パラッツォ三郷中央店,バキ強くなりたくば喰らえ,2013,3627,442.0,72,21,NaN,1/39.0,1/50.4,1/172.7,NaN,2023-05-06
251,パラッツォ三郷中央店,バキ強くなりたくば喰らえ,2015,2568,2188.0,61,12,NaN,1/35.2,1/42.1,1/214.0,NaN,2023-05-06
252,パラッツォ三郷中央店,バキ強くなりたくば喰らえ,2016,737,-714.0,5,4,NaN,1/81.9,1/147.4,1/184.2,NaN,2023-05-06
253,パラッツォ三郷中央店,バキ強くなりたくば喰らえ,2017,1900,-1349.0,15,7,NaN,1/86.4,1/126.7,1/271.4,NaN,2023-05-06
519,パラッツォ三郷中央店,リノヘブン,2018,236,-391.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-06

19776
-352
20
9719
-387
520

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
77,アビバ上大岡店,ゴブリンスレイヤー,685,4204,387.0,24,1,NaN,1/168.2,1/175.2,1/4204.0,NaN,2023-05-06
78,アビバ上大岡店,ゴブリンスレイヤー,686,6264,-2060.0,27,1,NaN,1/223.7,1/232.0,1/6264.0,NaN,2023-05-06
79,アビバ上大岡店,ゴブリンスレイヤー,687,3557,-2455.0,11,1,NaN,1/296.4,1/323.4,1/3557.0,NaN,2023-05-06
80,アビバ上大岡店,ゴブリンスレイヤー,688,5905,-7623.0,5,0,NaN,1/1181.0,1/1181.0,1/0.0,NaN,2023-05-06
81,アビバ上大岡店,ゴブリンスレイヤー,700,4216,2763.0,25,1,NaN,1/162.2,1/168.6,1/4216.0,NaN,2023-05-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27,アビバ上大岡店,マイジャグラーV,1005,6588,-1329.0,20,19,NaN,1/168.9,1/329.4,1/346.7,NaN,2023-05-06
28,アビバ上大岡店,マイジャグラーV,1006,8972,1499.0,39,31,NaN,1/128.2,1/230.1,1/289.4,NaN,2023-05-06
29,アビバ上大岡店,マイジャグラーV,1007,8426,656.0,37,18,NaN,1/153.2,1/227.7,1/468.1,NaN,2023-05-06
30,アビバ上大岡店,マイジャグラーV,1008,7667,1125.0,34,20,NaN,1/142.0,1/225.5,1/383.4,NaN,2023-05-06
31,アビバ上大岡店,マイジャグラーV,1010,6010,-985.0,20,19,NaN,1/154.1,1/300.5,1/316.3,NaN,2023-05-06

20468
-1658
6
11896
-354
141

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
0,123+N松原店,マイジャグラーV,861,6327,331.0,27,13,0.0,1/158.2,1/234.3,1/486.7,1/0.0,2023-05-07
1,123+N松原店,マイジャグラーV,862,7963,105.0,29,23,0.0,1/153.1,1/274.6,1/346.2,1/0.0,2023-05-07
2,123+N松原店,マイジャグラーV,863,8086,3977.0,41,33,0.0,1/109.3,1/197.2,1/245.0,1/0.0,2023-05-07
3,123+N松原店,マイジャグラーV,864,7742,477.0,29,22,0.0,1/151.8,1/267.0,1/351.9,1/0.0,2023-05-07
4,123+N松原店,マイジャグラーV,865,4253,-1035.0,15,4,0.0,1/223.8,1/283.5,1/1063.2,1/0.0,2023-05-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,123+N松原店,ファンキージャグラー2,1409,3969,-41.0,17,7,0.0,1/165.4,1/233.5,1/567.0,1/0.0,2023-05-07
145,123+N松原店,ファンキージャグラー2,1410,7520,1198.0,30,24,0.0,1/139.3,1/250.7,1/313.3,1/0.0,2023-05-07
146,123+N松原店,ファンキージャグラー2,1411,1807,-529.0,5,3,0.0,1/225.9,1/361.4,1/602.3,1/0.0,2023-05-07
147,123+N松原店,ファンキージャグラー2,1412,7346,895.0,33,17,0.0,1/146.9,1/222.6,1/432.1,1/0.0,2023-05-07
148,123+N松原店,ファンキージャグラー2,1413,5721,1267.0,26,16,0.0,1/136.2,1/220.0,1/357.6,1/0.0,2023-05-07

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

18232
930
32
13743
-97
470

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
332,123+N和歌山本店,モンキーターンIV,705,3932,-1356.0,0,7,14.0,1/187.2,1/0.0,1/561.7,1/280.9,2023-05-07
333,123+N和歌山本店,モンキーターンIV,706,1730,-1356.0,0,2,5.0,1/247.1,1/0.0,1/865.0,1/346.0,2023-05-07
334,123+N和歌山本店,モンキーターンIV,707,2694,-417.0,0,4,11.0,1/179.6,1/0.0,1/673.5,1/244.9,2023-05-07
368,123+N和歌山本店,ゼーガペイン2,708,968,-683.0,1,3,0.0,1/242.0,1/968.0,1/322.7,1/0.0,2023-05-07
366,123+N和歌山本店,笑ゥせぇるすまん4,709,436,-261.0,7,1,0.0,1/54.5,1/62.3,1/436.0,1/0.0,2023-05-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...
178,123+N和歌山本店,バジリスク絆2,1096,6395,-1868.0,48,0,25.0,1/87.6,1/133.2,1/0.0,1/255.8,2023-05-07
179,123+N和歌山本店,バジリスク絆2,1097,4058,-422.0,33,0,22.0,1/73.8,1/123.0,1/0.0,1/184.5,2023-05-07
180,123+N和歌山本店,バジリスク絆2,1098,2698,-700.0,20,0,11.0,1/87.0,1/134.9,1/0.0,1/245.3,2023-05-07
181,123+N和歌山本店,バジリスク絆2,1099,3525,-456.0,33,0,19.0,1/67.8,1/106.8,1/0.0,1/185.5,2023-05-07
182,123+N和歌山本店,バジリスク絆2,1100,1563,-940.0,7,0,3.0,1/156.3,1/223.3,1/0.0,1/521.0,2023-05-07

18988
-124
22
13431
-159
396

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
317,123門真店,バキ強くなりたくば喰らえ,793,3200,NaN,0,11,17.0,1/114.3,1/0.0,1/290.9,1/188.2,2023-05-07
318,123門真店,バキ強くなりたくば喰らえ,794,2932,NaN,0,9,26.0,1/83.8,1/0.0,1/325.8,1/112.8,2023-05-07
319,123門真店,バキ強くなりたくば喰らえ,795,4139,NaN,0,11,52.0,1/65.7,1/0.0,1/376.3,1/79.6,2023-05-07
320,123門真店,バキ強くなりたくば喰らえ,796,2500,NaN,0,10,22.0,1/78.1,1/0.0,1/250.0,1/113.6,2023-05-07
321,123門真店,バキ強くなりたくば喰らえ,797,3841,NaN,0,12,25.0,1/103.8,1/0.0,1/320.1,1/153.6,2023-05-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,123門真店,スマスロ北斗の拳,1234,5150,NaN,74,15,0.0,1/57.9,1/69.6,1/343.3,1/0.0,2023-05-07
147,123門真店,スマスロ北斗の拳,1235,6995,NaN,57,12,0.0,1/101.4,1/122.7,1/582.9,1/0.0,2023-05-07
148,123門真店,スマスロ北斗の拳,1236,5935,NaN,56,19,0.0,1/79.1,1/106.0,1/312.4,1/0.0,2023-05-07
149,123門真店,スマスロ北斗の拳,1237,4649,NaN,29,11,0.0,1/116.2,1/160.3,1/422.6,1/0.0,2023-05-07
150,123門真店,スマスロ北斗の拳,1238,4868,NaN,43,13,0.0,1/86.9,1/113.2,1/374.5,1/0.0,2023-05-07

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )

19047
エラー店舗 123門真店 cannot convert float NaN to integer

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
265,上尾UNO,ニューパルサーSPIII,513,2428,-813.0,7,3,NaN,1/242.8,1/346.9,1/809.3,NaN,2023-05-07
266,上尾UNO,ニューパルサーSPIII,514,1767,-253.0,6,3,NaN,1/196.3,1/294.5,1/589.0,NaN,2023-05-07
267,上尾UNO,ニューパルサーSPIII,515,1837,787.0,10,3,NaN,1/141.3,1/183.7,1/612.3,NaN,2023-05-07
210,上尾UNO,ニューパルサーDX3,516,844,-360.0,2,2,NaN,1/211.0,1/422.0,1/422.0,NaN,2023-05-07
211,上尾UNO,ニューパルサーDX3,517,1014,-760.0,1,1,NaN,1/507.0,1/1014.0,1/1014.0,NaN,2023-05-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...
52,上尾UNO,スマスロ北斗の拳,893,5510,679.0,64,13,NaN,1/71.6,1/86.1,1/423.8,NaN,2023-05-07
189,上尾UNO,新鬼武者2,894,3088,-1914.0,28,8,NaN,1/85.8,1/110.3,1/386.0,NaN,2023-05-07
93,上尾UNO,マイジャグラーV,895,8322,-1914.0,24,23,NaN,1/177.1,1/346.8,1/361.8,NaN,2023-05-07
94,上尾UNO,マイジャグラーV,896,5815,93.0,21,17,NaN,1/153.0,1/276.9,1/342.1,NaN,2023-05-07
20,上尾UNO,アイムジャグラーEXTP,897,7698,-253.0,26,26,NaN,1/148.0,1/296.1,1/296.1,NaN,2023-05-07

17948
2464
15
7269
2
329

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
52,ピーアーク朝霞,HEYエリートサラリーマン鏡,234,3662,-568.0,18,9,0.0,1/135.6,1/203.4,1/406.9,1/0.0,2023-05-07
53,ピーアーク朝霞,HEYエリートサラリーマン鏡,235,3240,1185.0,18,9,0.0,1/120.0,1/180.0,1/360.0,1/0.0,2023-05-07
54,ピーアーク朝霞,HEYエリートサラリーマン鏡,236,5153,536.0,29,12,0.0,1/125.7,1/177.7,1/429.4,1/0.0,2023-05-07
55,ピーアーク朝霞,HEYエリートサラリーマン鏡,237,3306,-889.0,19,7,0.0,1/127.2,1/174.0,1/472.3,1/0.0,2023-05-07
56,ピーアーク朝霞,HEYエリートサラリーマン鏡,238,3623,-121.0,26,8,0.0,1/106.6,1/139.3,1/452.9,1/0.0,2023-05-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18,ピーアーク朝霞,マイジャグラーV,379,794,-766.0,0,2,0.0,1/397.0,1/0.0,1/397.0,1/0.0,2023-05-07
19,ピーアーク朝霞,マイジャグラーV,380,3633,-1260.0,7,13,0.0,1/181.7,1/519.0,1/279.5,1/0.0,2023-05-07
20,ピーアーク朝霞,マイジャグラーV,381,1051,-267.0,4,0,0.0,1/262.8,1/262.8,1/0.0,1/0.0,2023-05-07
21,ピーアーク朝霞,マイジャグラーV,382,4556,744.0,23,9,0.0,1/142.4,1/198.1,1/506.2,1/0.0,2023-05-07
22,ピーアーク朝霞,マイジャグラーV,383,5106,184.0,18,16,0.0,1/150.2,1/283.7,1/319.1,1/0.0,2023-05-07

16883
1275
9
7852
-149
150

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
130,マルハン草薙アピア店,ファンキージャグラー2,607,8196,1400.0,36,27,NaN,1/130.1,1/227.7,1/303.6,NaN,2023-05-07
131,マルハン草薙アピア店,ファンキージャグラー2,608,1196,-1100.0,1,2,NaN,1/398.7,1/1196.0,1/598.0,NaN,2023-05-07
132,マルハン草薙アピア店,ファンキージャグラー2,609,5080,900.0,24,11,NaN,1/145.1,1/211.7,1/461.8,NaN,2023-05-07
133,マルハン草薙アピア店,ファンキージャグラー2,610,1242,-700.0,1,4,NaN,1/248.4,1/1242.0,1/310.5,NaN,2023-05-07
134,マルハン草薙アピア店,ファンキージャグラー2,611,6491,300.0,31,10,NaN,1/158.3,1/209.4,1/649.1,NaN,2023-05-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...
231,マルハン草薙アピア店,ディスクアップ2,1026,202,-300.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-07
232,マルハン草薙アピア店,ディスクアップ2,1027,1108,-600.0,2,4,NaN,1/184.7,1/554.0,1/277.0,NaN,2023-05-07
233,マルハン草薙アピア店,ディスクアップ2,1028,3853,-1000.0,10,8,NaN,1/214.1,1/385.3,1/481.6,NaN,2023-05-07
234,マルハン草薙アピア店,ディスクアップ2,1029,1369,-1200.0,2,2,NaN,1/342.2,1/684.5,1/684.5,NaN,2023-05-07
235,マルハン草薙アピア店,ディスクアップ2,1030,3358,1100.0,16,5,NaN,1/159.9,1/209.9,1/671.6,NaN,2023-05-07

19280
1335
14
11733
-33
385

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
147,パールショップともえ大和560,スーパーハナハナ30,251,394,-97.0,1,3,NaN,1/98.5,1/394.0,1/131.3,NaN,2023-05-08
148,パールショップともえ大和560,スーパーハナハナ30,252,18,-28.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-08
149,パールショップともえ大和560,スーパーハナハナ30,253,74,-83.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-08
150,パールショップともえ大和560,スーパーハナハナ30,255,16,-28.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-08
198,パールショップともえ大和560,沖ドキ2,256,101,-97.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,パールショップともえ大和560,アイムジャグラーEXTP,1065,1283,-456.0,4,1,NaN,1/256.6,1/320.8,1/1283.0,NaN,2023-05-08
84,パールショップともえ大和560,アイムジャグラーEXTP,1066,699,-290.0,2,0,NaN,1/349.5,1/349.5,1/0.0,NaN,2023-05-08
85,パールショップともえ大和560,アイムジャグラーEXTP,1067,1854,262.0,8,3,NaN,1/168.5,1/231.8,1/618.0,NaN,2023-05-08
86,パールショップともえ大和560,アイムジャグラーEXTP,1068,3721,344.0,15,10,NaN,1/148.8,1/248.1,1/372.1,NaN,2023-05-08
87,パールショップともえ大和560,アイムジャグラーEXTP,1070,1974,-1200.0,3,4,NaN,1/282.0,1/658.0,1/493.5,NaN,2023-05-08

14691
300
11
2656
-23
235

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
182,Dステーション上田店,ゴブリンスレイヤー,529,2403,NaN,25,1,0.0,1/92.4,1/96.1,1/2403.0,1/0.0,2023-05-09
183,Dステーション上田店,ゴブリンスレイヤー,530,1081,NaN,1,0,0.0,1/1081.0,1/1081.0,1/0.0,1/0.0,2023-05-09
184,Dステーション上田店,ゴブリンスレイヤー,531,2247,NaN,7,1,0.0,1/280.9,1/321.0,1/2247.0,1/0.0,2023-05-09
185,Dステーション上田店,ゴブリンスレイヤー,532,2266,NaN,5,0,0.0,1/453.2,1/453.2,1/0.0,1/0.0,2023-05-09
158,Dステーション上田店,HEYエリートサラリーマン鏡,533,0,NaN,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,Dステーション上田店,甲鉄城のカバネリ,798,2948,NaN,0,11,7.0,1/163.8,1/0.0,1/268.0,1/421.1,2023-05-09
69,Dステーション上田店,甲鉄城のカバネリ,799,4404,NaN,0,24,12.0,1/122.3,1/0.0,1/183.5,1/367.0,2023-05-09
70,Dステーション上田店,甲鉄城のカバネリ,800,630,NaN,0,1,1.0,1/315.0,1/0.0,1/630.0,1/630.0,2023-05-09
71,Dステーション上田店,甲鉄城のカバネリ,801,4165,NaN,0,19,10.0,1/143.6,1/0.0,1/219.2,1/416.5,2023-05-09
72,Dステーション上田店,甲鉄城のカバネリ,802,1649,NaN,0,5,3.0,1/206.1,1/0.0,1/329.8,1/549.7,2023-05-09

17581
エラー店舗 Dステーション上田店 cannot convert float NaN to integer

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
303,MGM小山本郷店,花火絶景,641,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-09
304,MGM小山本郷店,花火絶景,642,384,-483.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-09
305,MGM小山本郷店,花火絶景,643,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-09
306,MGM小山本郷店,花火絶景,644,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-09
120,MGM小山本郷店,アナザーゴッドハーデス解き放たれし槍撃ver,645,7342,-1777.0,0,1,9.0,1/734.2,1/0.0,1/7342.0,1/815.8,2023-05-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,MGM小山本郷店,ハナハナホウオウ天翔30,1016,173,-152.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-09
96,MGM小山本郷店,ハナハナホウオウ天翔30,1017,344,-207.0,0,1,0.0,1/344.0,1/0.0,1/344.0,1/0.0,2023-05-09
97,MGM小山本郷店,ハナハナホウオウ天翔30,1018,431,-152.0,1,0,0.0,1/431.0,1/431.0,1/0.0,1/0.0,2023-05-09
98,MGM小山本郷店,ハナハナホウオウ天翔30,1019,1521,-152.0,4,3,0.0,1/217.3,1/380.2,1/507.0,1/0.0,2023-05-09
99,MGM小山本郷店,ハナハナホウオウ天翔30,1020,194,-152.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-09

19465
505
20

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)

8371
110
355

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
229,楽園沼津店,機動戦士ガンダムユニコーン,2001,1502,715.0,0,4,32.0,1/41.7,1/0.0,1/375.5,1/46.9,2023-05-09
230,楽園沼津店,機動戦士ガンダムユニコーン,2002,1067,477.0,0,2,15.0,1/62.8,1/0.0,1/533.5,1/71.1,2023-05-09
231,楽園沼津店,機動戦士ガンダムユニコーン,2003,120,-142.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-09
232,楽園沼津店,機動戦士ガンダムユニコーン,2004,109,-142.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-09
233,楽園沼津店,機動戦士ガンダムユニコーン,2005,130,-190.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...
272,楽園沼津店,劇場版魔法少女まどか☆マギカ前編始まりの物語後編永遠の物語,2349,714,-571.0,5,0,5.0,1/71.4,1/142.8,1/0.0,1/142.8,2023-05-09
273,楽園沼津店,劇場版魔法少女まどか☆マギカ前編始まりの物語後編永遠の物語,2350,1019,-476.0,13,0,0.0,1/78.4,1/78.4,1/0.0,1/0.0,2023-05-09
316,楽園沼津店,緋弾のアリアII,2351,602,-476.0,0,1,5.0,1/100.3,1/0.0,1/602.0,1/120.4,2023-05-09
317,楽園沼津店,緋弾のアリアII,2352,714,-333.0,0,1,7.0,1/89.2,1/0.0,1/714.0,1/102.0,2023-05-09
318,楽園沼津店,緋弾のアリアII,2353,1201,-95.0,0,3,16.0,1/63.2,1/0.0,1/400.3,1/75.1,2023-05-09

15342
-441
33
7397
-97
351

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
269,メガコンコルド1020刈谷知立店,ゴブリンスレイヤー,1131,5546,-1223.0,27,1,0.0,1/198.1,1/205.4,1/5546.0,1/0.0,2023-05-10
270,メガコンコルド1020刈谷知立店,ゴブリンスレイヤー,1132,6429,-1777.0,23,2,0.0,1/257.2,1/279.5,1/3214.5,1/0.0,2023-05-10
271,メガコンコルド1020刈谷知立店,ゴブリンスレイヤー,1133,6103,-5322.0,15,0,0.0,1/406.9,1/406.9,1/0.0,1/0.0,2023-05-10
272,メガコンコルド1020刈谷知立店,ゴブリンスレイヤー,1135,6221,-1979.0,26,0,0.0,1/239.3,1/239.3,1/0.0,1/0.0,2023-05-10
273,メガコンコルド1020刈谷知立店,ゴブリンスレイヤー,1136,5982,2105.0,30,2,0.0,1/186.9,1/199.4,1/2991.0,1/0.0,2023-05-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
359,メガコンコルド1020刈谷知立店,犬夜叉,1887,3614,951.0,0,9,49.0,1/62.3,1/0.0,1/401.6,1/73.8,2023-05-10
360,メガコンコルド1020刈谷知立店,犬夜叉,1888,7900,3391.0,0,18,106.0,1/63.7,1/0.0,1/438.9,1/74.5,2023-05-10
361,メガコンコルド1020刈谷知立店,犬夜叉,2000,3484,-1071.0,0,7,30.0,1/94.2,1/0.0,1/497.7,1/116.1,2023-05-10
362,メガコンコルド1020刈谷知立店,犬夜叉,2001,1072,-1200.0,0,3,2.0,1/214.4,1/0.0,1/357.3,1/536.0,2023-05-10
363,メガコンコルド1020刈谷知立店,犬夜叉,2002,3052,-2130.0,0,8,18.0,1/117.4,1/0.0,1/381.5,1/169.6,2023-05-10

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

20633
1200
30
16373
-62
426

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
0,123+N大阪本店,マイジャグラーV,549,7479,213.0,28,24,0.0,1/143.8,1/267.1,1/311.6,1/0.0,2023-05-11
1,123+N大阪本店,マイジャグラーV,550,8712,660.0,31,37,0.0,1/128.1,1/281.0,1/235.5,1/0.0,2023-05-11
2,123+N大阪本店,マイジャグラーV,551,8082,968.0,37,19,0.0,1/144.3,1/218.4,1/425.4,1/0.0,2023-05-11
3,123+N大阪本店,マイジャグラーV,552,7034,598.0,31,17,0.0,1/146.5,1/226.9,1/413.8,1/0.0,2023-05-11
4,123+N大阪本店,マイジャグラーV,553,4797,-586.0,17,11,0.0,1/171.3,1/282.2,1/436.1,1/0.0,2023-05-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,123+N大阪本店,ディスクアップ2,1318,8504,1644.0,31,19,0.0,1/170.1,1/274.3,1/447.6,1/0.0,2023-05-11
463,123+N大阪本店,ひぐらしのなく頃に祭2,1319,7084,-240.0,16,15,0.0,1/228.5,1/442.8,1/472.3,1/0.0,2023-05-11
416,123+N大阪本店,新ハナビ,1320,5319,931.0,25,11,0.0,1/147.8,1/212.8,1/483.5,1/0.0,2023-05-11
306,123+N大阪本店,ディスクアップ2,1321,6060,1350.0,27,16,0.0,1/140.9,1/224.4,1/378.8,1/0.0,2023-05-11
465,123+N大阪本店,マッピー,1322,7792,2425.0,41,16,0.0,1/136.7,1/190.0,1/487.0,1/0.0,2023-05-11

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

19122
1215
37
21170
385
480

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
47,ピーアーク朝霞,HEYエリートサラリーマン鏡,234,766,129.0,5,2,0.0,1/109.4,1/153.2,1/383.0,1/0.0,2023-05-11
48,ピーアーク朝霞,HEYエリートサラリーマン鏡,235,308,-185.0,2,1,0.0,1/102.7,1/154.0,1/308.0,1/0.0,2023-05-11
49,ピーアーク朝霞,HEYエリートサラリーマン鏡,236,1454,-710.0,7,3,0.0,1/145.4,1/207.7,1/484.7,1/0.0,2023-05-11
50,ピーアーク朝霞,HEYエリートサラリーマン鏡,237,271,-366.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-11
51,ピーアーク朝霞,HEYエリートサラリーマン鏡,238,1440,-689.0,7,2,0.0,1/160.0,1/205.7,1/720.0,1/0.0,2023-05-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18,ピーアーク朝霞,マイジャグラーV,379,2696,-305.0,10,7,0.0,1/158.6,1/269.6,1/385.1,1/0.0,2023-05-11
19,ピーアーク朝霞,マイジャグラーV,380,2562,-570.0,7,7,0.0,1/183.0,1/366.0,1/366.0,1/0.0,2023-05-11
20,ピーアーク朝霞,マイジャグラーV,381,4618,501.0,17,20,0.0,1/124.8,1/271.6,1/230.9,1/0.0,2023-05-11
21,ピーアーク朝霞,マイジャグラーV,382,510,-271.0,1,1,0.0,1/255.0,1/510.0,1/510.0,1/0.0,2023-05-11
22,ピーアーク朝霞,マイジャグラーV,383,1746,-723.0,5,3,0.0,1/218.2,1/349.2,1/582.0,1/0.0,2023-05-11

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

18208
1312
10
6087
-68
150

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
160,アビバ逗子駅前店,マイジャグラーV,1001,5812,-253.0,24,8,NaN,1/181.6,1/242.2,1/726.5,NaN,2023-05-12
161,アビバ逗子駅前店,マイジャグラーV,1002,2824,-1160.0,7,6,NaN,1/217.2,1/403.4,1/470.7,NaN,2023-05-12
162,アビバ逗子駅前店,マイジャグラーV,1003,7635,1027.0,35,15,NaN,1/152.7,1/218.1,1/509.0,NaN,2023-05-12
48,アビバ逗子駅前店,ファンキージャグラー2,1005,3300,-200.0,12,8,NaN,1/165.0,1/275.0,1/412.5,NaN,2023-05-12
49,アビバ逗子駅前店,ファンキージャグラー2,1006,224,-253.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,アビバ逗子駅前店,バジリスク絆2,1277,401,0.0,7,3,NaN,1/40.1,1/57.3,1/133.7,NaN,2023-05-12
94,アビバ逗子駅前店,バジリスク絆2,1278,218,0.0,1,1,NaN,1/109.0,1/218.0,1/218.0,NaN,2023-05-12
95,アビバ逗子駅前店,バジリスク絆2,1280,0,0.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-12
96,アビバ逗子駅前店,バジリスク絆2,1281,0,0.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-12
97,アビバ逗子駅前店,バジリスク絆2,1282,129,2235.0,8,18,NaN,1/5.0,1/16.1,1/7.2,NaN,2023-05-12

18104
-1685
8

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )

4358
-79
186

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
303,MGM小山本郷店,花火絶景,641,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-12
304,MGM小山本郷店,花火絶景,642,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-12
305,MGM小山本郷店,花火絶景,643,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-12
306,MGM小山本郷店,花火絶景,644,7,-28.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-12
120,MGM小山本郷店,アナザーゴッドハーデス解き放たれし槍撃ver,645,3180,1021.0,0,1,6.0,1/454.3,1/0.0,1/3180.0,1/530.0,2023-05-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,MGM小山本郷店,ハナハナホウオウ天翔30,1016,2387,510.0,11,3,0.0,1/170.5,1/217.0,1/795.7,1/0.0,2023-05-12
96,MGM小山本郷店,ハナハナホウオウ天翔30,1017,394,-456.0,0,1,0.0,1/394.0,1/0.0,1/394.0,1/0.0,2023-05-12
97,MGM小山本郷店,ハナハナホウオウ天翔30,1018,351,0.0,2,0,0.0,1/175.5,1/175.5,1/0.0,1/0.0,2023-05-12
98,MGM小山本郷店,ハナハナホウオウ天翔30,1019,357,-235.0,0,1,0.0,1/357.0,1/0.0,1/357.0,1/0.0,2023-05-12
99,MGM小山本郷店,ハナハナホウオウ天翔30,1020,4046,951.0,22,5,0.0,1/149.9,1/183.9,1/809.2,1/0.0,2023-05-12

18012
1312
20
7219
-68
354

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
31,アビバ南足柄店,HEYエリートサラリーマン鏡,738,4455,4029.0,30,16,NaN,1/96.8,1/148.5,1/278.4,NaN,2023-05-13
32,アビバ南足柄店,HEYエリートサラリーマン鏡,750,623,-185.0,4,1,NaN,1/124.6,1/155.8,1/623.0,NaN,2023-05-13
33,アビバ南足柄店,HEYエリートサラリーマン鏡,751,365,-418.0,1,0,NaN,1/365.0,1/365.0,1/0.0,NaN,2023-05-13
34,アビバ南足柄店,HEYエリートサラリーマン鏡,752,553,-551.0,2,0,NaN,1/276.5,1/276.5,1/0.0,NaN,2023-05-13
35,アビバ南足柄店,HEYエリートサラリーマン鏡,753,561,-708.0,1,0,NaN,1/561.0,1/561.0,1/0.0,NaN,2023-05-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,アビバ南足柄店,スーパーリオエース,1227,23,-47.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-13
211,アビバ南足柄店,麻雀格闘倶楽部参,1228,806,-793.0,2,2,NaN,1/201.5,1/403.0,1/403.0,NaN,2023-05-13
212,アビバ南足柄店,黄門ちゃま喝2,1230,1693,1045.0,16,0,NaN,1/105.8,1/105.8,1/0.0,NaN,2023-05-13
213,アビバ南足柄店,シャア専用パチスロ逆襲の赤い彗星,1231,2660,-250.0,34,4,NaN,1/70.0,1/78.2,1/665.0,NaN,2023-05-13
214,アビバ南足柄店,この素晴らしい世界に祝福を,1232,1936,417.0,44,7,NaN,1/38.0,1/44.0,1/276.6,NaN,2023-05-13

18551
427
10
8890
-161
215

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
57,中山UNO,甲鉄城のカバネリ,396,6487,4103.0,0,17,63.0,1/81.1,1/0.0,1/381.6,1/103.0,2023-05-13
58,中山UNO,甲鉄城のカバネリ,397,7901,136.0,0,20,57.0,1/102.6,1/0.0,1/395.1,1/138.6,2023-05-13
59,中山UNO,甲鉄城のカバネリ,398,5996,627.0,0,15,46.0,1/98.3,1/0.0,1/399.7,1/130.3,2023-05-13
60,中山UNO,甲鉄城のカバネリ,399,7036,227.0,0,31,46.0,1/91.4,1/0.0,1/227.0,1/153.0,2023-05-13
61,中山UNO,甲鉄城のカバネリ,400,3613,-1373.0,0,11,20.0,1/116.5,1/0.0,1/328.5,1/180.7,2023-05-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,中山UNO,ひぐらしのなく頃に祭2,596,2825,-413.0,7,7,0.0,1/201.8,1/403.6,1/403.6,1/0.0,2023-05-13
194,中山UNO,もっとクレアの秘宝伝女神の歌声と太陽の子供達,597,186,333.0,2,0,0.0,1/93.0,1/93.0,1/0.0,1/0.0,2023-05-13
195,中山UNO,モンキーターンIV,598,3472,733.0,0,7,21.0,1/124.0,1/0.0,1/496.0,1/165.3,2023-05-13
196,中山UNO,黄門ちゃま喝2,599,529,-53.0,0,0,2.0,1/264.5,1/0.0,1/0.0,1/264.5,2023-05-13
197,中山UNO,真俺の空,600,427,-467.0,0,1,2.0,1/142.3,1/0.0,1/427.0,1/213.5,2023-05-13

20424
1168
10
9592
42
198

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
13,中山ZoRoN,スマスロ北斗の拳,501,7252,-605.0,75,14,0.0,1/81.5,1/96.7,1/518.0,1/0.0,2023-05-13
14,中山ZoRoN,スマスロ北斗の拳,502,6933,-1864.0,61,17,0.0,1/88.9,1/113.7,1/407.8,1/0.0,2023-05-13
15,中山ZoRoN,スマスロ北斗の拳,503,6374,-307.0,71,13,0.0,1/75.9,1/89.8,1/490.3,1/0.0,2023-05-13
16,中山ZoRoN,スマスロ北斗の拳,504,5556,7867.0,120,22,0.0,1/39.1,1/46.3,1/252.5,1/0.0,2023-05-13
17,中山ZoRoN,スマスロ北斗の拳,505,6804,1247.0,90,15,0.0,1/64.8,1/75.6,1/453.6,1/0.0,2023-05-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,中山ZoRoN,ファンキージャグラー2,796,1559,-173.0,7,1,0.0,1/194.9,1/222.7,1/1559.0,1/0.0,2023-05-13
75,中山ZoRoN,ファンキージャグラー2,797,1729,-813.0,5,1,0.0,1/288.2,1/345.8,1/1729.0,1/0.0,2023-05-13
76,中山ZoRoN,ファンキージャグラー2,798,2232,-467.0,8,2,0.0,1/223.2,1/279.0,1/1116.0,1/0.0,2023-05-13
77,中山ZoRoN,ファンキージャグラー2,799,1417,-520.0,5,1,0.0,1/236.2,1/283.4,1/1417.0,1/0.0,2023-05-13
78,中山ZoRoN,ファンキージャグラー2,800,4256,-1907.0,10,9,0.0,1/224.0,1/425.6,1/472.9,1/0.0,2023-05-13

20145
137
12
6195
-13
264

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
114,鶴見UNO,主役は銭形4,284,8481,2037.0,0,15,39.0,1/157.1,1/0.0,1/565.4,1/217.5,2023-05-13
115,鶴見UNO,主役は銭形4,285,8364,1839.0,0,16,41.0,1/146.7,1/0.0,1/522.8,1/204.0,2023-05-13
116,鶴見UNO,主役は銭形4,286,9749,-1963.0,0,16,42.0,1/168.1,1/0.0,1/609.3,1/232.1,2023-05-13
117,鶴見UNO,主役は銭形4,287,6190,-3025.0,0,10,27.0,1/167.3,1/0.0,1/619.0,1/229.3,2023-05-13
118,鶴見UNO,主役は銭形4,288,9207,-1173.0,0,15,37.0,1/177.1,1/0.0,1/613.8,1/248.8,2023-05-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51,鶴見UNO,マイジャグラーV,560,5486,-360.0,21,13,0.0,1/161.4,1/261.2,1/422.0,1/0.0,2023-05-13
52,鶴見UNO,マイジャグラーV,561,6020,-173.0,22,17,0.0,1/154.4,1/273.6,1/354.1,1/0.0,2023-05-13
53,鶴見UNO,マイジャグラーV,562,3115,-573.0,9,9,0.0,1/173.1,1/346.1,1/346.1,1/0.0,2023-05-13
54,鶴見UNO,マイジャグラーV,563,9011,840.0,33,35,0.0,1/132.5,1/273.1,1/257.5,1/0.0,2023-05-13
55,鶴見UNO,マイジャグラーV,564,6423,-53.0,25,16,0.0,1/156.7,1/256.9,1/401.4,1/0.0,2023-05-13

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)

19561
1098
14
8786
-49
281

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
166,上福岡UNO,花火絶景,357,850,-53.0,2,2,0.0,1/212.5,1/425.0,1/425.0,1/0.0,2023-05-13
167,上福岡UNO,ドンちゃん2,358,481,-307.0,1,1,0.0,1/240.5,1/481.0,1/481.0,1/0.0,2023-05-13
147,上福岡UNO,ニューゲッターマウス,359,452,-200.0,1,1,0.0,1/226.0,1/452.0,1/452.0,1/0.0,2023-05-13
148,上福岡UNO,ニューゲッターマウス,360,519,-53.0,3,1,0.0,1/129.8,1/173.0,1/519.0,1/0.0,2023-05-13
149,上福岡UNO,ニューゲッターマウス,361,821,-67.0,3,4,0.0,1/117.3,1/273.7,1/205.2,1/0.0,2023-05-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,上福岡UNO,ペルソナ5,537,818,-813.0,5,0,2.0,1/116.9,1/163.6,1/0.0,1/409.0,2023-05-13
175,上福岡UNO,マクロスデルタ,538,2400,-1267.0,0,8,9.0,1/141.2,1/0.0,1/300.0,1/266.7,2023-05-13
176,上福岡UNO,デビルメイクライ5,539,1340,1427.0,0,2,11.0,1/103.1,1/0.0,1/670.0,1/121.8,2023-05-13
177,上福岡UNO,ピンクパンサーSP,540,538,1000.0,5,1,0.0,1/89.7,1/107.6,1/538.0,1/0.0,2023-05-13
178,上福岡UNO,マジカルハロウィンTrickorTreat,541,333,-467.0,1,0,0.0,1/333.0,1/333.0,1/0.0,1/0.0,2023-05-13

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

18675
23
12
10513
-70
179

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
87,北越谷UNO,革命機ヴァルヴレイヴ,407,1487,-1053.0,3,0,4.0,1/212.4,1/495.7,1/0.0,1/371.8,2023-05-13
88,北越谷UNO,革命機ヴァルヴレイヴ,408,1811,-1963.0,6,1,5.0,1/150.9,1/301.8,1/1811.0,1/362.2,2023-05-13
89,北越谷UNO,革命機ヴァルヴレイヴ,409,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-13
90,北越谷UNO,革命機ヴァルヴレイヴ,410,6624,-1568.0,47,6,22.0,1/88.3,1/140.9,1/1104.0,1/301.1,2023-05-13
91,北越谷UNO,革命機ヴァルヴレイヴ,411,382,-120.0,3,1,1.0,1/76.4,1/127.3,1/382.0,1/382.0,2023-05-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,北越谷UNO,スマスロ北斗の拳,610,7273,-803.0,68,21,0.0,1/81.7,1/107.0,1/346.3,1/0.0,2023-05-13
51,北越谷UNO,スマスロ北斗の拳,611,7103,-3025.0,52,18,0.0,1/101.5,1/136.6,1/394.6,1/0.0,2023-05-13
52,北越谷UNO,スマスロ北斗の拳,612,6069,1741.0,82,13,0.0,1/63.9,1/74.0,1/466.8,1/0.0,2023-05-13
53,北越谷UNO,スマスロ北斗の拳,613,6011,440.0,69,24,0.0,1/64.6,1/87.1,1/250.5,1/0.0,2023-05-13
54,北越谷UNO,スマスロ北斗の拳,614,6311,3943.0,88,16,0.0,1/60.7,1/71.7,1/394.4,1/0.0,2023-05-13

19715
-76
8
8772

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

-181
204

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
20,せんげん台DUO,HEYエリートサラリーマン鏡,283,1720,1400.0,15,8,0.0,1/74.8,1/114.7,1/215.0,1/0.0,2023-05-13
21,せんげん台DUO,HEYエリートサラリーマン鏡,284,373,-467.0,1,0,0.0,1/373.0,1/373.0,1/0.0,1/0.0,2023-05-13
22,せんげん台DUO,HEYエリートサラリーマン鏡,285,387,-360.0,2,0,0.0,1/193.5,1/193.5,1/0.0,1/0.0,2023-05-13
23,せんげん台DUO,HEYエリートサラリーマン鏡,286,603,-600.0,2,0,0.0,1/301.5,1/301.5,1/0.0,1/0.0,2023-05-13
24,せんげん台DUO,HEYエリートサラリーマン鏡,287,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,せんげん台DUO,主役は銭形4,500,5881,-2161.0,0,13,24.0,1/158.9,1/0.0,1/452.4,1/245.0,2023-05-13
41,せんげん台DUO,アナザーゴッドハーデス解き放たれし槍撃ver,501,4505,2284.0,0,1,11.0,1/375.4,1/0.0,1/4505.0,1/409.5,2023-05-13
216,せんげん台DUO,ディスクアップ2,502,7608,-360.0,25,13,0.0,1/200.2,1/304.3,1/585.2,1/0.0,2023-05-13
90,せんげん台DUO,沖ドキGOLD,503,2130,1640.0,21,9,0.0,1/71.0,1/101.4,1/236.7,1/0.0,2023-05-13
59,せんげん台DUO,ファンキージャグラー2,504,6911,-2111.0,20,9,0.0,1/238.3,1/345.6,1/767.9,1/0.0,2023-05-13

18460
422
10
7154
-53
217

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
128,みずほ台UNO,新鬼武者2,375,5171,3296.0,0,26,43.0,1/74.9,1/0.0,1/198.9,1/120.3,2023-05-13
129,みずほ台UNO,新鬼武者2,376,5116,333.0,0,22,47.0,1/74.1,1/0.0,1/232.5,1/108.9,2023-05-13
158,みずほ台UNO,モンスターハンターワールドアイスボーン,377,1261,-307.0,0,0,7.0,1/180.1,1/0.0,1/0.0,1/180.1,2023-05-13
159,みずほ台UNO,モンスターハンターワールドアイスボーン,378,2514,-813.0,0,0,10.0,1/251.4,1/0.0,1/0.0,1/251.4,2023-05-13
160,みずほ台UNO,モンスターハンターワールドアイスボーン,379,1792,-1773.0,0,0,2.0,1/896.0,1/0.0,1/0.0,1/896.0,2023-05-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,みずほ台UNO,主役は銭形4,580,7659,-99.0,0,13,31.0,1/174.1,1/0.0,1/589.2,1/247.1,2023-05-13
114,みずほ台UNO,バキ強くなりたくば喰らえ,581,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-13
115,みずほ台UNO,バキ強くなりたくば喰らえ,582,3465,-2654.0,0,11,20.0,1/111.8,1/0.0,1/315.0,1/173.2,2023-05-13
130,みずほ台UNO,新鬼武者2,583,2429,-2012.0,0,4,9.0,1/186.8,1/0.0,1/607.2,1/269.9,2023-05-13
131,みずほ台UNO,新鬼武者2,584,5734,-1267.0,0,18,43.0,1/94.0,1/0.0,1/318.6,1/133.3,2023-05-13

17508
-459
10
10071
-178
207

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
58,本八幡UNO,HEYエリートサラリーマン鏡,556,5658,2185.0,0,15,27.0,1/134.7,1/0.0,1/377.2,1/209.6,2023-05-13
59,本八幡UNO,HEYエリートサラリーマン鏡,557,3452,-1613.0,0,3,17.0,1/172.6,1/0.0,1/1150.7,1/203.1,2023-05-13
60,本八幡UNO,HEYエリートサラリーマン鏡,558,4102,-1613.0,0,5,20.0,1/164.1,1/0.0,1/820.4,1/205.1,2023-05-13
61,本八幡UNO,HEYエリートサラリーマン鏡,559,3679,2235.0,0,11,21.0,1/115.0,1/0.0,1/334.5,1/175.2,2023-05-13
62,本八幡UNO,HEYエリートサラリーマン鏡,560,5838,-53.0,0,11,29.0,1/145.9,1/0.0,1/530.7,1/201.3,2023-05-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,本八幡UNO,ゴブリンスレイヤー,884,4248,-1370.0,0,0,11.0,1/386.2,1/0.0,1/0.0,1/386.2,2023-05-13
181,本八幡UNO,ゴブリンスレイヤー,885,5248,-120.0,0,0,17.0,1/308.7,1/0.0,1/0.0,1/308.7,2023-05-13
182,本八幡UNO,ゴブリンスレイヤー,886,5702,-1272.0,0,1,13.0,1/407.3,1/0.0,1/5702.0,1/438.6,2023-05-13
183,本八幡UNO,ゴブリンスレイヤー,887,4862,-4652.0,0,0,7.0,1/694.6,1/0.0,1/0.0,1/694.6,2023-05-13
184,本八幡UNO,ゴブリンスレイヤー,888,7042,-3897.0,0,1,15.0,1/440.1,1/0.0,1/7042.0,1/469.5,2023-05-13

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

20158
-127
18
10336
-228
325

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
18,南柏UNO,アナザーゴッドハーデス解き放たれし槍撃ver,169,2449,-1947.0,0,0,5.0,1/489.8,1/0.0,1/0.0,1/489.8,2023-05-13
19,南柏UNO,アナザーゴッドハーデス解き放たれし槍撃ver,170,2772,-1506.0,0,0,5.0,1/554.4,1/0.0,1/0.0,1/554.4,2023-05-13
20,南柏UNO,アナザーゴッドハーデス解き放たれし槍撃ver,171,3992,1989.0,0,0,6.0,1/665.3,1/0.0,1/0.0,1/665.3,2023-05-13
21,南柏UNO,アナザーゴッドハーデス解き放たれし槍撃ver,172,2150,-1359.0,0,1,4.0,1/430.0,1/0.0,1/2150.0,1/537.5,2023-05-13
22,南柏UNO,アナザーゴッドハーデス解き放たれし槍撃ver,173,3520,-1408.0,0,0,6.0,1/586.7,1/0.0,1/0.0,1/586.7,2023-05-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,南柏UNO,ガメラ,596,483,434.0,2,2,0.0,1/120.8,1/241.5,1/241.5,1/0.0,2023-05-13
198,南柏UNO,ガメラ,597,69,328.0,1,0,0.0,1/69.0,1/69.0,1/0.0,1/0.0,2023-05-13
153,南柏UNO,スーパーリオエース,598,1571,697.0,4,0,2.0,1/261.8,1/392.8,1/0.0,1/785.5,2023-05-13
154,南柏UNO,スーパーリオエース,599,105,-172.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-13
155,南柏UNO,スーパーリオエース,600,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-13

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

19118
886
10
8834
-42
216

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
91,稲毛海岸UNO,甲鉄城のカバネリ,317,0,0.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-13
92,稲毛海岸UNO,甲鉄城のカバネリ,318,3515,3197.0,51,15,NaN,1/53.3,1/68.9,1/234.3,NaN,2023-05-13
93,稲毛海岸UNO,甲鉄城のカバネリ,319,4681,4400.0,73,30,NaN,1/45.4,1/64.1,1/156.0,NaN,2023-05-13
94,稲毛海岸UNO,甲鉄城のカバネリ,320,4849,-2663.0,29,20,NaN,1/99.0,1/167.2,1/242.4,NaN,2023-05-13
95,稲毛海岸UNO,甲鉄城のカバネリ,321,4668,-2901.0,29,18,NaN,1/99.3,1/161.0,1/259.3,NaN,2023-05-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,稲毛海岸UNO,CCエンジェル,551,349,-360.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-13
236,稲毛海岸UNO,ツインエンジェルPARTY,552,3976,200.0,19,32,NaN,1/78.0,1/209.3,1/124.2,NaN,2023-05-13
237,稲毛海岸UNO,かまいたちの夜,553,0,0.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-13
201,稲毛海岸UNO,Lucky海物語,554,402,-173.0,1,0,NaN,1/402.0,1/402.0,1/0.0,NaN,2023-05-13
238,稲毛海岸UNO,月華雅,555,164,-200.0,0,1,NaN,1/164.0,1/0.0,1/164.0,NaN,2023-05-13

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

17144
1111
10
8008
-55
239

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
43,小田急相模原UNO,スマスロ北斗の拳,291,6387,4354.0,94,31,0.0,1/51.1,1/67.9,1/206.0,1/0.0,2023-05-13
44,小田急相模原UNO,スマスロ北斗の拳,292,3866,-3272.0,17,5,0.0,1/175.7,1/227.4,1/773.2,1/0.0,2023-05-13
45,小田急相模原UNO,スマスロ北斗の拳,293,4973,-3272.0,30,10,0.0,1/124.3,1/165.8,1/497.3,1/0.0,2023-05-13
46,小田急相模原UNO,スマスロ北斗の拳,294,4889,-3370.0,26,12,0.0,1/128.7,1/188.0,1/407.4,1/0.0,2023-05-13
47,小田急相模原UNO,スマスロ北斗の拳,295,7046,7867.0,124,18,0.0,1/49.6,1/56.8,1/391.4,1/0.0,2023-05-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,小田急相模原UNO,バジリスク絆2,496,62,-53.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-13
59,小田急相模原UNO,押忍番長ZERO,497,2654,-1773.0,0,3,16.0,1/139.7,1/0.0,1/884.7,1/165.9,2023-05-13
60,小田急相模原UNO,押忍番長ZERO,498,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-13
61,小田急相模原UNO,押忍番長ZERO,499,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-13
62,小田急相模原UNO,押忍番長ZERO,500,1117,-813.0,0,1,6.0,1/159.6,1/0.0,1/1117.0,1/186.2,2023-05-13

16150
-25
6
6278
-143
171

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
142,朝霞UNO,ファンキージャグラー2,357,4670,547.0,22,10,0.0,1/145.9,1/212.3,1/467.0,1/0.0,2023-05-13
143,朝霞UNO,ファンキージャグラー2,358,1101,-760.0,2,1,0.0,1/367.0,1/550.5,1/1101.0,1/0.0,2023-05-13
0,朝霞UNO,アイムジャグラーEXTP,359,2196,227.0,10,4,0.0,1/156.9,1/219.6,1/549.0,1/0.0,2023-05-13
1,朝霞UNO,アイムジャグラーEXTP,360,1301,-573.0,3,4,0.0,1/185.9,1/433.7,1/325.2,1/0.0,2023-05-13
2,朝霞UNO,アイムジャグラーEXTP,361,2072,93.0,9,5,0.0,1/148.0,1/230.2,1/414.4,1/0.0,2023-05-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,朝霞UNO,ガメラ,540,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-13
187,朝霞UNO,頭文字D,541,796,-67.0,3,8,0.0,1/72.4,1/265.3,1/99.5,1/0.0,2023-05-13
84,朝霞UNO,アラジンAクラシック,542,60,-120.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-13
85,朝霞UNO,アラジンAクラシック,543,166,93.0,4,0,0.0,1/41.5,1/41.5,1/0.0,1/0.0,2023-05-13
86,朝霞UNO,アラジンAクラシック,544,42,-67.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-13

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)

19467
15
6
6071
-49
188

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
48,八柱UNO,マイジャグラーV,501,6227,-3568.0,11,11,0.0,1/283.0,1/566.1,1/566.1,1/0.0,2023-05-13
49,八柱UNO,マイジャグラーV,502,7168,-573.0,22,22,0.0,1/162.9,1/325.8,1/325.8,1/0.0,2023-05-13
50,八柱UNO,マイジャグラーV,503,4496,227.0,20,11,0.0,1/145.0,1/224.8,1/408.7,1/0.0,2023-05-13
51,八柱UNO,マイジャグラーV,504,8120,-173.0,28,24,0.0,1/156.2,1/290.0,1/338.3,1/0.0,2023-05-13
52,八柱UNO,マイジャグラーV,505,5580,200.0,22,15,0.0,1/150.8,1/253.6,1/372.0,1/0.0,2023-05-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,八柱UNO,新ハナビ,765,6110,1400.0,28,17,0.0,1/135.8,1/218.2,1/359.4,1/0.0,2023-05-13
90,八柱UNO,花火絶景,766,687,-253.0,1,1,0.0,1/343.5,1/687.0,1/687.0,1/0.0,2023-05-13
84,八柱UNO,甲鉄城のカバネリ,767,3591,3025.0,57,18,0.0,1/47.9,1/63.0,1/199.5,1/0.0,2023-05-13
47,八柱UNO,スマスロ北斗の拳,768,6188,4788.0,105,13,0.0,1/52.4,1/58.9,1/476.0,1/0.0,2023-05-13
167,八柱UNO,機動戦士ガンダムユニコーン,769,2454,1800.0,0,5,36.0,1/59.9,1/0.0,1/490.8,1/68.2,2023-05-13

19697
1480
7
6323
-109
229

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
129,マルハン草薙アピア店,ファンキージャグラー2,607,3983,-1100.0,12,8,NaN,1/199.2,1/331.9,1/497.9,NaN,2023-05-13
130,マルハン草薙アピア店,ファンキージャグラー2,608,1497,-500.0,4,2,NaN,1/249.5,1/374.2,1/748.5,NaN,2023-05-13
131,マルハン草薙アピア店,ファンキージャグラー2,609,1783,-600.0,5,4,NaN,1/198.1,1/356.6,1/445.8,NaN,2023-05-13
132,マルハン草薙アピア店,ファンキージャグラー2,610,2803,-100.0,11,5,NaN,1/175.2,1/254.8,1/560.6,NaN,2023-05-13
133,マルハン草薙アピア店,ファンキージャグラー2,611,1108,-300.0,4,1,NaN,1/221.6,1/277.0,1/1108.0,NaN,2023-05-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,マルハン草薙アピア店,ディスクアップ2,1026,1963,-1600.0,3,1,NaN,1/490.8,1/654.3,1/1963.0,NaN,2023-05-13
234,マルハン草薙アピア店,ディスクアップ2,1027,1151,-800.0,2,1,NaN,1/383.7,1/575.5,1/1151.0,NaN,2023-05-13
235,マルハン草薙アピア店,ディスクアップ2,1028,1601,-700.0,4,3,NaN,1/228.7,1/400.2,1/533.7,NaN,2023-05-13
236,マルハン草薙アピア店,ディスクアップ2,1029,1402,-200.0,3,4,NaN,1/200.3,1/467.3,1/350.5,NaN,2023-05-13
237,マルハン草薙アピア店,ディスクアップ2,1030,4024,3400.0,24,7,NaN,1/129.8,1/167.7,1/574.9,NaN,2023-05-13

19765
365
20
9478
168
385

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
160,アビバ逗子駅前店,マイジャグラーV,1001,8147,333.0,37,8,NaN,1/181.0,1/220.2,1/1018.4,NaN,2023-05-13
161,アビバ逗子駅前店,マイジャグラーV,1002,4720,-1267.0,14,8,NaN,1/214.5,1/337.1,1/590.0,NaN,2023-05-13
162,アビバ逗子駅前店,マイジャグラーV,1003,3921,-653.0,13,11,NaN,1/163.4,1/301.6,1/356.5,NaN,2023-05-13
48,アビバ逗子駅前店,ファンキージャグラー2,1005,829,-920.0,1,0,NaN,1/829.0,1/829.0,1/0.0,NaN,2023-05-13
49,アビバ逗子駅前店,ファンキージャグラー2,1006,4970,-200.0,17,14,NaN,1/160.3,1/292.4,1/355.0,NaN,2023-05-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,アビバ逗子駅前店,バジリスク絆2,1277,822,-67.0,7,4,NaN,1/74.7,1/117.4,1/205.5,NaN,2023-05-13
94,アビバ逗子駅前店,バジリスク絆2,1278,0,0.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-13
95,アビバ逗子駅前店,バジリスク絆2,1280,0,0.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-13
96,アビバ逗子駅前店,バジリスク絆2,1281,847,-600.0,6,2,NaN,1/105.9,1/141.2,1/423.5,NaN,2023-05-13
97,アビバ逗子駅前店,バジリスク絆2,1282,648,-67.0,7,3,NaN,1/64.8,1/92.6,1/216.0,NaN,2023-05-13

17694
-1274
8
5486
-197
186

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
57,アビバ上大岡店,スマスロ北斗の拳,685,6125,-390.0,65,13,NaN,1/78.5,1/94.2,1/471.2,NaN,2023-05-13
58,アビバ上大岡店,スマスロ北斗の拳,686,7904,2163.0,102,19,NaN,1/65.3,1/77.5,1/416.0,NaN,2023-05-13
59,アビバ上大岡店,スマスロ北斗の拳,687,4632,-2582.0,29,10,NaN,1/118.8,1/159.7,1/463.2,NaN,2023-05-13
60,アビバ上大岡店,スマスロ北斗の拳,688,6267,-875.0,56,22,NaN,1/80.3,1/111.9,1/284.9,NaN,2023-05-13
84,アビバ上大岡店,主役は銭形4,700,3470,3291.0,34,13,NaN,1/73.8,1/102.1,1/266.9,NaN,2023-05-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27,アビバ上大岡店,マイジャグラーV,1005,5270,-1025.0,16,11,NaN,1/195.2,1/329.4,1/479.1,NaN,2023-05-13
28,アビバ上大岡店,マイジャグラーV,1006,6667,-2706.0,15,18,NaN,1/202.0,1/444.5,1/370.4,NaN,2023-05-13
29,アビバ上大岡店,マイジャグラーV,1007,7787,-1062.0,27,17,NaN,1/177.0,1/288.4,1/458.1,NaN,2023-05-13
30,アビバ上大岡店,マイジャグラーV,1008,8851,750.0,35,29,NaN,1/138.3,1/252.9,1/305.2,NaN,2023-05-13
31,アビバ上大岡店,マイジャグラーV,1010,6384,-587.0,24,12,NaN,1/177.3,1/266.0,1/532.0,NaN,2023-05-13

18465
-191
9
11848
-83
141

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
0,ピーアーク相模大野,マイジャグラーV,2001,8517,NaN,29,25,0.0,1/157.7,1/293.7,1/340.7,1/0.0,2023-05-13
1,ピーアーク相模大野,マイジャグラーV,2002,7784,NaN,37,21,0.0,1/134.2,1/210.4,1/370.7,1/0.0,2023-05-13
2,ピーアーク相模大野,マイジャグラーV,2003,5759,NaN,18,18,0.0,1/160.0,1/319.9,1/319.9,1/0.0,2023-05-13
3,ピーアーク相模大野,マイジャグラーV,2004,7958,NaN,32,21,0.0,1/150.2,1/248.7,1/379.0,1/0.0,2023-05-13
4,ピーアーク相模大野,マイジャグラーV,2005,7145,NaN,27,17,0.0,1/162.4,1/264.6,1/420.3,1/0.0,2023-05-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,ピーアーク相模大野,革命機ヴァルヴレイヴ,2515,2605,NaN,27,2,8.0,1/70.4,1/96.5,1/1302.5,1/325.6,2023-05-13
195,ピーアーク相模大野,革命機ヴァルヴレイヴ,2516,4023,NaN,16,1,16.0,1/121.9,1/251.4,1/4023.0,1/251.4,2023-05-13
196,ピーアーク相模大野,革命機ヴァルヴレイヴ,2517,2752,NaN,12,1,7.0,1/137.6,1/229.3,1/2752.0,1/393.1,2023-05-13
197,ピーアーク相模大野,革命機ヴァルヴレイヴ,2518,4664,NaN,54,5,15.0,1/63.0,1/86.4,1/932.8,1/310.9,2023-05-13
198,ピーアーク相模大野,革命機ヴァルヴレイヴ,2519,3760,NaN,9,3,14.0,1/144.6,1/417.8,1/1253.3,1/268.6,2023-05-13

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )

19633
エラー店舗 ピーアーク相模大野 cannot convert float NaN to integer

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
148,パールショップともえ淵野辺店,バキ強くなりたくば喰らえ,901,992,648.0,0,1,16.0,1/58.4,1/0.0,1/992.0,1/62.0,2023-05-13
149,パールショップともえ淵野辺店,バキ強くなりたくば喰らえ,902,1838,1944.0,0,5,32.0,1/49.7,1/0.0,1/367.6,1/57.4,2023-05-13
150,パールショップともえ淵野辺店,バキ強くなりたくば喰らえ,903,1819,-1807.0,0,5,9.0,1/129.9,1/0.0,1/363.8,1/202.1,2023-05-13
151,パールショップともえ淵野辺店,バキ強くなりたくば喰らえ,904,1999,1751.0,0,7,33.0,1/50.0,1/0.0,1/285.6,1/60.6,2023-05-13
152,パールショップともえ淵野辺店,バキ強くなりたくば喰らえ,905,699,-593.0,0,2,3.0,1/139.8,1/0.0,1/349.5,1/233.0,2023-05-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,パールショップともえ淵野辺店,キングハナハナ30,1336,673,-207.0,2,1,0.0,1/224.3,1/336.5,1/673.0,1/0.0,2023-05-13
107,パールショップともえ淵野辺店,キングハナハナ30,1337,983,593.0,7,1,0.0,1/122.9,1/140.4,1/983.0,1/0.0,2023-05-13
108,パールショップともえ淵野辺店,キングハナハナ30,1338,506,-235.0,1,1,0.0,1/253.0,1/506.0,1/506.0,1/0.0,2023-05-13
109,パールショップともえ淵野辺店,キングハナハナ30,1339,2828,151.0,12,4,0.0,1/176.8,1/235.7,1/707.0,1/0.0,2023-05-13
110,パールショップともえ淵野辺店,キングハナハナ30,1340,641,-207.0,2,0,0.0,1/320.5,1/320.5,1/0.0,1/0.0,2023-05-13

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

15804
-636
16
7763
-88
200

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
76,ジャムフレンドクラブ朝霞店,押忍番長ZERO,661,2684,1488.0,44,8,NaN,1/51.6,1/61.0,1/335.5,NaN,2023-05-14
77,ジャムフレンドクラブ朝霞店,押忍番長ZERO,662,164,-303.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-14
78,ジャムフレンドクラブ朝霞店,押忍番長ZERO,663,378,-428.0,2,0,NaN,1/189.0,1/189.0,1/0.0,NaN,2023-05-14
79,ジャムフレンドクラブ朝霞店,押忍番長ZERO,664,331,-512.0,1,0,NaN,1/331.0,1/331.0,1/0.0,NaN,2023-05-14
80,ジャムフレンドクラブ朝霞店,押忍番長ZERO,665,1055,-970.0,5,1,NaN,1/175.8,1/211.0,1/1055.0,NaN,2023-05-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,ジャムフレンドクラブ朝霞店,Reゼロから始める異世界生活,894,0,0.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-14
236,ジャムフレンドクラブ朝霞店,鬼浜爆走紅蓮隊狂闘旅情編,895,1586,863.0,26,5,NaN,1/51.2,1/61.0,1/317.2,NaN,2023-05-14
212,ジャムフレンドクラブ朝霞店,戦国無双3,896,207,-220.0,1,0,NaN,1/207.0,1/207.0,1/0.0,NaN,2023-05-14
198,ジャムフレンドクラブ朝霞店,アクエリオンALLSTARS,897,2457,1530.0,31,7,NaN,1/64.7,1/79.3,1/351.0,NaN,2023-05-14
237,ジャムフレンドクラブ朝霞店,黄門ちゃま喝2,898,0,0.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-14

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)

17365
1808
13
6039
-44
238

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
182,Dステーション上田店,ゴブリンスレイヤー,529,4219,NaN,0,2,11.0,1/324.5,1/0.0,1/2109.5,1/383.5,2023-05-14
183,Dステーション上田店,ゴブリンスレイヤー,530,2970,NaN,0,1,9.0,1/297.0,1/0.0,1/2970.0,1/330.0,2023-05-14
184,Dステーション上田店,ゴブリンスレイヤー,531,2479,NaN,0,2,18.0,1/124.0,1/0.0,1/1239.5,1/137.7,2023-05-14
185,Dステーション上田店,ゴブリンスレイヤー,532,5762,NaN,0,0,18.0,1/320.1,1/0.0,1/0.0,1/320.1,2023-05-14
158,Dステーション上田店,HEYエリートサラリーマン鏡,533,4310,NaN,0,13,25.0,1/113.4,1/0.0,1/331.5,1/172.4,2023-05-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,Dステーション上田店,甲鉄城のカバネリ,798,3976,NaN,0,14,11.0,1/159.0,1/0.0,1/284.0,1/361.5,2023-05-14
69,Dステーション上田店,甲鉄城のカバネリ,799,3993,NaN,0,17,10.0,1/147.9,1/0.0,1/234.9,1/399.3,2023-05-14
70,Dステーション上田店,甲鉄城のカバネリ,800,3148,NaN,0,15,9.0,1/131.2,1/0.0,1/209.9,1/349.8,2023-05-14
71,Dステーション上田店,甲鉄城のカバネリ,801,4463,NaN,0,17,11.0,1/159.4,1/0.0,1/262.5,1/405.7,2023-05-14
72,Dステーション上田店,甲鉄城のカバネリ,802,3384,NaN,0,12,8.0,1/169.2,1/0.0,1/282.0,1/423.0,2023-05-14

16052
エラー店舗 Dステーション上田店 cannot convert float NaN to integer

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
196,ピーアーク越谷,沖ドキDUO30,501,724,-869.0,1,1,0.0,1/362.0,1/724.0,1/724.0,1/0.0,2023-05-14
197,ピーアーク越谷,沖ドキDUO30,502,32,-49.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-14
198,ピーアーク越谷,沖ドキDUO30,503,800,23.0,5,4,0.0,1/88.9,1/160.0,1/200.0,1/0.0,2023-05-14
199,ピーアーク越谷,沖ドキDUO30,504,724,-213.0,4,2,0.0,1/120.7,1/181.0,1/362.0,1/0.0,2023-05-14
94,ピーアーク越谷,沖ドキGOLD30,505,607,1617.0,11,3,0.0,1/43.4,1/55.2,1/202.3,1/0.0,2023-05-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,ピーアーク越谷,幼女戦記,792,1384,924.0,0,7,72.0,1/17.5,1/0.0,1/197.7,1/19.2,2023-05-14
256,ピーアーク越谷,鉄拳5,793,466,-589.0,0,0,1.0,1/466.0,1/0.0,1/0.0,1/466.0,2023-05-14
257,ピーアーク越谷,FAIRYTAIL2,794,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-14
258,ピーアーク越谷,黄門ちゃま喝2,795,1566,108.0,0,0,12.0,1/130.5,1/0.0,1/0.0,1/130.5,2023-05-14
259,ピーアーク越谷,戦国無双3,796,1710,-1443.0,6,0,3.0,1/190.0,1/285.0,1/0.0,1/570.0,2023-05-14

17064
-108
16
7597
-197
260

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
120,グランキコーナ相模原店,スマスロ北斗の拳,721,6637,3074.0,97,13,0.0,1/60.3,1/68.4,1/510.5,1/0.0,2023-05-14
121,グランキコーナ相模原店,スマスロ北斗の拳,722,5368,-1815.0,43,13,0.0,1/95.9,1/124.8,1/412.9,1/0.0,2023-05-14
122,グランキコーナ相模原店,スマスロ北斗の拳,723,5685,-467.0,64,10,0.0,1/76.8,1/88.8,1/568.5,1/0.0,2023-05-14
123,グランキコーナ相模原店,スマスロ北斗の拳,724,6486,-2161.0,50,19,0.0,1/94.0,1/129.7,1/341.4,1/0.0,2023-05-14
124,グランキコーナ相模原店,スマスロ北斗の拳,725,7683,1587.0,93,22,0.0,1/66.8,1/82.6,1/349.2,1/0.0,2023-05-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...
321,グランキコーナ相模原店,押忍番長ZERO,1207,2690,147.0,0,6,15.0,1/128.1,1/0.0,1/448.3,1/179.3,2023-05-14
322,グランキコーナ相模原店,押忍番長ZERO,1208,964,-920.0,0,0,3.0,1/321.3,1/0.0,1/0.0,1/321.3,2023-05-14
323,グランキコーナ相模原店,押忍番長ZERO,1209,2688,-1373.0,0,2,14.0,1/168.0,1/0.0,1/1344.0,1/192.0,2023-05-14
324,グランキコーナ相模原店,押忍番長ZERO,1210,7443,1693.0,0,11,46.0,1/130.6,1/0.0,1/676.6,1/161.8,2023-05-14
325,グランキコーナ相模原店,押忍番長ZERO,1211,1947,-1963.0,0,1,5.0,1/324.5,1/0.0,1/1947.0,1/389.4,2023-05-14

18582
141
40
11816
-233
491

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
72,アビバ新杉田,主役は銭形4,253,5315,-2889.0,28,12,NaN,1/132.9,1/189.8,1/442.9,NaN,2023-05-14
56,アビバ新杉田,バキ強くなりたくば喰らえ,255,25,-38.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-14
57,アビバ新杉田,バキ強くなりたくば喰らえ,256,870,-1194.0,1,4,NaN,1/174.0,1/870.0,1/217.5,NaN,2023-05-14
66,アビバ新杉田,幼女戦記,257,87,2527.0,48,0,NaN,1/1.8,1/1.8,1/0.0,NaN,2023-05-14
67,アビバ新杉田,幼女戦記,258,396,1402.0,48,0,NaN,1/8.2,1/8.2,1/0.0,NaN,2023-05-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17,アビバ新杉田,スロコレ,365,0,0.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-14
18,アビバ新杉田,スロコレ,366,2528,1185.0,13,11,NaN,1/105.3,1/194.5,1/229.8,NaN,2023-05-14
19,アビバ新杉田,スロコレ,367,1329,947.0,18,18,NaN,1/36.9,1/73.8,1/73.8,NaN,2023-05-14
20,アビバ新杉田,スロコレ,368,288,134.0,2,3,NaN,1/57.6,1/144.0,1/96.0,NaN,2023-05-14
21,アビバ新杉田,スロコレ,370,45,-53.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-14

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

16758
1385
4
5728
-197
78

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
29,ピーアーク春日部,マイジャグラーV,501,6342,256.0,25,16,0.0,1/154.7,1/253.7,1/396.4,1/0.0,2023-05-15
57,ピーアーク春日部,ファンキージャグラー2,502,2114,-293.0,8,3,0.0,1/192.2,1/264.2,1/704.7,1/0.0,2023-05-15
0,ピーアーク春日部,アイムジャグラーEXTP,503,2225,-745.0,7,3,0.0,1/222.5,1/317.9,1/741.7,1/0.0,2023-05-15
1,ピーアーク春日部,アイムジャグラーEXTP,504,640,-557.0,1,0,0.0,1/640.0,1/640.0,1/0.0,1/0.0,2023-05-15
2,ピーアーク春日部,アイムジャグラーEXTP,505,6328,659.0,21,29,0.0,1/126.6,1/301.3,1/218.2,1/0.0,2023-05-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,ピーアーク春日部,ひぐらしのなく頃に祭2,681,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-15
80,ピーアーク春日部,アクエリオンALLSTARS,682,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-15
120,ピーアーク春日部,主役は銭形3,683,1904,-1369.0,5,5,0.0,1/190.4,1/380.8,1/380.8,1/0.0,2023-05-15
92,ピーアーク春日部,真俺の空,684,41,-49.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-15
121,ピーアーク春日部,革命機ヴァルヴレイヴ,685,7887,-6018.0,35,8,27.0,1/112.7,1/225.3,1/985.9,1/292.1,2023-05-15

17354
882
4
6343
-98
122

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
36,ピーアークせんげん台,甲鉄城のカバネリ,571,2415,-1747.0,13,10,NaN,1/105.0,1/185.8,1/241.5,NaN,2023-05-15
37,ピーアークせんげん台,甲鉄城のカバネリ,572,5615,-531.0,54,25,NaN,1/71.1,1/104.0,1/224.6,NaN,2023-05-15
38,ピーアークせんげん台,甲鉄城のカバネリ,573,2026,-201.0,23,6,NaN,1/69.9,1/88.1,1/337.7,NaN,2023-05-15
39,ピーアークせんげん台,甲鉄城のカバネリ,575,2351,-1456.0,16,6,NaN,1/106.9,1/146.9,1/391.8,NaN,2023-05-15
40,ピーアークせんげん台,甲鉄城のカバネリ,576,2320,3532.0,49,15,NaN,1/36.2,1/47.3,1/154.7,NaN,2023-05-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,ピーアークせんげん台,アラジンAクラシック,732,345,-524.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-15
106,ピーアークせんげん台,鉄拳5,733,0,0.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-15
107,ピーアークせんげん台,閃乱カグラBURSTUP,735,409,400.0,5,3,NaN,1/51.1,1/81.8,1/136.3,NaN,2023-05-15
108,ピーアークせんげん台,ハードボイルド,736,2365,-560.0,6,6,NaN,1/197.1,1/394.2,1/394.2,NaN,2023-05-15
109,ピーアークせんげん台,チバリヨ25,737,1605,2157.0,19,6,NaN,1/64.2,1/84.5,1/267.5,NaN,2023-05-15

18237
1281
4
6612
-101
110

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
76,ジャムフレンドクラブ朝霞店,押忍番長ZERO,661,3509,-303.0,46,5,NaN,1/68.8,1/76.3,1/701.8,NaN,2023-05-16
77,ジャムフレンドクラブ朝霞店,押忍番長ZERO,662,2753,-2845.0,14,3,NaN,1/161.9,1/196.6,1/917.7,NaN,2023-05-16
78,ジャムフレンドクラブ朝霞店,押忍番長ZERO,663,6452,280.0,74,18,NaN,1/70.1,1/87.2,1/358.4,NaN,2023-05-16
79,ジャムフレンドクラブ朝霞店,押忍番長ZERO,664,4270,2905.0,74,11,NaN,1/50.2,1/57.7,1/388.2,NaN,2023-05-16
80,ジャムフレンドクラブ朝霞店,押忍番長ZERO,665,4510,5280.0,92,23,NaN,1/39.2,1/49.0,1/196.1,NaN,2023-05-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,ジャムフレンドクラブ朝霞店,Reゼロから始める異世界生活,894,7990,1613.0,100,14,NaN,1/70.1,1/79.9,1/570.7,NaN,2023-05-16
236,ジャムフレンドクラブ朝霞店,鬼浜爆走紅蓮隊狂闘旅情編,895,5050,1488.0,76,16,NaN,1/54.9,1/66.4,1/315.6,NaN,2023-05-16
212,ジャムフレンドクラブ朝霞店,戦国無双3,896,3970,6363.0,53,38,NaN,1/43.6,1/74.9,1/104.5,NaN,2023-05-16
198,ジャムフレンドクラブ朝霞店,アクエリオンALLSTARS,897,3525,-595.0,33,11,NaN,1/80.1,1/106.8,1/320.5,NaN,2023-05-16
237,ジャムフレンドクラブ朝霞店,黄門ちゃま喝2,898,5194,2947.0,53,1,NaN,1/96.2,1/98.0,1/5194.0,NaN,2023-05-16

19047
1100
13
15984
734
238

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
304,MGM小山本郷店,花火絶景,641,2784,-1256.0,4,5,0.0,1/309.3,1/696.0,1/556.8,1/0.0,2023-05-16
305,MGM小山本郷店,花火絶景,642,5176,2534.0,18,12,0.0,1/172.5,1/287.6,1/431.3,1/0.0,2023-05-16
306,MGM小山本郷店,花火絶景,643,1083,-152.0,2,5,0.0,1/154.7,1/541.5,1/216.6,1/0.0,2023-05-16
307,MGM小山本郷店,花火絶景,644,4873,1365.0,14,11,0.0,1/194.9,1/348.1,1/443.0,1/0.0,2023-05-16
120,MGM小山本郷店,アナザーゴッドハーデス解き放たれし槍撃ver,645,7476,-235.0,0,1,13.0,1/534.0,1/0.0,1/7476.0,1/575.1,2023-05-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,MGM小山本郷店,ハナハナホウオウ天翔30,1016,5706,400.0,19,16,0.0,1/163.0,1/300.3,1/356.6,1/0.0,2023-05-16
96,MGM小山本郷店,ハナハナホウオウ天翔30,1017,7167,344.0,24,24,0.0,1/149.3,1/298.6,1/298.6,1/0.0,2023-05-16
97,MGM小山本郷店,ハナハナホウオウ天翔30,1018,3916,813.0,18,9,0.0,1/145.0,1/217.6,1/435.1,1/0.0,2023-05-16
98,MGM小山本郷店,ハナハナホウオウ天翔30,1019,3169,-345.0,10,8,0.0,1/176.1,1/316.9,1/396.1,1/0.0,2023-05-16
99,MGM小山本郷店,ハナハナホウオウ天翔30,1020,8515,1062.0,35,24,0.0,1/144.3,1/243.3,1/354.8,1/0.0,2023-05-16

20170
-316
20
17107
276
358

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
257,123門真店,革命機ヴァルヴレイヴ,793,1775,NaN,3,2,7.0,1/147.9,1/591.7,1/887.5,1/253.6,2023-05-17
258,123門真店,革命機ヴァルヴレイヴ,794,1424,NaN,4,1,4.0,1/158.2,1/356.0,1/1424.0,1/356.0,2023-05-17
259,123門真店,革命機ヴァルヴレイヴ,795,1519,NaN,2,0,5.0,1/217.0,1/759.5,1/0.0,1/303.8,2023-05-17
260,123門真店,革命機ヴァルヴレイヴ,796,148,NaN,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-17
261,123門真店,革命機ヴァルヴレイヴ,797,150,NaN,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,123門真店,スマスロ北斗の拳,1234,5859,NaN,75,16,0.0,1/64.4,1/78.1,1/366.2,1/0.0,2023-05-17
152,123門真店,スマスロ北斗の拳,1235,6327,NaN,49,16,0.0,1/97.3,1/129.1,1/395.4,1/0.0,2023-05-17
153,123門真店,スマスロ北斗の拳,1236,4914,NaN,90,14,0.0,1/47.2,1/54.6,1/351.0,1/0.0,2023-05-17
154,123門真店,スマスロ北斗の拳,1237,6856,NaN,55,17,0.0,1/95.2,1/124.7,1/403.3,1/0.0,2023-05-17
155,123門真店,スマスロ北斗の拳,1238,5069,NaN,25,8,0.0,1/153.6,1/202.8,1/633.6,1/0.0,2023-05-17

18256
エラー店舗 123門真店 cannot convert float NaN to integer

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
30,パールショップともえ富里802,アイムジャグラーEX,701,3165,-140.0,12,5,NaN,1/186.2,1/263.8,1/633.0,NaN,2023-05-17
31,パールショップともえ富里802,アイムジャグラーEX,702,2403,-466.0,8,6,NaN,1/171.6,1/300.4,1/400.5,NaN,2023-05-17
32,パールショップともえ富里802,アイムジャグラーEX,703,3590,357.0,14,11,NaN,1/143.6,1/256.4,1/326.4,NaN,2023-05-17
33,パールショップともえ富里802,アイムジャグラーEX,704,4944,2351.0,29,12,NaN,1/120.6,1/170.5,1/412.0,NaN,2023-05-17
34,パールショップともえ富里802,アイムジャグラーEX,705,491,-416.0,1,0,NaN,1/491.0,1/491.0,1/0.0,NaN,2023-05-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,パールショップともえ富里802,押忍番長ZERO,1082,2437,-2231.0,14,3,NaN,1/143.4,1/174.1,1/812.3,NaN,2023-05-17
218,パールショップともえ富里802,押忍番長ZERO,1083,403,712.0,11,2,NaN,1/31.0,1/36.6,1/201.5,NaN,2023-05-17
219,パールショップともえ富里802,押忍番長ZERO,1084,253,-317.0,1,0,NaN,1/253.0,1/253.0,1/0.0,NaN,2023-05-17
220,パールショップともえ富里802,押忍番長ZERO,1085,2710,2694.0,53,8,NaN,1/44.4,1/51.1,1/338.8,NaN,2023-05-17
221,パールショップともえ富里802,押忍番長ZERO,1086,1668,1138.0,33,5,NaN,1/43.9,1/50.5,1/333.6,NaN,2023-05-17

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)

17347
1204
25
6941
44
323

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
79,アビバ関内,バラエティ,877,903,2405.0,4,22,NaN,1/34.7,1/225.8,1/41.0,NaN,2023-05-17
80,アビバ関内,バラエティ,878,746,-506.0,1,0,NaN,1/746.0,1/746.0,1/0.0,NaN,2023-05-17
81,アビバ関内,バラエティ,880,614,-662.0,2,0,NaN,1/307.0,1/307.0,1/0.0,NaN,2023-05-17
82,アビバ関内,バラエティ,881,1210,142.0,4,4,NaN,1/151.2,1/302.5,1/302.5,NaN,2023-05-17
83,アビバ関内,バラエティ,882,0,0.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,アビバ関内,アイムジャグラーEXTP,2068,3977,428.0,18,6,NaN,1/165.7,1/220.9,1/662.8,NaN,2023-05-17
212,アビバ関内,アイムジャグラーEXTP,2070,1209,-551.0,2,3,NaN,1/241.8,1/604.5,1/403.0,NaN,2023-05-17
213,アビバ関内,アイムジャグラーEXTP,2071,5903,138.0,23,15,NaN,1/155.3,1/256.7,1/393.5,NaN,2023-05-17
214,アビバ関内,アイムジャグラーEXTP,2072,2159,-1218.0,3,6,NaN,1/239.9,1/719.7,1/359.8,NaN,2023-05-17
215,アビバ関内,アイムジャグラーEXTP,2073,4047,-1084.0,12,5,NaN,1/238.1,1/337.2,1/809.4,NaN,2023-05-17

18438
229
26
7785
-143
318

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
19,アビバ三浦海岸店,HEYエリートサラリーマン鏡,358,1403,-1125.0,4,2,NaN,1/233.8,1/350.8,1/701.5,NaN,2023-05-17
20,アビバ三浦海岸店,HEYエリートサラリーマン鏡,360,3238,788.0,13,6,NaN,1/170.4,1/249.1,1/539.7,NaN,2023-05-17
21,アビバ三浦海岸店,HEYエリートサラリーマン鏡,361,6125,1796.0,32,14,NaN,1/133.2,1/191.4,1/437.5,NaN,2023-05-17
22,アビバ三浦海岸店,HEYエリートサラリーマン鏡,362,7333,701.0,40,18,NaN,1/126.4,1/183.3,1/407.4,NaN,2023-05-17
23,アビバ三浦海岸店,HEYエリートサラリーマン鏡,363,1674,-1476.0,5,1,NaN,1/279.0,1/334.8,1/1674.0,NaN,2023-05-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,アビバ三浦海岸店,ハッピージャグラーVIII,620,2742,-1104.0,5,11,NaN,1/171.4,1/548.4,1/249.3,NaN,2023-05-17
43,アビバ三浦海岸店,マイジャグラーV,621,7055,-778.0,26,18,NaN,1/160.3,1/271.3,1/391.9,NaN,2023-05-17
44,アビバ三浦海岸店,マイジャグラーV,622,4124,-122.0,17,6,NaN,1/179.3,1/242.6,1/687.3,NaN,2023-05-17
45,アビバ三浦海岸店,マイジャグラーV,623,4203,-1133.0,13,7,NaN,1/210.2,1/323.3,1/600.4,NaN,2023-05-17
46,アビバ三浦海岸店,マイジャグラーV,625,6161,1585.0,32,11,NaN,1/143.3,1/192.5,1/560.1,NaN,2023-05-17

10467
-701
6
7849
90
110

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
272,上尾UNO,ニューパルサーSPIII,513,619,-600.0,0,1,0.0,1/619.0,1/0.0,1/619.0,1/0.0,2023-05-17
273,上尾UNO,ニューパルサーSPIII,514,1944,-573.0,4,6,0.0,1/194.4,1/486.0,1/324.0,1/0.0,2023-05-17
274,上尾UNO,ニューパルサーSPIII,515,885,440.0,5,1,0.0,1/147.5,1/177.0,1/885.0,1/0.0,2023-05-17
227,上尾UNO,ニューパルサーDX3,516,503,-253.0,1,0,0.0,1/503.0,1/503.0,1/0.0,1/0.0,2023-05-17
228,上尾UNO,ニューパルサーDX3,517,851,-573.0,1,2,0.0,1/283.7,1/851.0,1/425.5,1/0.0,2023-05-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...
52,上尾UNO,スマスロ北斗の拳,893,6716,-2210.0,52,14,0.0,1/101.8,1/129.2,1/479.7,1/0.0,2023-05-17
200,上尾UNO,新鬼武者2,894,1712,-1667.0,7,3,0.0,1/171.2,1/244.6,1/570.7,1/0.0,2023-05-17
93,上尾UNO,マイジャグラーV,895,7570,1741.0,34,26,0.0,1/126.2,1/222.6,1/291.2,1/0.0,2023-05-17
94,上尾UNO,マイジャグラーV,896,5526,-707.0,20,12,0.0,1/172.7,1/276.3,1/460.5,1/0.0,2023-05-17
20,上尾UNO,アイムジャグラーEXTP,897,4865,0.0,21,11,0.0,1/152.0,1/231.7,1/442.3,1/0.0,2023-05-17

19606
-204
15
6191
-126
330

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
0,123+N松原店,マイジャグラーV,861,3051,-855.0,9,4,0.0,1/234.7,1/339.0,1/762.8,1/0.0,2023-05-17
1,123+N松原店,マイジャグラーV,862,5835,-1174.0,17,18,0.0,1/166.7,1/343.2,1/324.2,1/0.0,2023-05-17
2,123+N松原店,マイジャグラーV,863,2968,-727.0,10,7,0.0,1/174.6,1/296.8,1/424.0,1/0.0,2023-05-17
3,123+N松原店,マイジャグラーV,864,4366,-366.0,17,10,0.0,1/161.7,1/256.8,1/436.6,1/0.0,2023-05-17
4,123+N松原店,マイジャグラーV,865,2495,924.0,15,4,0.0,1/131.3,1/166.3,1/623.8,1/0.0,2023-05-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,123+N松原店,ファンキージャグラー2,1409,1191,506.0,7,2,0.0,1/132.3,1/170.1,1/595.5,1/0.0,2023-05-17
145,123+N松原店,ファンキージャグラー2,1410,1344,-238.0,5,3,0.0,1/168.0,1/268.8,1/448.0,1/0.0,2023-05-17
146,123+N松原店,ファンキージャグラー2,1411,547,-250.0,2,0,0.0,1/273.5,1/273.5,1/0.0,1/0.0,2023-05-17
147,123+N松原店,ファンキージャグラー2,1412,1706,413.0,8,4,0.0,1/142.2,1/213.2,1/426.5,1/0.0,2023-05-17
148,123+N松原店,ファンキージャグラー2,1413,6392,1977.0,34,16,0.0,1/127.8,1/188.0,1/399.5,1/0.0,2023-05-17

18335
608
40
10900
196
470

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
335,123+N和歌山本店,モンキーターンIV,705,2153,-236.0,0,5,12.0,1/126.6,1/0.0,1/430.6,1/179.4,2023-05-17
336,123+N和歌山本店,モンキーターンIV,706,240,-91.0,0,1,1.0,1/120.0,1/0.0,1/240.0,1/240.0,2023-05-17
337,123+N和歌山本店,モンキーターンIV,707,845,-903.0,0,1,1.0,1/422.5,1/0.0,1/845.0,1/845.0,2023-05-17
338,123+N和歌山本店,戦姫絶唱シンフォギア勇気の歌,708,2731,690.0,0,10,37.0,1/58.1,1/0.0,1/273.1,1/73.8,2023-05-17
339,123+N和歌山本店,戦姫絶唱シンフォギア勇気の歌,709,22,-38.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,123+N和歌山本店,バジリスク絆2,1096,1922,-852.0,13,0,6.0,1/101.2,1/147.8,1/0.0,1/320.3,2023-05-17
182,123+N和歌山本店,バジリスク絆2,1097,583,-429.0,2,0,1.0,1/194.3,1/291.5,1/0.0,1/583.0,2023-05-17
183,123+N和歌山本店,バジリスク絆2,1098,936,-339.0,6,0,3.0,1/104.0,1/156.0,1/0.0,1/312.0,2023-05-17
184,123+N和歌山本店,バジリスク絆2,1099,15,-22.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-17
185,123+N和歌山本店,バジリスク絆2,1100,918,-344.0,5,0,4.0,1/102.0,1/183.6,1/0.0,1/229.5,2023-05-17

18041
711
26
7302
-83
396

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
86,アビバ鶴見店,ゴブリンスレイヤー,813,762,-25.0,4,0,NaN,1/190.5,1/190.5,1/0.0,NaN,2023-05-17
87,アビバ鶴見店,ゴブリンスレイヤー,815,195,-321.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-17
88,アビバ鶴見店,ゴブリンスレイヤー,816,2032,229.0,12,0,NaN,1/169.3,1/169.3,1/0.0,NaN,2023-05-17
89,アビバ鶴見店,ゴブリンスレイヤー,817,0,0.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-17
90,アビバ鶴見店,ゴブリンスレイヤー,818,729,-606.0,2,0,NaN,1/364.5,1/364.5,1/0.0,NaN,2023-05-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39,アビバ鶴見店,スマスロ北斗の拳,1225,6701,-3141.0,46,17,NaN,1/106.4,1/145.7,1/394.2,NaN,2023-05-17
40,アビバ鶴見店,スマスロ北斗の拳,1226,3504,-1320.0,29,10,NaN,1/89.8,1/120.8,1/350.4,NaN,2023-05-17
41,アビバ鶴見店,スマスロ北斗の拳,1227,5982,6659.0,116,14,NaN,1/46.0,1/51.6,1/427.3,NaN,2023-05-17
42,アビバ鶴見店,スマスロ北斗の拳,1228,7334,1187.0,92,22,NaN,1/64.3,1/79.7,1/333.4,NaN,2023-05-17
43,アビバ鶴見店,スマスロ北斗の拳,1230,7198,2110.0,99,18,NaN,1/61.5,1/72.7,1/399.9,NaN,2023-05-17

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)

17596
1750
14
9036
-96
177

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
132,アビバ綱島樽町店,主役は銭形4,582,2902,479.0,28,10,NaN,1/76.4,1/103.6,1/290.2,NaN,2023-05-17
133,アビバ綱島樽町店,主役は銭形4,583,2084,-1545.0,11,6,NaN,1/122.6,1/189.5,1/347.3,NaN,2023-05-17
134,アビバ綱島樽町店,主役は銭形4,585,4580,-2518.0,26,14,NaN,1/114.5,1/176.2,1/327.1,NaN,2023-05-17
122,アビバ綱島樽町店,革命機ヴァルヴレイヴ,586,233,-276.0,0,1,NaN,1/233.0,1/0.0,1/233.0,NaN,2023-05-17
123,アビバ綱島樽町店,革命機ヴァルヴレイヴ,587,666,591.0,6,0,NaN,1/111.0,1/111.0,1/0.0,NaN,2023-05-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,アビバ綱島樽町店,沖ドキGOLD,801,3096,-2118.0,11,5,NaN,1/193.5,1/281.5,1/619.2,NaN,2023-05-17
90,アビバ綱島樽町店,沖ドキGOLD,802,2034,709.0,16,6,NaN,1/92.5,1/127.1,1/339.0,NaN,2023-05-17
91,アビバ綱島樽町店,沖ドキGOLD,803,3708,2752.0,35,14,NaN,1/75.7,1/105.9,1/264.9,NaN,2023-05-17
92,アビバ綱島樽町店,沖ドキGOLD,805,5159,-1845.0,28,5,NaN,1/156.3,1/184.2,1/1031.8,NaN,2023-05-17
93,アビバ綱島樽町店,沖ドキGOLD,806,6992,-3803.0,28,14,NaN,1/166.5,1/249.7,1/499.4,NaN,2023-05-17

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

17673
-443
11
6804
-142
140

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
31,アビバ南足柄店,HEYエリートサラリーマン鏡,738,1528,-836.0,5,2,NaN,1/218.3,1/305.6,1/764.0,NaN,2023-05-19
32,アビバ南足柄店,HEYエリートサラリーマン鏡,750,145,-226.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-19
33,アビバ南足柄店,HEYエリートサラリーマン鏡,751,88,-142.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-19
34,アビバ南足柄店,HEYエリートサラリーマン鏡,752,2249,3751.0,11,7,NaN,1/124.9,1/204.5,1/321.3,NaN,2023-05-19
35,アビバ南足柄店,HEYエリートサラリーマン鏡,753,371,-272.0,2,0,NaN,1/185.5,1/185.5,1/0.0,NaN,2023-05-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,アビバ南足柄店,スーパーリオエース,1227,1603,-1292.0,4,1,NaN,1/320.6,1/400.8,1/1603.0,NaN,2023-05-19
211,アビバ南足柄店,麻雀格闘倶楽部参,1228,1275,-125.0,9,9,NaN,1/70.8,1/141.7,1/141.7,NaN,2023-05-19
212,アビバ南足柄店,黄門ちゃま喝2,1230,4795,-445.0,34,0,NaN,1/141.0,1/141.0,1/0.0,NaN,2023-05-19
213,アビバ南足柄店,シャア専用パチスロ逆襲の赤い彗星,1231,282,-319.0,1,0,NaN,1/282.0,1/282.0,1/0.0,NaN,2023-05-19
214,アビバ南足柄店,この素晴らしい世界に祝福を,1232,3020,-763.0,50,11,NaN,1/49.5,1/60.4,1/274.5,NaN,2023-05-19

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

19057
151
10
6682
-170
215

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
160,アビバ逗子駅前店,マイジャグラーV,1001,6482,947.0,29,14,NaN,1/150.7,1/223.5,1/463.0,NaN,2023-05-19
161,アビバ逗子駅前店,マイジャグラーV,1002,4731,1099.0,21,15,NaN,1/131.4,1/225.3,1/315.4,NaN,2023-05-19
162,アビバ逗子駅前店,マイジャグラーV,1003,1888,-653.0,6,3,NaN,1/209.8,1/314.7,1/629.3,NaN,2023-05-19
48,アビバ逗子駅前店,ファンキージャグラー2,1005,2509,-600.0,7,8,NaN,1/167.3,1/358.4,1/313.6,NaN,2023-05-19
49,アビバ逗子駅前店,ファンキージャグラー2,1006,965,-200.0,4,1,NaN,1/193.0,1/241.2,1/965.0,NaN,2023-05-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,アビバ逗子駅前店,バジリスク絆2,1277,16,-53.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-19
94,アビバ逗子駅前店,バジリスク絆2,1278,77,-67.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-19
95,アビバ逗子駅前店,バジリスク絆2,1280,68,-53.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-19
96,アビバ逗子駅前店,バジリスク絆2,1281,552,-120.0,5,2,NaN,1/78.9,1/110.4,1/276.0,NaN,2023-05-19
97,アビバ逗子駅前店,バジリスク絆2,1282,1,-53.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-19

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)

17300
240
8
3959
22
186

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
50,パールショップともえ多古店,アナザーゴッドハーデス解き放たれし槍撃ver,401,3241,951.0,13,0,NaN,1/249.3,1/249.3,1/0.0,NaN,2023-05-20
51,パールショップともえ多古店,アナザーゴッドハーデス解き放たれし槍撃ver,402,2416,4835.0,16,0,NaN,1/151.0,1/151.0,1/0.0,NaN,2023-05-20
52,パールショップともえ多古店,アナザーゴッドハーデス解き放たれし槍撃ver,403,2486,2408.0,18,0,NaN,1/138.1,1/138.1,1/0.0,NaN,2023-05-20
83,パールショップともえ多古店,戦姫絶唱シンフォギア勇気の歌,404,2004,1807.0,37,11,NaN,1/41.8,1/54.2,1/182.2,NaN,2023-05-20
84,パールショップともえ多古店,戦姫絶唱シンフォギア勇気の歌,405,533,-538.0,2,2,NaN,1/133.2,1/266.5,1/266.5,NaN,2023-05-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,パールショップともえ多古店,もっとチバリヨ30,555,866,-345.0,2,4,NaN,1/144.3,1/433.0,1/216.5,NaN,2023-05-20
38,パールショップともえ多古店,チバリヨ30,556,314,-400.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-20
39,パールショップともえ多古店,チバリヨ30,557,1661,-1145.0,4,4,NaN,1/207.6,1/415.2,1/415.2,NaN,2023-05-20
40,パールショップともえ多古店,チバリヨ30,558,454,-97.0,2,1,NaN,1/151.3,1/227.0,1/454.0,NaN,2023-05-20
41,パールショップともえ多古店,チバリヨ30,559,720,-538.0,2,0,NaN,1/360.0,1/360.0,1/0.0,NaN,2023-05-20

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )

17487
1284
4
6673
122
108

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
80,グランキコーナ相模原店,スマスロ北斗の拳,721,6706,-1160.0,64,13,0.0,1/87.1,1/104.8,1/515.8,1/0.0,2023-05-20
81,グランキコーナ相模原店,スマスロ北斗の拳,722,6771,-3321.0,49,14,0.0,1/107.5,1/138.2,1/483.6,1/0.0,2023-05-20
82,グランキコーナ相模原店,スマスロ北斗の拳,723,6598,-3519.0,46,11,0.0,1/115.8,1/143.4,1/599.8,1/0.0,2023-05-20
83,グランキコーナ相模原店,スマスロ北斗の拳,724,6692,547.0,74,21,0.0,1/70.4,1/90.4,1/318.7,1/0.0,2023-05-20
84,グランキコーナ相模原店,スマスロ北斗の拳,725,6209,333.0,70,15,0.0,1/73.0,1/88.7,1/413.9,1/0.0,2023-05-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
308,グランキコーナ相模原店,押忍番長ZERO,1207,3261,-2457.0,0,2,10.0,1/271.8,1/0.0,1/1630.5,1/326.1,2023-05-20
309,グランキコーナ相模原店,押忍番長ZERO,1208,2269,1427.0,0,2,14.0,1/141.8,1/0.0,1/1134.5,1/162.1,2023-05-20
310,グランキコーナ相模原店,押忍番長ZERO,1209,6377,2185.0,0,9,41.0,1/127.5,1/0.0,1/708.6,1/155.5,2023-05-20
311,グランキコーナ相模原店,押忍番長ZERO,1210,3920,-1373.0,0,4,19.0,1/170.4,1/0.0,1/980.0,1/206.3,2023-05-20
312,グランキコーナ相模原店,押忍番長ZERO,1211,1533,-1400.0,0,1,4.0,1/306.6,1/0.0,1/1533.0,1/383.2,2023-05-20

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )

19813
-86
40
13858
-118
491

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
31,アビバ南足柄店,HEYエリートサラリーマン鏡,738,2979,178.0,18,8,NaN,1/114.6,1/165.5,1/372.4,NaN,2023-05-20
32,アビバ南足柄店,HEYエリートサラリーマン鏡,750,1198,-887.0,5,2,NaN,1/171.1,1/239.6,1/599.0,NaN,2023-05-20
33,アビバ南足柄店,HEYエリートサラリーマン鏡,751,463,-117.0,3,1,NaN,1/115.8,1/154.3,1/463.0,NaN,2023-05-20
34,アビバ南足柄店,HEYエリートサラリーマン鏡,752,1139,-655.0,6,2,NaN,1/142.4,1/189.8,1/569.5,NaN,2023-05-20
35,アビバ南足柄店,HEYエリートサラリーマン鏡,753,1875,768.0,13,7,NaN,1/93.8,1/144.2,1/267.9,NaN,2023-05-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,アビバ南足柄店,スーパーリオエース,1227,2285,776.0,8,5,NaN,1/175.8,1/285.6,1/457.0,NaN,2023-05-20
211,アビバ南足柄店,麻雀格闘倶楽部参,1228,2083,722.0,18,18,NaN,1/57.9,1/115.7,1/115.7,NaN,2023-05-20
212,アビバ南足柄店,黄門ちゃま喝2,1230,1252,-857.0,6,0,NaN,1/208.7,1/208.7,1/0.0,NaN,2023-05-20
213,アビバ南足柄店,シャア専用パチスロ逆襲の赤い彗星,1231,1736,-1844.0,6,0,NaN,1/289.3,1/289.3,1/0.0,NaN,2023-05-20
214,アビバ南足柄店,この素晴らしい世界に祝福を,1232,3978,-241.0,85,14,NaN,1/40.2,1/46.8,1/284.1,NaN,2023-05-20

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)

18376
1344
10
8927
-117
215

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
57,中山UNO,甲鉄城のカバネリ,396,2477,-867.0,0,7,12.0,1/130.4,1/0.0,1/353.9,1/206.4,2023-05-20
58,中山UNO,甲鉄城のカバネリ,397,5535,1839.0,0,14,44.0,1/95.4,1/0.0,1/395.4,1/125.8,2023-05-20
59,中山UNO,甲鉄城のカバネリ,398,2184,-1107.0,0,5,11.0,1/136.5,1/0.0,1/436.8,1/198.5,2023-05-20
60,中山UNO,甲鉄城のカバネリ,399,4455,333.0,0,14,32.0,1/96.8,1/0.0,1/318.2,1/139.2,2023-05-20
61,中山UNO,甲鉄城のカバネリ,400,2018,-600.0,0,3,12.0,1/134.5,1/0.0,1/672.7,1/168.2,2023-05-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,中山UNO,ひぐらしのなく頃に祭2,596,548,-413.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-20
197,中山UNO,もっとクレアの秘宝伝女神の歌声と太陽の子供達,597,2870,-573.0,10,4,0.0,1/205.0,1/287.0,1/717.5,1/0.0,2023-05-20
198,中山UNO,モンキーターンIV,598,107,-173.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-20
199,中山UNO,黄門ちゃま喝2,599,1565,93.0,0,0,6.0,1/260.8,1/0.0,1/0.0,1/260.8,2023-05-20
200,中山UNO,真俺の空,600,1969,1640.0,0,2,30.0,1/61.5,1/0.0,1/984.5,1/65.6,2023-05-20

20605
1504
10
9638
-276
201

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
13,中山ZoRoN,スマスロ北斗の拳,501,7231,3025.0,101,28,0.0,1/56.1,1/71.6,1/258.2,1/0.0,2023-05-20
14,中山ZoRoN,スマスロ北斗の拳,502,5468,947.0,69,16,0.0,1/64.3,1/79.2,1/341.8,1/0.0,2023-05-20
15,中山ZoRoN,スマスロ北斗の拳,503,7936,-1507.0,71,27,0.0,1/81.0,1/111.8,1/293.9,1/0.0,2023-05-20
16,中山ZoRoN,スマスロ北斗の拳,504,6722,2383.0,87,28,0.0,1/58.5,1/77.3,1/240.1,1/0.0,2023-05-20
17,中山ZoRoN,スマスロ北斗の拳,505,6187,7487.0,121,16,0.0,1/45.2,1/51.1,1/386.7,1/0.0,2023-05-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,中山ZoRoN,ファンキージャグラー2,796,2159,-573.0,7,6,0.0,1/166.1,1/308.4,1/359.8,1/0.0,2023-05-20
75,中山ZoRoN,ファンキージャグラー2,797,6229,-520.0,25,12,0.0,1/168.4,1/249.2,1/519.1,1/0.0,2023-05-20
76,中山ZoRoN,ファンキージャグラー2,798,1760,-707.0,3,5,0.0,1/220.0,1/586.7,1/352.0,1/0.0,2023-05-20
77,中山ZoRoN,ファンキージャグラー2,799,3043,280.0,10,13,0.0,1/132.3,1/304.3,1/234.1,1/0.0,2023-05-20
78,中山ZoRoN,ファンキージャグラー2,800,6118,-173.0,23,12,0.0,1/174.8,1/266.0,1/509.8,1/0.0,2023-05-20

18881
2099
12
6562
219
264

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
114,鶴見UNO,主役は銭形4,284,9226,7122.0,0,13,52.0,1/141.9,1/0.0,1/709.7,1/177.4,2023-05-20
115,鶴見UNO,主役は銭形4,285,7918,284.0,0,12,31.0,1/184.1,1/0.0,1/659.8,1/255.4,2023-05-20
116,鶴見UNO,主役は銭形4,286,7490,5564.0,0,15,40.0,1/136.2,1/0.0,1/499.3,1/187.2,2023-05-20
117,鶴見UNO,主役は銭形4,287,5305,-4195.0,0,10,16.0,1/204.0,1/0.0,1/530.5,1/331.6,2023-05-20
118,鶴見UNO,主役は銭形4,288,8981,-5109.0,0,22,41.0,1/142.6,1/0.0,1/408.2,1/219.0,2023-05-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51,鶴見UNO,マイジャグラーV,560,2164,-1453.0,4,2,0.0,1/360.7,1/541.0,1/1082.0,1/0.0,2023-05-20
52,鶴見UNO,マイジャグラーV,561,8204,2037.0,38,23,0.0,1/134.5,1/215.9,1/356.7,1/0.0,2023-05-20
53,鶴見UNO,マイジャグラーV,562,3427,-1720.0,6,10,0.0,1/214.2,1/571.2,1/342.7,1/0.0,2023-05-20
54,鶴見UNO,マイジャグラーV,563,2960,-1213.0,6,6,0.0,1/246.7,1/493.3,1/493.3,1/0.0,2023-05-20
55,鶴見UNO,マイジャグラーV,564,7564,1080.0,33,21,0.0,1/140.1,1/229.2,1/360.2,1/0.0,2023-05-20

18768
3023
14
9583
-133
281

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
170,上福岡UNO,花火絶景,357,983,-653.0,1,1,0.0,1/491.5,1/983.0,1/983.0,1/0.0,2023-05-20
171,上福岡UNO,ドンちゃん2,358,1664,-200.0,5,5,0.0,1/166.4,1/332.8,1/332.8,1/0.0,2023-05-20
151,上福岡UNO,ニューゲッターマウス,359,1171,1027.0,11,2,0.0,1/90.1,1/106.5,1/585.5,1/0.0,2023-05-20
152,上福岡UNO,ニューゲッターマウス,360,305,-253.0,0,1,0.0,1/305.0,1/0.0,1/305.0,1/0.0,2023-05-20
153,上福岡UNO,ニューゲッターマウス,361,3612,600.0,19,8,0.0,1/133.8,1/190.1,1/451.5,1/0.0,2023-05-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
178,上福岡UNO,ペルソナ5,537,3502,3296.0,26,0,62.0,1/39.8,1/134.7,1/0.0,1/56.5,2023-05-20
179,上福岡UNO,マクロスデルタ,538,968,493.0,0,2,12.0,1/69.1,1/0.0,1/484.0,1/80.7,2023-05-20
180,上福岡UNO,デビルメイクライ5,539,1052,-413.0,0,1,3.0,1/263.0,1/0.0,1/1052.0,1/350.7,2023-05-20
181,上福岡UNO,ピンクパンサーSP,540,2779,547.0,13,6,0.0,1/146.3,1/213.8,1/463.2,1/0.0,2023-05-20
182,上福岡UNO,マジカルハロウィンTrickorTreat,541,75,-120.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-20

18815

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)

23
12
9687
-71
183

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
87,北越谷UNO,革命機ヴァルヴレイヴ,407,4806,-4560.0,10,5,16.0,1/155.0,1/480.6,1/961.2,1/300.4,2023-05-20
88,北越谷UNO,革命機ヴァルヴレイヴ,408,1084,-520.0,6,2,5.0,1/83.4,1/180.7,1/542.0,1/216.8,2023-05-20
89,北越谷UNO,革命機ヴァルヴレイヴ,409,651,-200.0,2,0,2.0,1/162.8,1/325.5,1/0.0,1/325.5,2023-05-20
90,北越谷UNO,革命機ヴァルヴレイヴ,410,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-20
91,北越谷UNO,革命機ヴァルヴレイヴ,411,389,1080.0,11,1,2.0,1/27.8,1/35.4,1/389.0,1/194.5,2023-05-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,北越谷UNO,スマスロ北斗の拳,610,7489,-173.0,78,26,0.0,1/72.0,1/96.0,1/288.0,1/0.0,2023-05-20
51,北越谷UNO,スマスロ北斗の拳,611,6715,-4949.0,37,10,0.0,1/142.9,1/181.5,1/671.5,1/0.0,2023-05-20
52,北越谷UNO,スマスロ北斗の拳,612,5641,-1773.0,45,13,0.0,1/97.3,1/125.4,1/433.9,1/0.0,2023-05-20
53,北越谷UNO,スマスロ北斗の拳,613,6748,-1370.0,55,18,0.0,1/92.4,1/122.7,1/374.9,1/0.0,2023-05-20
54,北越谷UNO,スマスロ北斗の拳,614,6034,-1716.0,51,17,0.0,1/88.7,1/118.3,1/354.9,1/0.0,2023-05-20

18462
-835
8

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

8717
-111
200

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
23,パラッツォ川越店,マイジャグラーV,444,5411,-1642.0,15,12,NaN,1/200.4,1/360.7,1/450.9,NaN,2023-05-20
24,パラッツォ川越店,マイジャグラーV,445,5883,716.0,28,9,NaN,1/159.0,1/210.1,1/653.7,NaN,2023-05-20
25,パラッツォ川越店,マイジャグラーV,446,3534,-701.0,13,4,NaN,1/207.9,1/271.8,1/883.5,NaN,2023-05-20
26,パラッツォ川越店,マイジャグラーV,447,3826,-1420.0,10,7,NaN,1/225.1,1/382.6,1/546.6,NaN,2023-05-20
27,パラッツォ川越店,マイジャグラーV,448,4996,-674.0,17,12,NaN,1/172.3,1/293.9,1/416.3,NaN,2023-05-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
213,パラッツォ川越店,ツインエンジェルPARTY,799,3755,820.0,22,33,NaN,1/68.3,1/170.7,1/113.8,NaN,2023-05-20
214,パラッツォ川越店,ツインエンジェルPARTY,800,5331,239.0,20,47,NaN,1/79.6,1/266.6,1/113.4,NaN,2023-05-20
242,パラッツォ川越店,戦姫絶唱シンフォギア勇気の歌,801,1671,1105.0,25,4,NaN,1/57.6,1/66.8,1/417.8,NaN,2023-05-20
243,パラッツォ川越店,戦姫絶唱シンフォギア勇気の歌,802,136,-212.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-20
244,パラッツォ川越店,戦姫絶唱シンフォギア勇気の歌,803,378,-551.0,0,1,NaN,1/378.0,1/0.0,1/378.0,NaN,2023-05-20

18507
-216
10

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)

8176
-109
320

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
20,せんげん台DUO,HEYエリートサラリーマン鏡,283,1134,-520.0,5,2,0.0,1/162.0,1/226.8,1/567.0,1/0.0,2023-05-20
21,せんげん台DUO,HEYエリートサラリーマン鏡,284,2769,-1720.0,12,3,0.0,1/184.6,1/230.8,1/923.0,1/0.0,2023-05-20
22,せんげん台DUO,HEYエリートサラリーマン鏡,285,4565,5337.0,24,18,0.0,1/108.7,1/190.2,1/253.6,1/0.0,2023-05-20
23,せんげん台DUO,HEYエリートサラリーマン鏡,286,606,-67.0,4,2,0.0,1/101.0,1/151.5,1/303.0,1/0.0,2023-05-20
24,せんげん台DUO,HEYエリートサラリーマン鏡,287,107,-120.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,せんげん台DUO,主役は銭形4,500,7713,2778.0,0,14,36.0,1/154.3,1/0.0,1/550.9,1/214.2,2023-05-20
41,せんげん台DUO,アナザーゴッドハーデス解き放たれし槍撃ver,501,7184,-556.0,0,1,14.0,1/478.9,1/0.0,1/7184.0,1/513.1,2023-05-20
219,せんげん台DUO,ディスクアップ2,502,7346,1444.0,27,16,0.0,1/170.8,1/272.1,1/459.1,1/0.0,2023-05-20
90,せんげん台DUO,沖ドキGOLD,503,1187,-1107.0,2,3,0.0,1/237.4,1/593.5,1/395.7,1/0.0,2023-05-20
59,せんげん台DUO,ファンキージャグラー2,504,7388,-1000.0,22,23,0.0,1/164.2,1/335.8,1/321.2,1/0.0,2023-05-20

18725
58
10
7004
-89
220

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
128,みずほ台UNO,新鬼武者2,375,4765,200.0,0,14,34.0,1/99.3,1/0.0,1/340.4,1/140.1,2023-05-20
129,みずほ台UNO,新鬼武者2,376,541,680.0,0,5,6.0,1/49.2,1/0.0,1/108.2,1/90.2,2023-05-20
161,みずほ台UNO,モンスターハンターワールドアイスボーン,377,5242,-253.0,0,0,30.0,1/174.7,1/0.0,1/0.0,1/174.7,2023-05-20
162,みずほ台UNO,モンスターハンターワールドアイスボーン,378,4282,-760.0,0,0,23.0,1/186.2,1/0.0,1/0.0,1/186.2,2023-05-20
163,みずほ台UNO,モンスターハンターワールドアイスボーン,379,3344,2975.0,0,0,39.0,1/85.7,1/0.0,1/0.0,1/85.7,2023-05-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,みずほ台UNO,主役は銭形4,580,6967,-1213.0,0,10,31.0,1/169.9,1/0.0,1/696.7,1/224.7,2023-05-20
114,みずほ台UNO,バキ強くなりたくば喰らえ,581,83,-120.0,0,1,0.0,1/83.0,1/0.0,1/83.0,1/0.0,2023-05-20
115,みずほ台UNO,バキ強くなりたくば喰らえ,582,2451,-1963.0,0,8,13.0,1/116.7,1/0.0,1/306.4,1/188.5,2023-05-20
130,みずほ台UNO,新鬼武者2,583,2693,-1613.0,0,2,10.0,1/224.4,1/0.0,1/1346.5,1/269.3,2023-05-20
131,みずほ台UNO,新鬼武者2,584,2289,-360.0,0,11,20.0,1/73.8,1/0.0,1/208.1,1/114.5,2023-05-20

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )

16904
392
10
8413
-60
210

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
58,本八幡UNO,HEYエリートサラリーマン鏡,556,3070,-1716.0,0,4,8.0,1/255.8,1/0.0,1/767.5,1/383.8,2023-05-20
59,本八幡UNO,HEYエリートサラリーマン鏡,557,513,0.0,0,1,2.0,1/171.0,1/0.0,1/513.0,1/256.5,2023-05-20
60,本八幡UNO,HEYエリートサラリーマン鏡,558,3869,-2111.0,0,4,10.0,1/276.4,1/0.0,1/967.2,1/386.9,2023-05-20
61,本八幡UNO,HEYエリートサラリーマン鏡,559,1258,-1213.0,0,0,3.0,1/419.3,1/0.0,1/0.0,1/419.3,2023-05-20
62,本八幡UNO,HEYエリートサラリーマン鏡,560,6551,877.0,0,14,27.0,1/159.8,1/0.0,1/467.9,1/242.6,2023-05-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,本八幡UNO,ソードアートオンライン,884,7944,-2605.0,0,31,39.0,1/113.5,1/0.0,1/256.3,1/203.7,2023-05-20
187,本八幡UNO,ソードアートオンライン,885,8259,2136.0,0,29,65.0,1/87.9,1/0.0,1/284.8,1/127.1,2023-05-20
188,本八幡UNO,ソードアートオンライン,886,6741,-2506.0,0,26,34.0,1/112.3,1/0.0,1/259.3,1/198.3,2023-05-20
189,本八幡UNO,ソードアートオンライン,887,7893,-358.0,0,28,48.0,1/103.9,1/0.0,1/281.9,1/164.4,2023-05-20
190,本八幡UNO,ソードアートオンライン,888,7156,-2605.0,0,24,32.0,1/127.8,1/0.0,1/298.2,1/223.6,2023-05-20

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

19384
458
18
11043
-188
331

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
18,南柏UNO,アナザーゴッドハーデス解き放たれし槍撃ver,169,5104,1543.0,1,0,11.0,1/425.3,1/5104.0,1/0.0,1/464.0,2023-05-20
19,南柏UNO,アナザーゴッドハーデス解き放たれし槍撃ver,170,3107,-1560.0,0,0,4.0,1/776.8,1/0.0,1/0.0,1/776.8,2023-05-20
20,南柏UNO,アナザーゴッドハーデス解き放たれし槍撃ver,171,1681,-2012.0,0,0,2.0,1/840.5,1/0.0,1/0.0,1/840.5,2023-05-20
21,南柏UNO,アナザーゴッドハーデス解き放たれし槍撃ver,172,1462,2333.0,0,2,8.0,1/146.2,1/0.0,1/731.0,1/182.8,2023-05-20
22,南柏UNO,アナザーゴッドハーデス解き放たれし槍撃ver,173,4581,-2506.0,0,0,5.0,1/916.2,1/0.0,1/0.0,1/916.2,2023-05-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,南柏UNO,ガメラ,596,252,147.0,1,0,0.0,1/252.0,1/252.0,1/0.0,1/0.0,2023-05-20
198,南柏UNO,ガメラ,597,3486,787.0,10,9,0.0,1/183.5,1/348.6,1/387.3,1/0.0,2023-05-20
153,南柏UNO,スーパーリオエース,598,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-20
154,南柏UNO,スーパーリオエース,599,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-20
155,南柏UNO,スーパーリオエース,600,1006,-573.0,4,0,2.0,1/167.7,1/251.5,1/0.0,1/503.0,2023-05-20

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

18454
2364
10
9410
53
216

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
91,稲毛海岸UNO,甲鉄城のカバネリ,317,0,0.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-20
92,稲毛海岸UNO,甲鉄城のカバネリ,318,4367,-1815.0,35,18,NaN,1/82.4,1/124.8,1/242.6,NaN,2023-05-20
93,稲毛海岸UNO,甲鉄城のカバネリ,319,5154,-67.0,56,24,NaN,1/64.4,1/92.0,1/214.8,NaN,2023-05-20
94,稲毛海岸UNO,甲鉄城のカバネリ,320,2146,136.0,24,7,NaN,1/69.2,1/89.4,1/306.6,NaN,2023-05-20
95,稲毛海岸UNO,甲鉄城のカバネリ,321,4377,2926.0,67,25,NaN,1/47.6,1/65.3,1/175.1,NaN,2023-05-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,稲毛海岸UNO,CCエンジェル,551,2011,200.0,8,9,NaN,1/118.3,1/251.4,1/223.4,NaN,2023-05-20
236,稲毛海岸UNO,ツインエンジェルPARTY,552,228,-200.0,0,1,NaN,1/228.0,1/0.0,1/228.0,NaN,2023-05-20
237,稲毛海岸UNO,かまいたちの夜,553,740,-920.0,0,1,NaN,1/740.0,1/0.0,1/740.0,NaN,2023-05-20
201,稲毛海岸UNO,Lucky海物語,554,13,-53.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-20
238,稲毛海岸UNO,月華雅,555,63,200.0,1,0,NaN,1/63.0,1/63.0,1/0.0,NaN,2023-05-20

17990
1741
10
7187
-107
239

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
43,小田急相模原UNO,スマスロ北斗の拳,291,5674,-556.0,61,14,0.0,1/75.7,1/93.0,1/405.3,1/0.0,2023-05-20
44,小田急相模原UNO,スマスロ北斗の拳,292,8013,-2852.0,61,27,0.0,1/91.1,1/131.4,1/296.8,1/0.0,2023-05-20
45,小田急相模原UNO,スマスロ北斗の拳,293,4919,-111.0,54,7,0.0,1/80.6,1/91.1,1/702.7,1/0.0,2023-05-20
46,小田急相模原UNO,スマスロ北斗の拳,294,6377,2580.0,78,22,0.0,1/63.8,1/81.8,1/289.9,1/0.0,2023-05-20
47,小田急相模原UNO,スマスロ北斗の拳,295,5443,-1907.0,44,11,0.0,1/99.0,1/123.7,1/494.8,1/0.0,2023-05-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,小田急相模原UNO,バジリスク絆2,496,856,-600.0,6,0,1.0,1/122.3,1/142.7,1/0.0,1/856.0,2023-05-20
59,小田急相模原UNO,押忍番長ZERO,497,867,-307.0,0,1,6.0,1/123.9,1/0.0,1/867.0,1/144.5,2023-05-20
60,小田急相模原UNO,押忍番長ZERO,498,506,-200.0,0,1,3.0,1/126.5,1/0.0,1/506.0,1/168.7,2023-05-20
61,小田急相模原UNO,押忍番長ZERO,499,1899,-120.0,0,3,16.0,1/99.9,1/0.0,1/633.0,1/118.7,2023-05-20
62,小田急相模原UNO,押忍番長ZERO,500,1836,-573.0,0,3,13.0,1/114.8,1/0.0,1/612.0,1/141.2,2023-05-20

18777
-258
6

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)

7393
-163
174

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
144,朝霞UNO,ファンキージャグラー2,357,6367,787.0,26,20,0.0,1/138.4,1/244.9,1/318.4,1/0.0,2023-05-20
145,朝霞UNO,ファンキージャグラー2,358,1709,-1160.0,3,5,0.0,1/213.6,1/569.7,1/341.8,1/0.0,2023-05-20
0,朝霞UNO,アイムジャグラーEXTP,359,3504,0.0,12,14,0.0,1/134.8,1/292.0,1/250.3,1/0.0,2023-05-20
1,朝霞UNO,アイムジャグラーEXTP,360,2888,440.0,12,6,0.0,1/160.4,1/240.7,1/481.3,1/0.0,2023-05-20
2,朝霞UNO,アイムジャグラーEXTP,361,1231,-120.0,4,3,0.0,1/175.9,1/307.8,1/410.3,1/0.0,2023-05-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,朝霞UNO,バジリスク絆2,540,2260,-120.0,16,16,0.0,1/70.6,1/141.2,1/141.2,1/0.0,2023-05-20
59,朝霞UNO,バジリスク絆2,541,46,-53.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-20
111,朝霞UNO,押忍番長ZERO,542,1990,1533.0,33,3,0.0,1/55.3,1/60.3,1/663.3,1/0.0,2023-05-20
112,朝霞UNO,押忍番長ZERO,543,257,93.0,5,1,0.0,1/42.8,1/51.4,1/257.0,1/0.0,2023-05-20
113,朝霞UNO,押忍番長ZERO,544,4213,1741.0,64,12,0.0,1/55.4,1/65.8,1/351.1,1/0.0,2023-05-20

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

14443
1332
6
5764
-11
188

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
48,八柱UNO,マイジャグラーV,501,7024,-413.0,29,11,0.0,1/175.6,1/242.2,1/638.5,1/0.0,2023-05-20
49,八柱UNO,マイジャグラーV,502,6626,1880.0,30,29,0.0,1/112.3,1/220.9,1/228.5,1/0.0,2023-05-20
50,八柱UNO,マイジャグラーV,503,9783,1988.0,36,49,0.0,1/115.1,1/271.8,1/199.7,1/0.0,2023-05-20
51,八柱UNO,マイジャグラーV,504,4660,-1507.0,13,8,0.0,1/221.9,1/358.5,1/582.5,1/0.0,2023-05-20
52,八柱UNO,マイジャグラーV,505,1899,227.0,7,6,0.0,1/146.1,1/271.3,1/316.5,1/0.0,2023-05-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,八柱UNO,新ハナビ,764,132,-173.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-20
78,八柱UNO,新ハナビ,765,5208,1293.0,22,19,0.0,1/127.0,1/236.7,1/274.1,1/0.0,2023-05-20
90,八柱UNO,花火絶景,766,6,-53.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-20
84,八柱UNO,甲鉄城のカバネリ,767,4113,-1907.0,25,20,0.0,1/91.4,1/164.5,1/205.7,1/0.0,2023-05-20
47,八柱UNO,スマスロ北斗の拳,768,5137,93.0,58,13,0.0,1/72.4,1/88.6,1/395.2,1/0.0,2023-05-20

16909
1741
7
6567
-105
223

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
45,アビバアネックス・スクエア店,スマスロ北斗の拳,620,5859,-2117.0,44,14,NaN,1/101.0,1/133.2,1/418.5,NaN,2023-05-20
46,アビバアネックス・スクエア店,スマスロ北斗の拳,621,6720,-2640.0,48,11,NaN,1/113.9,1/140.0,1/610.9,NaN,2023-05-20
47,アビバアネックス・スクエア店,スマスロ北斗の拳,622,7498,3255.0,98,23,NaN,1/62.0,1/76.5,1/326.0,NaN,2023-05-20
48,アビバアネックス・スクエア店,スマスロ北斗の拳,623,5859,4159.0,93,18,NaN,1/52.8,1/63.0,1/325.5,NaN,2023-05-20
49,アビバアネックス・スクエア店,スマスロ北斗の拳,625,7939,-2028.0,73,16,NaN,1/89.2,1/108.8,1/496.2,NaN,2023-05-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,アビバアネックス・スクエア店,バラエティ,1217,492,-575.0,0,2,NaN,1/246.0,1/0.0,1/246.0,NaN,2023-05-20
84,アビバアネックス・スクエア店,バラエティ,1218,1254,-1215.0,1,5,NaN,1/209.0,1/1254.0,1/250.8,NaN,2023-05-20
85,アビバアネックス・スクエア店,バラエティ,1220,147,-173.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-20
86,アビバアネックス・スクエア店,バラエティ,1221,4,-10.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-20
87,アビバアネックス・スクエア店,バラエティ,1222,0,0.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-20

20334
71
22
9523
-310
323

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
57,アビバ上大岡店,スマスロ北斗の拳,685,6182,3566.0,96,15,NaN,1/55.7,1/64.4,1/412.1,NaN,2023-05-20
58,アビバ上大岡店,スマスロ北斗の拳,686,7494,390.0,84,16,NaN,1/74.9,1/89.2,1/468.4,NaN,2023-05-20
59,アビバ上大岡店,スマスロ北斗の拳,687,6128,-493.0,60,14,NaN,1/82.8,1/102.1,1/437.7,NaN,2023-05-20
60,アビバ上大岡店,スマスロ北斗の拳,688,7719,-1287.0,68,26,NaN,1/82.1,1/113.5,1/296.9,NaN,2023-05-20
84,アビバ上大岡店,主役は銭形4,700,5716,1244.0,42,12,NaN,1/105.9,1/136.1,1/476.3,NaN,2023-05-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27,アビバ上大岡店,マイジャグラーV,1005,8855,-139.0,36,25,NaN,1/145.2,1/246.0,1/354.2,NaN,2023-05-20
28,アビバ上大岡店,マイジャグラーV,1006,9045,3762.0,39,47,NaN,1/105.2,1/231.9,1/192.4,NaN,2023-05-20
29,アビバ上大岡店,マイジャグラーV,1007,6896,1914.0,34,17,NaN,1/135.2,1/202.8,1/405.6,NaN,2023-05-20
30,アビバ上大岡店,マイジャグラーV,1008,7705,-1019.0,25,19,NaN,1/175.1,1/308.2,1/405.5,NaN,2023-05-20
31,アビバ上大岡店,マイジャグラーV,1010,7472,-3099.0,17,16,NaN,1/226.4,1/439.5,1/467.0,NaN,2023-05-20

19788
351
9
17267
256
141

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
143,パールショップともえ淵野辺店,バキ強くなりたくば喰らえ,901,2364,-593.0,0,11,20.0,1/76.3,1/0.0,1/214.9,1/118.2,2023-05-20
144,パールショップともえ淵野辺店,バキ強くなりたくば喰らえ,902,765,207.0,0,1,7.0,1/95.6,1/0.0,1/765.0,1/109.3,2023-05-20
145,パールショップともえ淵野辺店,バキ強くなりたくば喰らえ,903,2558,-1752.0,0,8,15.0,1/111.2,1/0.0,1/319.8,1/170.5,2023-05-20
146,パールショップともえ淵野辺店,バキ強くなりたくば喰らえ,904,129,-207.0,0,1,0.0,1/129.0,1/0.0,1/129.0,1/0.0,2023-05-20
147,パールショップともえ淵野辺店,バキ強くなりたくば喰らえ,905,4221,4487.0,0,8,67.0,1/56.3,1/0.0,1/527.6,1/63.0,2023-05-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,パールショップともえ淵野辺店,キングハナハナ30,1336,830,-83.0,2,4,0.0,1/138.3,1/415.0,1/207.5,1/0.0,2023-05-20
97,パールショップともえ淵野辺店,キングハナハナ30,1337,3552,841.0,16,9,0.0,1/142.1,1/222.0,1/394.7,1/0.0,2023-05-20
98,パールショップともえ淵野辺店,キングハナハナ30,1338,1101,-704.0,2,1,0.0,1/367.0,1/550.5,1/1101.0,1/0.0,2023-05-20
99,パールショップともえ淵野辺店,キングハナハナ30,1339,104,-152.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-20
100,パールショップともえ淵野辺店,キングハナハナ30,1340,1860,-593.0,5,2,0.0,1/265.7,1/372.0,1/930.0,1/0.0,2023-05-20

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

17117
-125
16
7985
-144
200

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
407,ビッグアップル.加古川,新世紀エヴァンゲリオン魂の共鳴,1001,7981,3098.0,0,15,110.0,1/63.8,1/0.0,1/532.1,1/72.6,2023-05-20
408,ビッグアップル.加古川,ハードボイルド,1002,3889,10.0,13,9,9.0,1/125.5,1/299.2,1/432.1,1/432.1,2023-05-20
409,ビッグアップル.加古川,ペルソナ5,1003,3943,2753.0,0,82,0.0,1/48.1,1/0.0,1/48.1,1/0.0,2023-05-20
410,ビッグアップル.加古川,バイオハザード7レジデントイービル,1004,5142,3119.0,110,0,10.0,1/42.9,1/46.7,1/0.0,1/514.2,2023-05-20
394,ビッグアップル.加古川,戦姫絶唱シンフォギア勇気の歌,1005,2705,-1393.0,0,11,17.0,1/96.6,1/0.0,1/245.9,1/159.1,2023-05-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,ビッグアップル.加古川,主役は銭形4,1554,6809,-1204.0,0,12,31.0,1/158.3,1/0.0,1/567.4,1/219.6,2023-05-20
262,ビッグアップル.加古川,主役は銭形4,1555,8556,-4581.0,0,11,26.0,1/231.2,1/0.0,1/777.8,1/329.1,2023-05-20
263,ビッグアップル.加古川,主役は銭形4,1556,6607,-3924.0,0,8,19.0,1/244.7,1/0.0,1/825.9,1/347.7,2023-05-20
264,ビッグアップル.加古川,主役は銭形4,1557,7582,-5219.0,0,12,24.0,1/210.6,1/0.0,1/631.8,1/315.9,2023-05-20
265,ビッグアップル.加古川,主役は銭形4,1558,7144,6179.0,0,9,39.0,1/148.8,1/0.0,1/793.8,1/183.2,2023-05-20

19246
3423
39
18299

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

510
422

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
320,パラッツォ鳩ヶ谷店,キングハナハナ30,2001,3698,-171.0,13,10,NaN,1/160.8,1/284.5,1/369.8,NaN,2023-05-20
321,パラッツォ鳩ヶ谷店,キングハナハナ30,2002,1853,-991.0,5,1,NaN,1/308.8,1/370.6,1/1853.0,NaN,2023-05-20
322,パラッツォ鳩ヶ谷店,キングハナハナ30,2003,461,-88.0,2,0,NaN,1/230.5,1/230.5,1/0.0,NaN,2023-05-20
323,パラッツォ鳩ヶ谷店,キングハナハナ30,2005,5021,-487.0,15,17,NaN,1/156.9,1/334.7,1/295.4,NaN,2023-05-20
324,パラッツォ鳩ヶ谷店,キングハナハナ30,2006,5558,389.0,20,18,NaN,1/146.3,1/277.9,1/308.8,NaN,2023-05-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
677,パラッツォ鳩ヶ谷店,ペルソナ5,3367,1164,-439.0,12,9,NaN,1/55.4,1/97.0,1/129.3,NaN,2023-05-20
678,パラッツォ鳩ヶ谷店,ペルソナ5,3368,1376,2049.0,24,47,NaN,1/19.4,1/57.3,1/29.3,NaN,2023-05-20
697,パラッツォ鳩ヶ谷店,楽園追放,3370,3401,-90.0,41,14,NaN,1/61.8,1/83.0,1/242.9,NaN,2023-05-20
698,パラッツォ鳩ヶ谷店,楽園追放,3371,427,0.0,2,1,NaN,1/142.3,1/213.5,1/427.0,NaN,2023-05-20
699,パラッツォ鳩ヶ谷店,楽園追放,3372,1034,206.0,10,2,NaN,1/86.2,1/103.4,1/517.0,NaN,2023-05-20

18696
251
45
10336
-119
754

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
76,ジャムフレンドクラブ朝霞店,押忍番長ZERO,661,5796,-3428.0,51,9,NaN,1/96.6,1/113.6,1/644.0,NaN,2023-05-21
77,ジャムフレンドクラブ朝霞店,押忍番長ZERO,662,4214,-220.0,51,11,NaN,1/68.0,1/82.6,1/383.1,NaN,2023-05-21
78,ジャムフレンドクラブ朝霞店,押忍番長ZERO,663,4296,7238.0,98,16,NaN,1/37.7,1/43.8,1/268.5,NaN,2023-05-21
79,ジャムフレンドクラブ朝霞店,押忍番長ZERO,664,1098,-1428.0,3,0,NaN,1/366.0,1/366.0,1/0.0,NaN,2023-05-21
80,ジャムフレンドクラブ朝霞店,押忍番長ZERO,665,3800,1447.0,53,7,NaN,1/63.3,1/71.7,1/542.9,NaN,2023-05-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,ジャムフレンドクラブ朝霞店,Reゼロから始める異世界生活,894,1182,-1012.0,4,0,NaN,1/295.5,1/295.5,1/0.0,NaN,2023-05-21
236,ジャムフレンドクラブ朝霞店,鬼浜爆走紅蓮隊狂闘旅情編,895,1576,-1512.0,5,4,NaN,1/175.1,1/315.2,1/394.0,NaN,2023-05-21
212,ジャムフレンドクラブ朝霞店,戦国無双3,896,899,-720.0,5,3,NaN,1/112.4,1/179.8,1/299.7,NaN,2023-05-21
198,ジャムフレンドクラブ朝霞店,アクエリオンALLSTARS,897,4640,-2428.0,33,14,NaN,1/98.7,1/140.6,1/331.4,NaN,2023-05-21
237,ジャムフレンドクラブ朝霞店,黄門ちゃま喝2,898,3887,988.0,29,0,NaN,1/134.0,1/134.0,1/0.0,NaN,2023-05-21

19547
1578
13
10813

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)

337
238

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
80,グランキコーナ相模原店,スマスロ北斗の拳,721,5809,1148.0,79,16,0.0,1/61.1,1/73.5,1/363.1,1/0.0,2023-05-21
81,グランキコーナ相模原店,スマスロ北斗の拳,722,6737,-1560.0,59,15,0.0,1/91.0,1/114.2,1/449.1,1/0.0,2023-05-21
82,グランキコーナ相模原店,スマスロ北斗の拳,723,6348,-2358.0,50,14,0.0,1/99.2,1/127.0,1/453.4,1/0.0,2023-05-21
83,グランキコーナ相模原店,スマスロ北斗の拳,724,5814,-973.0,50,17,0.0,1/86.8,1/116.3,1/342.0,1/0.0,2023-05-21
84,グランキコーナ相模原店,スマスロ北斗の拳,725,5754,333.0,69,15,0.0,1/68.5,1/83.4,1/383.6,1/0.0,2023-05-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...
308,グランキコーナ相模原店,押忍番長ZERO,1207,4931,-1053.0,0,7,25.0,1/154.1,1/0.0,1/704.4,1/197.2,2023-05-21
309,グランキコーナ相模原店,押忍番長ZERO,1208,3074,-1613.0,0,3,13.0,1/192.1,1/0.0,1/1024.7,1/236.5,2023-05-21
310,グランキコーナ相模原店,押忍番長ZERO,1209,2302,-1373.0,0,4,11.0,1/153.5,1/0.0,1/575.5,1/209.3,2023-05-21
311,グランキコーナ相模原店,押忍番長ZERO,1210,6011,383.0,0,9,29.0,1/158.2,1/0.0,1/667.9,1/207.3,2023-05-21
312,グランキコーナ相模原店,押忍番長ZERO,1211,1719,-1373.0,0,1,8.0,1/191.0,1/0.0,1/1719.0,1/214.9,2023-05-21

18629
-327
40
13410

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)

-309
491

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
47,ピーアーク朝霞,HEYエリートサラリーマン鏡,234,635,-748.0,2,0,0.0,1/317.5,1/317.5,1/0.0,1/0.0,2023-05-21
48,ピーアーク朝霞,HEYエリートサラリーマン鏡,235,3749,1185.0,26,9,0.0,1/107.1,1/144.2,1/416.6,1/0.0,2023-05-21
49,ピーアーク朝霞,HEYエリートサラリーマン鏡,236,598,-572.0,2,1,0.0,1/199.3,1/299.0,1/598.0,1/0.0,2023-05-21
50,ピーアーク朝霞,HEYエリートサラリーマン鏡,237,2566,253.0,18,7,0.0,1/102.6,1/142.6,1/366.6,1/0.0,2023-05-21
51,ピーアーク朝霞,HEYエリートサラリーマン鏡,238,1941,-1665.0,8,1,0.0,1/215.7,1/242.6,1/1941.0,1/0.0,2023-05-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18,ピーアーク朝霞,マイジャグラーV,379,4922,733.0,21,13,0.0,1/144.8,1/234.4,1/378.6,1/0.0,2023-05-21
19,ピーアーク朝霞,マイジャグラーV,380,1229,-194.0,5,2,0.0,1/175.6,1/245.8,1/614.5,1/0.0,2023-05-21
20,ピーアーク朝霞,マイジャグラーV,381,5031,414.0,22,11,0.0,1/152.5,1/228.7,1/457.4,1/0.0,2023-05-21
21,ピーアーク朝霞,マイジャグラーV,382,2084,174.0,8,5,0.0,1/160.3,1/260.5,1/416.8,1/0.0,2023-05-21
22,ピーアーク朝霞,マイジャグラーV,383,5443,297.0,23,13,0.0,1/151.2,1/236.7,1/418.7,1/0.0,2023-05-21

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)

16432
743
10
6990
-42
150

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
257,123門真店,革命機ヴァルヴレイヴ,793,4943,NaN,100,6,21.0,1/38.9,1/49.4,1/823.8,1/235.4,2023-05-21
258,123門真店,革命機ヴァルヴレイヴ,794,5620,NaN,16,7,16.0,1/144.1,1/351.2,1/802.9,1/351.2,2023-05-21
259,123門真店,革命機ヴァルヴレイヴ,795,4696,NaN,16,8,18.0,1/111.8,1/293.5,1/587.0,1/260.9,2023-05-21
260,123門真店,革命機ヴァルヴレイヴ,796,5889,NaN,46,5,22.0,1/80.7,1/128.0,1/1177.8,1/267.7,2023-05-21
261,123門真店,革命機ヴァルヴレイヴ,797,5719,NaN,59,3,17.0,1/72.4,1/96.9,1/1906.3,1/336.4,2023-05-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,123門真店,スマスロ北斗の拳,1234,6502,NaN,36,12,0.0,1/135.5,1/180.6,1/541.8,1/0.0,2023-05-21
152,123門真店,スマスロ北斗の拳,1235,5593,NaN,43,14,0.0,1/98.1,1/130.1,1/399.5,1/0.0,2023-05-21
153,123門真店,スマスロ北斗の拳,1236,5420,NaN,41,15,0.0,1/96.8,1/132.2,1/361.3,1/0.0,2023-05-21
154,123門真店,スマスロ北斗の拳,1237,6330,NaN,86,26,0.0,1/56.5,1/73.6,1/243.5,1/0.0,2023-05-21
155,123門真店,スマスロ北斗の拳,1238,6709,NaN,89,16,0.0,1/63.9,1/75.4,1/419.3,1/0.0,2023-05-21

17777
エラー店舗 123門真店 cannot convert float NaN to integer

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
0,123+N大阪本店,マイジャグラーV,549,6656,961.0,30,16,0.0,1/144.7,1/221.9,1/416.0,1/0.0,2023-05-21
1,123+N大阪本店,マイジャグラーV,550,9458,1256.0,35,39,0.0,1/127.8,1/270.2,1/242.5,1/0.0,2023-05-21
2,123+N大阪本店,マイジャグラーV,551,8202,798.0,33,24,0.0,1/143.9,1/248.5,1/341.8,1/0.0,2023-05-21
3,123+N大阪本店,マイジャグラーV,552,7687,813.0,28,28,0.0,1/137.3,1/274.5,1/274.5,1/0.0,2023-05-21
4,123+N大阪本店,マイジャグラーV,553,7345,-1788.0,20,24,0.0,1/166.9,1/367.2,1/306.0,1/0.0,2023-05-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,123+N大阪本店,ディスクアップ2,1318,6904,974.0,25,12,0.0,1/186.6,1/276.2,1/575.3,1/0.0,2023-05-21
463,123+N大阪本店,ひぐらしのなく頃に祭2,1319,8442,456.0,17,15,0.0,1/263.8,1/496.6,1/562.8,1/0.0,2023-05-21
416,123+N大阪本店,新ハナビ,1320,4012,-618.0,11,12,0.0,1/174.4,1/364.7,1/334.3,1/0.0,2023-05-21
306,123+N大阪本店,ディスクアップ2,1321,8558,4923.0,37,27,0.0,1/133.7,1/231.3,1/317.0,1/0.0,2023-05-21
465,123+N大阪本店,マッピー,1322,6185,706.0,23,23,0.0,1/134.5,1/268.9,1/268.9,1/0.0,2023-05-21

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

18925
938
37
21554
402
480

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
196,ワンダーランドうきはバイパス店,チバリヨ30,2001,1512,3316.0,24,7,0.0,1/48.8,1/63.0,1/216.0,1/0.0,2023-05-21
197,ワンダーランドうきはバイパス店,チバリヨ30,2002,877,1243.0,9,8,0.0,1/51.6,1/97.4,1/109.6,1/0.0,2023-05-21
198,ワンダーランドうきはバイパス店,チバリヨ30,2003,1886,1331.0,18,7,0.0,1/75.4,1/104.8,1/269.4,1/0.0,2023-05-21
199,ワンダーランドうきはバイパス店,チバリヨ30,2004,983,-1069.0,1,3,0.0,1/245.8,1/983.0,1/327.7,1/0.0,2023-05-21
200,ワンダーランドうきはバイパス店,チバリヨ30,2005,285,-448.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,ワンダーランドうきはバイパス店,ファンキージャグラー2,4009,3675,-1336.0,8,12,0.0,1/183.8,1/459.4,1/306.2,1/0.0,2023-05-21
62,ワンダーランドうきはバイパス店,ファンキージャグラー2,4010,5652,148.0,21,16,0.0,1/152.8,1/269.1,1/353.2,1/0.0,2023-05-21
63,ワンダーランドうきはバイパス店,ファンキージャグラー2,4011,3837,-705.0,13,11,0.0,1/159.9,1/295.2,1/348.8,1/0.0,2023-05-21
64,ワンダーランドうきはバイパス店,ファンキージャグラー2,4012,3716,-1212.0,8,10,0.0,1/206.4,1/464.5,1/371.6,1/0.0,2023-05-21
65,ワンダーランドうきはバイパス店,ファンキージャグラー2,4013,6936,16.0,28,18,0.0,1/150.8,1/247.7,1/385.3,1/0.0,2023-05-21

18273
2315
12
11655
204
300

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
196,ピーアーク越谷,沖ドキDUO30,501,306,1035.0,7,1,0.0,1/38.2,1/43.7,1/306.0,1/0.0,2023-05-22
197,ピーアーク越谷,沖ドキDUO30,502,258,-419.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-22
198,ピーアーク越谷,沖ドキDUO30,503,438,204.0,4,1,0.0,1/87.6,1/109.5,1/438.0,1/0.0,2023-05-22
199,ピーアーク越谷,沖ドキDUO30,504,169,-276.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-22
94,ピーアーク越谷,沖ドキGOLD30,505,1147,-15.0,7,4,0.0,1/104.3,1/163.9,1/286.8,1/0.0,2023-05-22
...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,ピーアーク越谷,幼女戦記,792,1907,-1332.0,0,2,17.0,1/100.4,1/0.0,1/953.5,1/112.2,2023-05-22
256,ピーアーク越谷,鉄拳5,793,687,-437.0,2,2,2.0,1/114.5,1/343.5,1/343.5,1/343.5,2023-05-22
257,ピーアーク越谷,FAIRYTAIL2,794,750,1074.0,0,3,12.0,1/50.0,1/0.0,1/250.0,1/62.5,2023-05-22
258,ピーアーク越谷,黄門ちゃま喝2,795,784,-584.0,0,0,4.0,1/196.0,1/0.0,1/0.0,1/196.0,2023-05-22
259,ピーアーク越谷,戦国無双3,796,1273,-338.0,9,0,6.0,1/84.9,1/141.4,1/0.0,1/212.2,2023-05-22

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)

16409
119
16
8056
-71
260

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
338,ピーアーク相模原,スロドル,501,2886,NaN,9,11,0.0,1/144.3,1/320.7,1/262.4,1/0.0,2023-05-22
242,ピーアーク相模原,とある科学の超電磁砲,502,0,NaN,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-22
339,ピーアーク相模原,探偵オペラミルキィホームズR大収穫祭,503,1057,NaN,3,0,0.0,1/352.3,1/352.3,1/0.0,1/0.0,2023-05-22
321,ピーアーク相模原,頭文字D,504,410,NaN,0,3,0.0,1/136.7,1/0.0,1/136.7,1/0.0,2023-05-22
340,ピーアーク相模原,OVERLORD絶対支配者光臨II,505,2525,NaN,14,6,0.0,1/126.2,1/180.4,1/420.8,1/0.0,2023-05-22
...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,ピーアーク相模原,スマスロ北斗の拳,1591,4459,NaN,29,10,0.0,1/114.3,1/153.8,1/445.9,1/0.0,2023-05-22
93,ピーアーク相模原,スマスロ北斗の拳,1592,4715,NaN,34,9,0.0,1/109.7,1/138.7,1/523.9,1/0.0,2023-05-22
94,ピーアーク相模原,スマスロ北斗の拳,1593,3438,NaN,39,4,0.0,1/80.0,1/88.2,1/859.5,1/0.0,2023-05-22
95,ピーアーク相模原,スマスロ北斗の拳,1594,4773,NaN,39,11,0.0,1/95.5,1/122.4,1/433.9,1/0.0,2023-05-22
96,ピーアーク相模原,スマスロ北斗の拳,1595,4813,NaN,87,7,0.0,1/51.2,1/55.3,1/687.6,1/0.0,2023-05-22

12495
エラー店舗 ピーアーク相模原 cannot convert float NaN to integer

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
133,パラッツォ秋津店,楽園追放,501,6254,2483.0,81,34,0.0,1/54.4,1/77.2,1/183.9,1/0.0,2023-05-22
134,パラッツォ秋津店,楽園追放,502,6249,973.0,66,31,0.0,1/64.4,1/94.7,1/201.6,1/0.0,2023-05-22
78,パラッツォ秋津店,新世紀エヴァンゲリオン魂の共鳴,503,2042,-803.0,26,5,0.0,1/65.9,1/78.5,1/408.4,1/0.0,2023-05-22
79,パラッツォ秋津店,新世紀エヴァンゲリオン魂の共鳴,505,979,-856.0,10,2,0.0,1/81.6,1/97.9,1/489.5,1/0.0,2023-05-22
115,パラッツォ秋津店,ひぐらしのなく頃に祭2,506,2685,470.0,13,12,22.0,1/57.1,1/206.5,1/223.8,1/122.0,2023-05-22
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24,パラッツォ秋津店,新ハナビ,807,2036,-1453.0,2,3,0.0,1/407.2,1/1018.0,1/678.7,1/0.0,2023-05-22
25,パラッツォ秋津店,新ハナビ,808,6214,-577.0,20,17,0.0,1/167.9,1/310.7,1/365.5,1/0.0,2023-05-22
26,パラッツォ秋津店,新ハナビ,810,7286,-682.0,22,25,0.0,1/155.0,1/331.2,1/291.4,1/0.0,2023-05-22
27,パラッツォ秋津店,新ハナビ,811,3922,-414.0,15,7,0.0,1/178.3,1/261.5,1/560.3,1/0.0,2023-05-22
28,パラッツォ秋津店,新ハナビ,812,7152,3548.0,39,21,0.0,1/119.2,1/183.4,1/340.6,1/0.0,2023-05-22

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

19508
2346
3
12734
256
177

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
59,アビバ横須賀中央店,スマスロ北斗の拳,628,7240,-966.0,67,17,0.0,1/86.2,1/108.1,1/425.9,1/0.0,2023-05-22
60,アビバ横須賀中央店,スマスロ北斗の拳,630,6336,-1131.0,65,13,0.0,1/81.2,1/97.5,1/487.4,1/0.0,2023-05-22
61,アビバ横須賀中央店,スマスロ北斗の拳,631,6089,-3442.0,42,11,0.0,1/114.9,1/145.0,1/553.5,1/0.0,2023-05-22
62,アビバ横須賀中央店,スマスロ北斗の拳,632,7553,-1123.0,71,22,0.0,1/81.2,1/106.4,1/343.3,1/0.0,2023-05-22
63,アビバ横須賀中央店,スマスロ北斗の拳,633,7721,128.0,77,24,0.0,1/76.4,1/100.3,1/321.7,1/0.0,2023-05-22
...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,アビバ横須賀中央店,アナザーゴッドハーデス解き放たれし槍撃ver,1033,1701,2062.0,10,1,0.0,1/154.6,1/170.1,1/1701.0,1/0.0,2023-05-22
73,アビバ横須賀中央店,アナザーゴッドハーデス解き放たれし槍撃ver,1035,2318,792.0,8,1,0.0,1/257.6,1/289.8,1/2318.0,1/0.0,2023-05-22
74,アビバ横須賀中央店,アナザーゴッドハーデス解き放たれし槍撃ver,1036,1540,610.0,4,0,0.0,1/385.0,1/385.0,1/0.0,1/0.0,2023-05-22
75,アビバ横須賀中央店,アナザーゴッドハーデス解き放たれし槍撃ver,1037,2327,-2519.0,3,0,0.0,1/775.7,1/775.7,1/0.0,1/0.0,2023-05-22
76,アビバ横須賀中央店,アナザーゴッドハーデス解き放たれし槍撃ver,1038,1529,-568.0,2,0,0.0,1/764.5,1/764.5,1/0.0,1/0.0,2023-05-22

21042
-1405
10
6641
-121
156

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
0,123+N大阪本店,マイジャグラーV,549,4459,-1388.0,12,7,0.0,1/234.7,1/371.6,1/637.0,1/0.0,2023-05-22
1,123+N大阪本店,マイジャグラーV,550,6292,-215.0,20,24,0.0,1/143.0,1/314.6,1/262.2,1/0.0,2023-05-22
2,123+N大阪本店,マイジャグラーV,551,6390,-150.0,20,23,0.0,1/148.6,1/319.5,1/277.8,1/0.0,2023-05-22
3,123+N大阪本店,マイジャグラーV,552,5836,416.0,25,14,0.0,1/149.6,1/233.4,1/416.9,1/0.0,2023-05-22
4,123+N大阪本店,マイジャグラーV,553,3435,-885.0,11,9,0.0,1/171.8,1/312.3,1/381.7,1/0.0,2023-05-22
...,...,...,...,...,...,...,...,...,...,...,...,...,...
309,123+N大阪本店,ディスクアップ2,1318,6313,-146.0,20,12,0.0,1/197.3,1/315.6,1/526.1,1/0.0,2023-05-22
463,123+N大阪本店,ひぐらしのなく頃に祭2,1319,1606,450.0,6,4,0.0,1/160.6,1/267.7,1/401.5,1/0.0,2023-05-22
414,123+N大阪本店,新ハナビ,1320,1077,-416.0,2,2,0.0,1/269.2,1/538.5,1/538.5,1/0.0,2023-05-22
310,123+N大阪本店,ディスクアップ2,1321,7512,-1596.0,17,15,0.0,1/234.8,1/441.9,1/500.8,1/0.0,2023-05-22
465,123+N大阪本店,マッピー,1322,1456,-590.0,6,3,0.0,1/161.8,1/242.7,1/485.3,1/0.0,2023-05-22

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)

18827
1152
44
14751
-15
480

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
321,アビバ湘南台店,ハナハナホウオウ天翔30,1027,564,-526.0,1,0,NaN,1/564.0,1/564.0,1/0.0,NaN,2023-05-23
322,アビバ湘南台店,ハナハナホウオウ天翔30,1028,453,-470.0,0,1,NaN,1/453.0,1/0.0,1/453.0,NaN,2023-05-23
323,アビバ湘南台店,ハナハナホウオウ天翔30,1030,1136,392.0,5,4,NaN,1/126.2,1/227.2,1/284.0,NaN,2023-05-23
324,アビバ湘南台店,ハナハナホウオウ天翔30,1031,2649,92.0,8,7,NaN,1/176.6,1/331.1,1/378.4,NaN,2023-05-23
325,アビバ湘南台店,ハナハナホウオウ天翔30,1032,346,-81.0,1,0,NaN,1/346.0,1/346.0,1/0.0,NaN,2023-05-23
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45,アビバ湘南台店,アイムジャグラーEXTP,2123,5536,-983.0,17,13,NaN,1/184.5,1/325.6,1/425.8,NaN,2023-05-23
46,アビバ湘南台店,アイムジャグラーEXTP,2125,1124,-681.0,2,3,NaN,1/224.8,1/562.0,1/374.7,NaN,2023-05-23
47,アビバ湘南台店,アイムジャグラーEXTP,2126,1054,100.0,4,3,NaN,1/150.6,1/263.5,1/351.3,NaN,2023-05-23
48,アビバ湘南台店,アイムジャグラーEXTP,2127,3639,186.0,16,10,NaN,1/140.0,1/227.4,1/363.9,NaN,2023-05-23
49,アビバ湘南台店,アイムジャグラーEXTP,2128,2573,-392.0,9,7,NaN,1/160.8,1/285.9,1/367.6,NaN,2023-05-23

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )

18193
-454
29
6632
-111
501

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
405,パールショップともえ成田969,沖ドキDUO30,1101,1415,-204.0,8,5,0.0,1/108.8,1/176.9,1/283.0,1/0.0,2023-05-23
406,パールショップともえ成田969,沖ドキDUO30,1102,2760,-258.0,17,8,0.0,1/110.4,1/162.4,1/345.0,1/0.0,2023-05-23
0,パールショップともえ成田969,沖ドキGOLD30,1103,2050,1347.0,18,10,0.0,1/73.2,1/113.9,1/205.0,1/0.0,2023-05-23
1,パールショップともえ成田969,沖ドキGOLD30,1104,3027,-512.0,17,5,0.0,1/137.6,1/178.1,1/605.4,1/0.0,2023-05-23
2,パールショップともえ成田969,沖ドキGOLD30,1105,3904,2788.0,34,19,0.0,1/73.7,1/114.8,1/205.5,1/0.0,2023-05-23
...,...,...,...,...,...,...,...,...,...,...,...,...,...
282,パールショップともえ成田969,押忍番長ZERO,2357,1320,-939.0,0,1,6.0,1/188.6,1/0.0,1/1320.0,1/220.0,2023-05-23
283,パールショップともえ成田969,押忍番長ZERO,2358,1296,-639.0,0,1,6.0,1/185.1,1/0.0,1/1296.0,1/216.0,2023-05-23
284,パールショップともえ成田969,押忍番長ZERO,2359,2708,0.0,0,3,21.0,1/112.8,1/0.0,1/902.7,1/129.0,2023-05-23
285,パールショップともえ成田969,押忍番長ZERO,2360,2190,-1347.0,0,3,11.0,1/156.4,1/0.0,1/730.0,1/199.1,2023-05-23
286,パールショップともえ成田969,押忍番長ZERO,2361,3605,-2062.0,0,3,18.0,1/171.7,1/0.0,1/1201.7,1/200.3,2023-05-23

18376
-214
38
9688
-176
417

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
0,ピーアーク相模大野,マイジャグラーV,2001,6445,NaN,17,20,0.0,1/174.2,1/379.1,1/322.2,1/0.0,2023-05-23
1,ピーアーク相模大野,マイジャグラーV,2002,5174,NaN,20,14,0.0,1/152.2,1/258.7,1/369.6,1/0.0,2023-05-23
2,ピーアーク相模大野,マイジャグラーV,2003,5842,NaN,24,19,0.0,1/135.9,1/243.4,1/307.5,1/0.0,2023-05-23
3,ピーアーク相模大野,マイジャグラーV,2004,7722,NaN,35,18,0.0,1/145.7,1/220.6,1/429.0,1/0.0,2023-05-23
4,ピーアーク相模大野,マイジャグラーV,2005,2079,NaN,8,3,0.0,1/189.0,1/259.9,1/693.0,1/0.0,2023-05-23
...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,ピーアーク相模大野,革命機ヴァルヴレイヴ,2515,1209,NaN,1,1,5.0,1/172.7,1/1209.0,1/1209.0,1/241.8,2023-05-23
209,ピーアーク相模大野,革命機ヴァルヴレイヴ,2516,1644,NaN,5,3,7.0,1/109.6,1/328.8,1/548.0,1/234.9,2023-05-23
210,ピーアーク相模大野,革命機ヴァルヴレイヴ,2517,1866,NaN,6,3,7.0,1/116.6,1/311.0,1/622.0,1/266.6,2023-05-23
211,ピーアーク相模大野,革命機ヴァルヴレイヴ,2518,4036,NaN,18,3,9.0,1/134.5,1/224.2,1/1345.3,1/448.4,2023-05-23
212,ピーアーク相模大野,革命機ヴァルヴレイヴ,2519,2112,NaN,5,1,7.0,1/162.5,1/422.4,1/2112.0,1/301.7,2023-05-23

16703
エラー店舗 ピーアーク相模大野 cannot convert float NaN to integer

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
338,ピーアーク相模原,スロドル,501,1507,NaN,4,7,NaN,1/137.0,1/376.8,1/215.3,NaN,2023-05-23
242,ピーアーク相模原,とある科学の超電磁砲,502,1610,NaN,76,4,NaN,1/20.1,1/21.2,1/402.5,NaN,2023-05-23
339,ピーアーク相模原,探偵オペラミルキィホームズR大収穫祭,503,777,NaN,0,1,NaN,1/777.0,1/0.0,1/777.0,NaN,2023-05-23
321,ピーアーク相模原,頭文字D,504,1951,NaN,13,30,NaN,1/45.4,1/150.1,1/65.0,NaN,2023-05-23
340,ピーアーク相模原,OVERLORD絶対支配者光臨II,505,791,NaN,3,2,NaN,1/158.2,1/263.7,1/395.5,NaN,2023-05-23
...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,ピーアーク相模原,スマスロ北斗の拳,1591,4213,NaN,25,9,NaN,1/123.9,1/168.5,1/468.1,NaN,2023-05-23
93,ピーアーク相模原,スマスロ北斗の拳,1592,3797,NaN,27,10,NaN,1/102.6,1/140.6,1/379.7,NaN,2023-05-23
94,ピーアーク相模原,スマスロ北斗の拳,1593,5744,NaN,46,13,NaN,1/97.4,1/124.9,1/441.8,NaN,2023-05-23
95,ピーアーク相模原,スマスロ北斗の拳,1594,4307,NaN,35,7,NaN,1/102.5,1/123.1,1/615.3,NaN,2023-05-23
96,ピーアーク相模原,スマスロ北斗の拳,1595,5603,NaN,80,11,NaN,1/61.6,1/70.0,1/509.4,NaN,2023-05-23

12532
エラー店舗 ピーアーク相模原 cannot convert float NaN to integer

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
231,楽園沼津店,機動戦士ガンダムユニコーン,2001,1987,1524.0,0,3,40.0,1/46.2,1/0.0,1/662.3,1/49.7,2023-05-24
232,楽園沼津店,機動戦士ガンダムユニコーン,2002,117,-190.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-24
233,楽園沼津店,機動戦士ガンダムユニコーン,2003,130,-190.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-24
234,楽園沼津店,機動戦士ガンダムユニコーン,2004,1527,2334.0,0,2,48.0,1/30.5,1/0.0,1/763.5,1/31.8,2023-05-24
235,楽園沼津店,機動戦士ガンダムユニコーン,2005,159,-238.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-24
...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,楽園沼津店,劇場版魔法少女まどか☆マギカ前編始まりの物語後編永遠の物語,2349,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-24
275,楽園沼津店,劇場版魔法少女まどか☆マギカ前編始まりの物語後編永遠の物語,2350,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-24
315,楽園沼津店,緋弾のアリアII,2351,832,429.0,0,3,17.0,1/41.6,1/0.0,1/277.3,1/48.9,2023-05-24
316,楽園沼津店,緋弾のアリアII,2352,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-24
317,楽園沼津店,緋弾のアリアII,2353,182,96.0,0,1,4.0,1/36.4,1/0.0,1/182.0,1/45.5,2023-05-24

15307
951
38
8974
66
351

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
29,ピーアーク春日部,マイジャグラーV,501,3129,-1733.0,7,6,0.0,1/240.7,1/447.0,1/521.5,1/0.0,2023-05-25
53,ピーアーク春日部,ファンキージャグラー2,502,2328,-239.0,8,6,0.0,1/166.3,1/291.0,1/388.0,1/0.0,2023-05-25
0,ピーアーク春日部,アイムジャグラーEXTP,503,1221,-639.0,3,2,0.0,1/244.2,1/407.0,1/610.5,1/0.0,2023-05-25
1,ピーアーク春日部,アイムジャグラーEXTP,504,2181,-1036.0,5,5,0.0,1/218.1,1/436.2,1/436.2,1/0.0,2023-05-25
2,ピーアーク春日部,アイムジャグラーEXTP,505,882,-257.0,3,0,0.0,1/294.0,1/294.0,1/0.0,1/0.0,2023-05-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,ピーアーク春日部,ひぐらしのなく頃に祭2,681,3180,-448.0,7,9,0.0,1/198.8,1/454.3,1/353.3,1/0.0,2023-05-25
76,ピーアーク春日部,アクエリオンALLSTARS,682,1022,3029.0,0,4,25.0,1/35.2,1/0.0,1/255.5,1/40.9,2023-05-25
83,ピーアーク春日部,バキ強くなりたくば喰らえ,683,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-25
84,ピーアーク春日部,バキ強くなりたくば喰らえ,684,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-25
121,ピーアーク春日部,革命機ヴァルヴレイヴ,685,2794,-524.0,38,4,6.0,1/58.2,1/73.5,1/698.5,1/465.7,2023-05-25

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

13932
-298
4
6081
-318
122

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
83,ピーアーク新城マックスパチンコ,HEYエリートサラリーマン鏡,296,990,-1015.0,3,1,NaN,1/247.5,1/330.0,1/990.0,NaN,2023-05-26
84,ピーアーク新城マックスパチンコ,HEYエリートサラリーマン鏡,297,359,264.0,3,2,NaN,1/71.8,1/119.7,1/179.5,NaN,2023-05-26
85,ピーアーク新城マックスパチンコ,HEYエリートサラリーマン鏡,298,2770,2645.0,16,11,NaN,1/102.6,1/173.1,1/251.8,NaN,2023-05-26
86,ピーアーク新城マックスパチンコ,HEYエリートサラリーマン鏡,299,0,0.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-26
87,ピーアーク新城マックスパチンコ,HEYエリートサラリーマン鏡,300,0,0.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-26
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51,ピーアーク新城マックスパチンコ,甲鉄城のカバネリ,3008,4992,1187.0,62,19,NaN,1/61.6,1/80.5,1/262.7,NaN,2023-05-26
52,ピーアーク新城マックスパチンコ,甲鉄城のカバネリ,3009,2464,3151.0,28,9,NaN,1/66.6,1/88.0,1/273.8,NaN,2023-05-26
164,ピーアーク新城マックスパチンコ,幼女戦記,3010,1718,832.0,70,2,NaN,1/23.9,1/24.5,1/859.0,NaN,2023-05-26
165,ピーアーク新城マックスパチンコ,幼女戦記,3011,2123,-2403.0,8,1,NaN,1/235.9,1/265.4,1/2123.0,NaN,2023-05-26
166,ピーアーク新城マックスパチンコ,幼女戦記,3012,2466,4428.0,180,9,NaN,1/13.0,1/13.7,1/274.0,NaN,2023-05-26

18624
-535
16
6695
-61
212

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
338,ピーアーク相模原,スロドル,501,1147,NaN,4,6,NaN,1/114.7,1/286.8,1/191.2,NaN,2023-05-26
242,ピーアーク相模原,とある科学の超電磁砲,502,0,NaN,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-26
339,ピーアーク相模原,探偵オペラミルキィホームズR大収穫祭,503,5453,NaN,25,3,NaN,1/194.8,1/218.1,1/1817.7,NaN,2023-05-26
321,ピーアーク相模原,頭文字D,504,328,NaN,2,5,NaN,1/46.9,1/164.0,1/65.6,NaN,2023-05-26
340,ピーアーク相模原,OVERLORD絶対支配者光臨II,505,2722,NaN,12,8,NaN,1/136.1,1/226.8,1/340.2,NaN,2023-05-26
...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,ピーアーク相模原,スマスロ北斗の拳,1591,6410,NaN,70,16,NaN,1/74.5,1/91.6,1/400.6,NaN,2023-05-26
93,ピーアーク相模原,スマスロ北斗の拳,1592,6313,NaN,85,12,NaN,1/65.1,1/74.3,1/526.1,NaN,2023-05-26
94,ピーアーク相模原,スマスロ北斗の拳,1593,4493,NaN,26,7,NaN,1/136.2,1/172.8,1/641.9,NaN,2023-05-26
95,ピーアーク相模原,スマスロ北斗の拳,1594,5778,NaN,63,14,NaN,1/75.0,1/91.7,1/412.7,NaN,2023-05-26
96,ピーアーク相模原,スマスロ北斗の拳,1595,7517,NaN,67,23,NaN,1/83.5,1/112.2,1/326.8,NaN,2023-05-26

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )

17484
エラー店舗 ピーアーク相模原 cannot convert float NaN to integer

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
0,ピーアーク相模大野,マイジャグラーV,2001,8760,NaN,35,22,0.0,1/153.7,1/250.3,1/398.2,1/0.0,2023-05-26
1,ピーアーク相模大野,マイジャグラーV,2002,4657,NaN,17,9,0.0,1/179.1,1/273.9,1/517.4,1/0.0,2023-05-26
2,ピーアーク相模大野,マイジャグラーV,2003,7563,NaN,29,17,0.0,1/164.4,1/260.8,1/444.9,1/0.0,2023-05-26
3,ピーアーク相模大野,マイジャグラーV,2004,8185,NaN,32,22,0.0,1/151.6,1/255.8,1/372.0,1/0.0,2023-05-26
4,ピーアーク相模大野,マイジャグラーV,2005,7312,NaN,19,23,0.0,1/174.1,1/384.8,1/317.9,1/0.0,2023-05-26
...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,ピーアーク相模大野,革命機ヴァルヴレイヴ,2515,3409,NaN,21,7,15.0,1/79.3,1/162.3,1/487.0,1/227.3,2023-05-26
209,ピーアーク相模大野,革命機ヴァルヴレイヴ,2516,5233,NaN,18,6,23.0,1/111.3,1/290.7,1/872.2,1/227.5,2023-05-26
210,ピーアーク相模大野,革命機ヴァルヴレイヴ,2517,5210,NaN,20,5,16.0,1/127.1,1/260.5,1/1042.0,1/325.6,2023-05-26
211,ピーアーク相模大野,革命機ヴァルヴレイヴ,2518,4762,NaN,32,4,14.0,1/95.2,1/148.8,1/1190.5,1/340.1,2023-05-26
212,ピーアーク相模大野,革命機ヴァルヴレイヴ,2519,4268,NaN,11,7,15.0,1/129.3,1/388.0,1/609.7,1/284.5,2023-05-26

21036
エラー店舗 ピーアーク相模大野 cannot convert float NaN to integer

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
36,ピーアークせんげん台,甲鉄城のカバネリ,571,3250,-753.0,33,13,NaN,1/70.7,1/98.5,1/250.0,NaN,2023-05-26
37,ピーアークせんげん台,甲鉄城のカバネリ,572,3768,1563.0,48,16,NaN,1/58.9,1/78.5,1/235.5,NaN,2023-05-26
38,ピーアークせんげん台,甲鉄城のカバネリ,573,1300,1047.0,21,8,NaN,1/44.8,1/61.9,1/162.5,NaN,2023-05-26
39,ピーアークせんげん台,甲鉄城のカバネリ,575,5204,-1860.0,40,24,NaN,1/81.3,1/130.1,1/216.8,NaN,2023-05-26
40,ピーアークせんげん台,甲鉄城のカバネリ,576,4329,-1778.0,33,16,NaN,1/88.3,1/131.2,1/270.6,NaN,2023-05-26
...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,ピーアークせんげん台,アラジンAクラシック,732,1214,-1586.0,1,1,NaN,1/607.0,1/1214.0,1/1214.0,NaN,2023-05-26
106,ピーアークせんげん台,鉄拳5,733,44,-64.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-26
107,ピーアークせんげん台,閃乱カグラBURSTUP,735,0,0.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-26
108,ピーアークせんげん台,ハードボイルド,736,1961,302.0,8,2,NaN,1/196.1,1/245.1,1/980.5,NaN,2023-05-26
109,ピーアークせんげん台,チバリヨ25,737,1211,-928.0,3,2,NaN,1/242.2,1/403.7,1/605.5,NaN,2023-05-26

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

18324
-272
4
5872
-99
110

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
109,ピーアーク新田,押忍サラリーマン番長2,310,789,-492.0,3,1,0.0,1/197.2,1/263.0,1/789.0,1/0.0,2023-05-26
110,ピーアーク新田,HEY鏡,311,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-26
43,ピーアーク新田,HEYエリートサラリーマン鏡,312,381,-423.0,1,0,0.0,1/381.0,1/381.0,1/0.0,1/0.0,2023-05-26
44,ピーアーク新田,HEYエリートサラリーマン鏡,313,377,-189.0,2,0,0.0,1/188.5,1/188.5,1/0.0,1/0.0,2023-05-26
45,ピーアーク新田,HEYエリートサラリーマン鏡,315,356,-137.0,2,1,0.0,1/118.7,1/178.0,1/356.0,1/0.0,2023-05-26
...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,ピーアーク新田,アラジンAクラシック,632,559,1607.0,0,2,15.0,1/32.9,1/0.0,1/279.5,1/37.3,2023-05-26
132,ピーアーク新田,ゼーガペイン2,633,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-26
133,ピーアーク新田,リング運命の秒刻,635,490,-129.0,0,0,4.0,1/122.5,1/0.0,1/0.0,1/122.5,2023-05-26
134,ピーアーク新田,主役は銭形3,636,2110,235.0,9,11,0.0,1/105.5,1/234.4,1/191.8,1/0.0,2023-05-26
135,ピーアーク新田,鬼浜爆走紅蓮隊狂闘旅情編,637,1023,8.0,0,3,3.0,1/170.5,1/0.0,1/341.0,1/341.0,2023-05-26

17778
603
7
4797
13
136

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
29,ピーアーク春日部,マイジャグラーV,501,6501,917.0,29,18,0.0,1/138.3,1/224.2,1/361.2,1/0.0,2023-05-26
53,ピーアーク春日部,ファンキージャグラー2,502,1987,-460.0,6,4,0.0,1/198.7,1/331.2,1/496.8,1/0.0,2023-05-26
0,ピーアーク春日部,アイムジャグラーEXTP,503,2298,1456.0,14,6,0.0,1/114.9,1/164.1,1/383.0,1/0.0,2023-05-26
1,ピーアーク春日部,アイムジャグラーEXTP,504,277,-249.0,0,1,0.0,1/277.0,1/0.0,1/277.0,1/0.0,2023-05-26
2,ピーアーク春日部,アイムジャグラーEXTP,505,5317,643.0,18,24,0.0,1/126.6,1/295.4,1/221.5,1/0.0,2023-05-26
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,ピーアーク春日部,ひぐらしのなく頃に祭2,681,2176,-874.0,2,2,0.0,1/544.0,1/1088.0,1/1088.0,1/0.0,2023-05-26
76,ピーアーク春日部,アクエリオンALLSTARS,682,1474,-1125.0,0,2,5.0,1/210.6,1/0.0,1/737.0,1/294.8,2023-05-26
83,ピーアーク春日部,バキ強くなりたくば喰らえ,683,453,-443.0,0,1,3.0,1/113.2,1/0.0,1/453.0,1/151.0,2023-05-26
84,ピーアーク春日部,バキ強くなりたくば喰らえ,684,2399,508.0,0,9,46.0,1/43.6,1/0.0,1/266.6,1/52.2,2023-05-26
121,ピーアーク春日部,革命機ヴァルヴレイヴ,685,3824,-2105.0,20,4,14.0,1/100.6,1/191.2,1/956.0,1/273.1,2023-05-26

18192
-1228
4
6033
-97
122

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
47,ピーアーク朝霞,HEYエリートサラリーマン鏡,234,2797,420.0,10,4,0.0,1/199.8,1/279.7,1/699.2,1/0.0,2023-05-26
48,ピーアーク朝霞,HEYエリートサラリーマン鏡,235,6878,-3104.0,31,11,0.0,1/163.8,1/221.9,1/625.3,1/0.0,2023-05-26
49,ピーアーク朝霞,HEYエリートサラリーマン鏡,236,7065,1770.0,40,18,0.0,1/121.8,1/176.6,1/392.5,1/0.0,2023-05-26
50,ピーアーク朝霞,HEYエリートサラリーマン鏡,237,3813,-1429.0,17,5,0.0,1/173.3,1/224.3,1/762.6,1/0.0,2023-05-26
51,ピーアーク朝霞,HEYエリートサラリーマン鏡,238,3043,357.0,18,8,0.0,1/117.0,1/169.1,1/380.4,1/0.0,2023-05-26
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18,ピーアーク朝霞,マイジャグラーV,379,2841,595.0,13,6,0.0,1/149.5,1/218.5,1/473.5,1/0.0,2023-05-26
19,ピーアーク朝霞,マイジャグラーV,380,3300,-1043.0,7,13,0.0,1/165.0,1/471.4,1/253.8,1/0.0,2023-05-26
20,ピーアーク朝霞,マイジャグラーV,381,1677,-641.0,5,2,0.0,1/239.6,1/335.4,1/838.5,1/0.0,2023-05-26
21,ピーアーク朝霞,マイジャグラーV,382,2004,-87.0,6,9,0.0,1/133.6,1/334.0,1/222.7,1/0.0,2023-05-26
22,ピーアーク朝霞,マイジャグラーV,383,2758,-742.0,7,8,0.0,1/183.9,1/394.0,1/344.8,1/0.0,2023-05-26

19012
464
10
7874
-281
150

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
165,ピーアーク松原,リノヘブン,501,3268,-173.0,21,10,0.0,1/105.4,1/155.6,1/326.8,1/0.0,2023-05-26
155,ピーアーク松原,幼女戦記,502,356,719.0,0,0,27.0,1/13.2,1/0.0,1/0.0,1/13.2,2023-05-26
159,ピーアーク松原,新鬼武者2,503,1111,1067.0,0,11,24.0,1/31.7,1/0.0,1/101.0,1/46.3,2023-05-26
163,ピーアーク松原,犬夜叉,504,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-26
166,ピーアーク松原,ドリフターズ,505,2779,6.0,0,7,28.0,1/79.4,1/0.0,1/397.0,1/99.2,2023-05-26
...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,ピーアーク松原,主役は銭形4,702,2917,-2930.0,0,0,10.0,1/291.7,1/0.0,1/0.0,1/291.7,2023-05-26
125,ピーアーク松原,バキ強くなりたくば喰らえ,703,979,5415.0,61,4,0.0,1/15.1,1/16.0,1/244.8,1/0.0,2023-05-26
126,ピーアーク松原,バキ強くなりたくば喰らえ,704,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-26
127,ピーアーク松原,バキ強くなりたくば喰らえ,705,1003,-735.0,10,5,0.0,1/66.9,1/100.3,1/200.6,1/0.0,2023-05-26
128,ピーアーク松原,バキ強くなりたくば喰らえ,706,144,451.0,7,1,0.0,1/18.0,1/20.6,1/144.0,1/0.0,2023-05-26

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)

18825
602
13
8104
0
184

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
0,ピーアーク草加,マイジャグラーV,301,4549,-811.0,17,5,0.0,1/206.8,1/267.6,1/909.8,1/0.0,2023-05-26
1,ピーアーク草加,マイジャグラーV,302,5876,-693.0,20,14,0.0,1/172.8,1/293.8,1/419.7,1/0.0,2023-05-26
2,ピーアーク草加,マイジャグラーV,303,5279,-327.0,20,14,0.0,1/155.3,1/263.9,1/377.1,1/0.0,2023-05-26
3,ピーアーク草加,マイジャグラーV,304,4171,1176.0,19,15,0.0,1/122.7,1/219.5,1/278.1,1/0.0,2023-05-26
4,ピーアーク草加,マイジャグラーV,305,3518,-1804.0,8,6,0.0,1/251.3,1/439.8,1/586.3,1/0.0,2023-05-26
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,ピーアーク草加,ファンキージャグラー2,563,960,-379.0,3,1,0.0,1/240.0,1/320.0,1/960.0,1/0.0,2023-05-26
96,ピーアーク草加,ファンキージャグラー2,564,3681,-1382.0,9,10,0.0,1/193.7,1/409.0,1/368.1,1/0.0,2023-05-26
97,ピーアーク草加,ファンキージャグラー2,565,5227,716.0,23,13,0.0,1/145.2,1/227.3,1/402.1,1/0.0,2023-05-26
98,ピーアーク草加,ファンキージャグラー2,566,3949,-39.0,14,13,0.0,1/146.3,1/282.1,1/303.8,1/0.0,2023-05-26
123,ピーアーク草加,ハッピージャグラーVIII,567,4684,-1137.0,13,10,0.0,1/203.7,1/360.3,1/468.4,1/0.0,2023-05-26

19082
202
18
10528
-275
260

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
77,ピーアーク谷塚,革命機ヴァルヴレイヴ,501,3092,784.0,28,3,NaN,1/99.7,1/110.4,1/1030.7,NaN,2023-05-26
78,ピーアーク谷塚,革命機ヴァルヴレイヴ,502,326,-458.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-26
79,ピーアーク谷塚,革命機ヴァルヴレイヴ,503,622,-388.0,2,0,NaN,1/311.0,1/311.0,1/0.0,NaN,2023-05-26
80,ピーアーク谷塚,革命機ヴァルヴレイヴ,504,2546,-2274.0,3,2,NaN,1/509.2,1/848.7,1/1273.0,NaN,2023-05-26
81,ピーアーク谷塚,革命機ヴァルヴレイヴ,505,0,0.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-26
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9,ピーアーク谷塚,アイムジャグラーEXTP,668,5300,-624.0,20,12,NaN,1/165.6,1/265.0,1/441.7,NaN,2023-05-26
10,ピーアーク谷塚,アイムジャグラーEXTP,669,1839,-1136.0,3,3,NaN,1/306.5,1/613.0,1/613.0,NaN,2023-05-26
11,ピーアーク谷塚,アイムジャグラーEXTP,670,2335,-842.0,6,4,NaN,1/233.5,1/389.2,1/583.8,NaN,2023-05-26
12,ピーアーク谷塚,アイムジャグラーEXTP,671,864,-361.0,2,0,NaN,1/432.0,1/432.0,1/0.0,NaN,2023-05-26
13,ピーアーク谷塚,アイムジャグラーEXTP,672,3498,-766.0,11,5,NaN,1/218.6,1/318.0,1/699.6,NaN,2023-05-26

18357
-1404
7
6632
-268
157

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
195,ピーアーク越谷,沖ドキDUO30,501,419,-220.0,2,1,0.0,1/139.7,1/209.5,1/419.0,1/0.0,2023-05-26
196,ピーアーク越谷,沖ドキDUO30,502,2998,-2828.0,7,7,0.0,1/214.1,1/428.3,1/428.3,1/0.0,2023-05-26
197,ピーアーク越谷,沖ドキDUO30,503,1094,-1121.0,2,3,0.0,1/218.8,1/547.0,1/364.7,1/0.0,2023-05-26
198,ピーアーク越谷,沖ドキDUO30,504,401,-366.0,1,1,0.0,1/200.5,1/401.0,1/401.0,1/0.0,2023-05-26
94,ピーアーク越谷,沖ドキGOLD30,505,1789,-1101.0,6,5,0.0,1/162.6,1/298.2,1/357.8,1/0.0,2023-05-26
...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,ピーアーク越谷,幼女戦記,792,2057,244.0,0,4,62.0,1/31.2,1/0.0,1/514.2,1/33.2,2023-05-26
256,ピーアーク越谷,鉄拳5,793,252,-197.0,1,1,0.0,1/126.0,1/252.0,1/252.0,1/0.0,2023-05-26
257,ピーアーク越谷,FAIRYTAIL2,794,189,-227.0,0,1,0.0,1/189.0,1/0.0,1/189.0,1/0.0,2023-05-26
258,ピーアーク越谷,黄門ちゃま喝2,795,1663,-1462.0,0,0,8.0,1/207.9,1/0.0,1/0.0,1/207.9,2023-05-26
259,ピーアーク越谷,戦国無双3,796,1673,406.0,15,0,7.0,1/76.0,1/111.5,1/0.0,1/239.0,2023-05-26

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

18421
-33
16
8351
-238
260

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
0,ピーアークおゆみ野,アイムジャグラーEXTP,353,3816,505.0,16,10,0.0,1/146.8,1/238.5,1/381.6,1/0.0,2023-05-26
1,ピーアークおゆみ野,アイムジャグラーEXTP,354,2250,-280.0,8,4,0.0,1/187.5,1/281.2,1/562.5,1/0.0,2023-05-26
2,ピーアークおゆみ野,アイムジャグラーEXTP,355,2044,657.0,10,4,0.0,1/146.0,1/204.4,1/511.0,1/0.0,2023-05-26
3,ピーアークおゆみ野,アイムジャグラーEXTP,356,7101,2557.0,34,28,0.0,1/114.5,1/208.9,1/253.6,1/0.0,2023-05-26
4,ピーアークおゆみ野,アイムジャグラーEXTP,357,892,-643.0,1,1,0.0,1/446.0,1/892.0,1/892.0,1/0.0,2023-05-26
...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,ピーアークおゆみ野,HEYエリートサラリーマン鏡,530,7262,-945.0,0,17,46.0,1/115.3,1/0.0,1/427.2,1/157.9,2023-05-26
72,ピーアークおゆみ野,HEYエリートサラリーマン鏡,531,257,-384.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-26
73,ピーアークおゆみ野,HEYエリートサラリーマン鏡,532,3186,4.0,0,5,11.0,1/199.1,1/0.0,1/637.2,1/289.6,2023-05-26
74,ピーアークおゆみ野,HEYエリートサラリーマン鏡,533,3445,1697.0,0,11,23.0,1/101.3,1/0.0,1/313.2,1/149.8,2023-05-26
75,ピーアークおゆみ野,HEYエリートサラリーマン鏡,534,1161,-1492.0,0,0,2.0,1/580.5,1/0.0,1/0.0,1/580.5,2023-05-26

17443
1530
14
9255
-88
182

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
326,ピーアーク千葉駅前,スロドル,3001,3608,-15.0,15,0,21.0,1/100.2,1/240.5,1/0.0,1/171.8,2023-05-26
327,ピーアーク千葉駅前,這いよれニャル子さん,3002,2950,-240.0,15,0,29.0,1/67.0,1/196.7,1/0.0,1/101.7,2023-05-26
328,ピーアーク千葉駅前,緋弾のアリアII,3003,5142,-1551.0,0,13,70.0,1/62.0,1/0.0,1/395.5,1/73.5,2023-05-26
329,ピーアーク千葉駅前,ウルトラマンタロウ暴君SPEC,3004,1961,1343.0,0,9,31.0,1/49.0,1/0.0,1/217.9,1/63.3,2023-05-26
330,ピーアーク千葉駅前,戦国無双3,3005,5649,-1054.0,41,0,26.0,1/84.3,1/137.8,1/0.0,1/217.3,2023-05-26
...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,ピーアーク千葉駅前,チバリヨ30,3341,1590,-1772.0,2,2,0.0,1/397.5,1/795.0,1/795.0,1/0.0,2023-05-26
288,ピーアーク千葉駅前,チバリヨ30,3342,4589,-3727.0,9,13,0.0,1/208.6,1/509.9,1/353.0,1/0.0,2023-05-26
289,ピーアーク千葉駅前,チバリヨ30,3343,4681,1259.0,29,24,0.0,1/88.3,1/161.4,1/195.0,1/0.0,2023-05-26
290,ピーアーク千葉駅前,チバリヨ30,3344,3603,-2053.0,11,8,0.0,1/189.6,1/327.5,1/450.4,1/0.0,2023-05-26
291,ピーアーク千葉駅前,チバリヨ30,3345,3131,-2218.0,9,7,0.0,1/195.7,1/347.9,1/447.3,1/0.0,2023-05-26

20009
684
33
14160
-201
345

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
32,ピーアーク南行徳NEO,マイジャグラーV,177,5937,-382.0,22,16,NaN,1/156.2,1/269.9,1/371.1,NaN,2023-05-26
33,ピーアーク南行徳NEO,マイジャグラーV,178,2435,-1297.0,4,6,NaN,1/243.5,1/608.8,1/405.8,NaN,2023-05-26
34,ピーアーク南行徳NEO,マイジャグラーV,179,1659,-47.0,7,3,NaN,1/165.9,1/237.0,1/553.0,NaN,2023-05-26
35,ピーアーク南行徳NEO,マイジャグラーV,180,1368,-846.0,3,0,NaN,1/456.0,1/456.0,1/0.0,NaN,2023-05-26
0,ピーアーク南行徳NEO,アイムジャグラーEXTP,181,795,-571.0,1,1,NaN,1/397.5,1/795.0,1/795.0,NaN,2023-05-26
...,...,...,...,...,...,...,...,...,...,...,...,...,...
52,ピーアーク南行徳NEO,ゴブリンスレイヤー,292,0,0.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-26
20,ピーアーク南行徳NEO,スマスロ北斗の拳,293,6389,3561.0,91,29,NaN,1/53.2,1/70.2,1/220.3,NaN,2023-05-26
21,ピーアーク南行徳NEO,スマスロ北斗の拳,294,7381,78.0,75,23,NaN,1/75.3,1/98.4,1/320.9,NaN,2023-05-26
22,ピーアーク南行徳NEO,スマスロ北斗の拳,295,4965,7420.0,104,11,NaN,1/43.2,1/47.7,1/451.4,NaN,2023-05-26
23,ピーアーク南行徳NEO,スマスロ北斗の拳,296,6071,-386.0,61,15,NaN,1/79.9,1/99.5,1/404.7,NaN,2023-05-26

18176
2027
8
6783
-6
120

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
76,ジャムフレンドクラブ朝霞店,押忍番長ZERO,661,5283,1447.0,73,12,NaN,1/62.2,1/72.4,1/440.2,NaN,2023-05-26
77,ジャムフレンドクラブ朝霞店,押忍番長ZERO,662,5565,2697.0,77,20,NaN,1/57.4,1/72.3,1/278.2,NaN,2023-05-26
78,ジャムフレンドクラブ朝霞店,押忍番長ZERO,663,5416,1613.0,73,17,NaN,1/60.2,1/74.2,1/318.6,NaN,2023-05-26
79,ジャムフレンドクラブ朝霞店,押忍番長ZERO,664,1727,-1845.0,6,2,NaN,1/215.9,1/287.8,1/863.5,NaN,2023-05-26
80,ジャムフレンドクラブ朝霞店,押忍番長ZERO,665,5197,-1720.0,53,10,NaN,1/82.5,1/98.1,1/519.7,NaN,2023-05-26
...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,ジャムフレンドクラブ朝霞店,Reゼロから始める異世界生活,894,6805,322.0,74,9,NaN,1/82.0,1/92.0,1/756.1,NaN,2023-05-26
236,ジャムフレンドクラブ朝霞店,鬼浜爆走紅蓮隊狂闘旅情編,895,1514,-803.0,11,4,NaN,1/100.9,1/137.6,1/378.5,NaN,2023-05-26
212,ジャムフレンドクラブ朝霞店,戦国無双3,896,5862,-1178.0,39,22,NaN,1/96.1,1/150.3,1/266.5,NaN,2023-05-26
198,ジャムフレンドクラブ朝霞店,アクエリオンALLSTARS,897,5629,1280.0,69,20,NaN,1/63.2,1/81.6,1/281.4,NaN,2023-05-26
237,ジャムフレンドクラブ朝霞店,黄門ちゃま喝2,898,5710,238.0,39,3,NaN,1/136.0,1/146.4,1/1903.3,NaN,2023-05-26

19442
81
13
15998
477
238

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
160,アビバ逗子駅前店,マイジャグラーV,1001,2451,-253.0,9,4,NaN,1/188.5,1/272.3,1/612.8,NaN,2023-05-26
161,アビバ逗子駅前店,マイジャグラーV,1002,3643,-93.0,15,9,NaN,1/151.8,1/242.9,1/404.8,NaN,2023-05-26
162,アビバ逗子駅前店,マイジャグラーV,1003,5628,360.0,23,17,NaN,1/140.7,1/244.7,1/331.1,NaN,2023-05-26
48,アビバ逗子駅前店,ファンキージャグラー2,1005,1565,-867.0,3,2,NaN,1/313.0,1/521.7,1/782.5,NaN,2023-05-26
49,アビバ逗子駅前店,ファンキージャグラー2,1006,3138,-1587.0,6,6,NaN,1/261.5,1/523.0,1/523.0,NaN,2023-05-26
...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,アビバ逗子駅前店,バジリスク絆2,1277,0,0.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-26
94,アビバ逗子駅前店,バジリスク絆2,1278,0,0.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-26
95,アビバ逗子駅前店,バジリスク絆2,1280,279,0.0,1,2,NaN,1/93.0,1/279.0,1/139.5,NaN,2023-05-26
96,アビバ逗子駅前店,バジリスク絆2,1281,0,0.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-26
97,アビバ逗子駅前店,バジリスク絆2,1282,0,0.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-26

15907
769
8
3609
-48
186

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
109,第一プラザ西浦和店,ハッピージャグラーVIII,449,3510,1079.0,15,17,0.0,1/109.7,1/234.0,1/206.5,1/0.0,2023-05-27
110,第一プラザ西浦和店,ハッピージャグラーVIII,450,3089,-13.0,12,7,0.0,1/162.6,1/257.4,1/441.3,1/0.0,2023-05-27
111,第一プラザ西浦和店,ハッピージャグラーVIII,451,3696,-373.0,13,11,0.0,1/154.0,1/284.3,1/336.0,1/0.0,2023-05-27
69,第一プラザ西浦和店,ファンキージャグラー2,452,2153,-874.0,6,3,0.0,1/239.2,1/358.8,1/717.7,1/0.0,2023-05-27
70,第一プラザ西浦和店,ファンキージャグラー2,453,2804,-672.0,9,6,0.0,1/186.9,1/311.6,1/467.3,1/0.0,2023-05-27
...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,第一プラザ西浦和店,ソードアートオンライン,596,4328,-507.0,38,25,0.0,1/68.7,1/113.9,1/173.1,1/0.0,2023-05-27
65,第一プラザ西浦和店,ソードアートオンライン,597,4910,-2326.0,32,29,0.0,1/80.5,1/153.4,1/169.3,1/0.0,2023-05-27
66,第一プラザ西浦和店,ソードアートオンライン,598,4391,5522.0,78,21,0.0,1/44.4,1/56.3,1/209.1,1/0.0,2023-05-27
67,第一プラザ西浦和店,ソードアートオンライン,599,4674,-809.0,46,20,0.0,1/70.8,1/101.6,1/233.7,1/0.0,2023-05-27
68,第一プラザ西浦和店,ソードアートオンライン,600,5111,-1081.0,40,26,0.0,1/77.4,1/127.8,1/196.6,1/0.0,2023-05-27

18250
-1700
12
11127
-238
152

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
272,上尾UNO,ニューパルサーSPIII,513,5756,1373.0,27,15,NaN,1/137.0,1/213.2,1/383.7,NaN,2023-05-27
273,上尾UNO,ニューパルサーSPIII,514,256,-80.0,1,0,NaN,1/256.0,1/256.0,1/0.0,NaN,2023-05-27
274,上尾UNO,ニューパルサーSPIII,515,1113,227.0,5,3,NaN,1/139.1,1/222.6,1/371.0,NaN,2023-05-27
227,上尾UNO,ニューパルサーDX3,516,587,-573.0,0,1,NaN,1/587.0,1/0.0,1/587.0,NaN,2023-05-27
228,上尾UNO,ニューパルサーDX3,517,203,-253.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-27
...,...,...,...,...,...,...,...,...,...,...,...,...,...
52,上尾UNO,スマスロ北斗の拳,893,5749,-2556.0,41,16,NaN,1/100.9,1/140.2,1/359.3,NaN,2023-05-27
200,上尾UNO,新鬼武者2,894,4913,1049.0,72,32,NaN,1/47.2,1/68.2,1/153.5,NaN,2023-05-27
93,上尾UNO,マイジャグラーV,895,7719,1963.0,36,23,NaN,1/130.8,1/214.4,1/335.6,NaN,2023-05-27
94,上尾UNO,マイジャグラーV,896,8803,2309.0,32,46,NaN,1/112.9,1/275.1,1/191.4,NaN,2023-05-27
20,上尾UNO,アイムジャグラーEXTP,897,6896,1667.0,29,27,NaN,1/123.1,1/237.8,1/255.4,NaN,2023-05-27

18595
378
15
10030
209
333

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
339,123+N和歌山本店,モンキーターンIV,705,2305,-666.0,0,4,10.0,1/164.6,1/0.0,1/576.2,1/230.5,2023-05-27
340,123+N和歌山本店,モンキーターンIV,706,2446,11.0,0,6,15.0,1/116.5,1/0.0,1/407.7,1/163.1,2023-05-27
341,123+N和歌山本店,モンキーターンIV,707,1311,-261.0,0,3,5.0,1/163.9,1/0.0,1/437.0,1/262.2,2023-05-27
342,123+N和歌山本店,戦姫絶唱シンフォギア勇気の歌,708,2854,1706.0,0,13,42.0,1/51.9,1/0.0,1/219.5,1/68.0,2023-05-27
343,123+N和歌山本店,戦姫絶唱シンフォギア勇気の歌,709,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-27
...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,123+N和歌山本店,バイオハザードRE2,1096,7546,-5.0,52,0,52.0,1/72.6,1/145.1,1/0.0,1/145.1,2023-05-27
268,123+N和歌山本店,バイオハザードRE2,1097,4276,-1700.0,24,0,24.0,1/89.1,1/178.2,1/0.0,1/178.2,2023-05-27
184,123+N和歌山本店,バジリスク絆2,1098,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-27
185,123+N和歌山本店,バジリスク絆2,1099,212,116.0,2,0,3.0,1/42.4,1/106.0,1/0.0,1/70.7,2023-05-27
186,123+N和歌山本店,バジリスク絆2,1100,154,-169.0,1,0,0.0,1/154.0,1/154.0,1/0.0,1/0.0,2023-05-27

18870
-5
30
10924
-105
396

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
401,パラッツォ三郷中央店,ひぐらしのなく頃に祭2,850,7154,635.0,16,18,NaN,1/210.4,1/447.1,1/397.4,NaN,2023-05-27
479,パラッツォ三郷中央店,HEY鏡,851,1848,138.0,9,7,NaN,1/115.5,1/205.3,1/264.0,NaN,2023-05-27
480,パラッツォ三郷中央店,天下布武4,852,3387,-174.0,15,20,NaN,1/96.8,1/225.8,1/169.3,NaN,2023-05-27
481,パラッツォ三郷中央店,ガールズパンツァー劇場版,853,1374,-816.0,7,2,NaN,1/152.7,1/196.3,1/687.0,NaN,2023-05-27
482,パラッツォ三郷中央店,対魔導学園35試験小隊,855,6342,-591.0,18,47,NaN,1/97.6,1/352.3,1/134.9,NaN,2023-05-27
...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,パラッツォ三郷中央店,バキ強くなりたくば喰らえ,2013,574,-512.0,4,2,NaN,1/95.7,1/143.5,1/287.0,NaN,2023-05-27
276,パラッツォ三郷中央店,バキ強くなりたくば喰らえ,2015,2240,-1388.0,24,12,NaN,1/62.2,1/93.3,1/186.7,NaN,2023-05-27
277,パラッツォ三郷中央店,バキ強くなりたくば喰らえ,2016,367,-322.0,2,1,NaN,1/122.3,1/183.5,1/367.0,NaN,2023-05-27
278,パラッツォ三郷中央店,バキ強くなりたくば喰らえ,2017,1878,-2185.0,10,8,NaN,1/104.3,1/187.8,1/234.8,NaN,2023-05-27
519,パラッツォ三郷中央店,リノヘブン,2018,201,-327.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-27

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

20263
241
20
9899
-102
520

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
149,マルハン草薙アピア店,ファンキージャグラー2,607,2726,-400.0,10,3,NaN,1/209.7,1/272.6,1/908.7,NaN,2023-05-27
150,マルハン草薙アピア店,ファンキージャグラー2,608,5419,400.0,23,13,NaN,1/150.5,1/235.6,1/416.8,NaN,2023-05-27
151,マルハン草薙アピア店,ファンキージャグラー2,609,2995,0.0,10,9,NaN,1/157.6,1/299.5,1/332.8,NaN,2023-05-27
152,マルハン草薙アピア店,ファンキージャグラー2,610,1367,-900.0,3,1,NaN,1/341.8,1/455.7,1/1367.0,NaN,2023-05-27
153,マルハン草薙アピア店,ファンキージャグラー2,611,1558,-400.0,5,3,NaN,1/194.8,1/311.6,1/519.3,NaN,2023-05-27
...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,マルハン草薙アピア店,ディスクアップ2,1026,1675,600.0,8,2,NaN,1/167.5,1/209.4,1/837.5,NaN,2023-05-27
227,マルハン草薙アピア店,ディスクアップ2,1027,3469,1300.0,17,3,NaN,1/173.4,1/204.1,1/1156.3,NaN,2023-05-27
228,マルハン草薙アピア店,ディスクアップ2,1028,6699,900.0,23,15,NaN,1/176.3,1/291.3,1/446.6,NaN,2023-05-27
229,マルハン草薙アピア店,ディスクアップ2,1029,787,-200.0,2,3,NaN,1/157.4,1/393.5,1/262.3,NaN,2023-05-27
230,マルハン草薙アピア店,ディスクアップ2,1030,2102,500.0,8,4,NaN,1/175.2,1/262.8,1/525.5,NaN,2023-05-27

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

19858
300
20
12079
58
385

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
43,パールショップともえ木更津店,スマスロ北斗の拳,521,7318,841.0,88,26,0.0,1/64.2,1/83.2,1/281.5,1/0.0,2023-05-27
44,パールショップともえ木更津店,スマスロ北斗の拳,522,6439,-28.0,65,13,0.0,1/82.6,1/99.1,1/495.3,1/0.0,2023-05-27
45,パールショップともえ木更津店,スマスロ北斗の拳,523,6121,996.0,75,19,0.0,1/65.1,1/81.6,1/322.2,1/0.0,2023-05-27
46,パールショップともえ木更津店,スマスロ北斗の拳,524,6504,-3063.0,49,16,0.0,1/100.1,1/132.7,1/406.5,1/0.0,2023-05-27
47,パールショップともえ木更津店,スマスロ北斗の拳,525,6363,-3977.0,40,12,0.0,1/122.4,1/159.1,1/530.2,1/0.0,2023-05-27
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,パールショップともえ木更津店,沖ドキGOLD30,984,5306,2509.0,41,21,0.0,1/85.6,1/129.4,1/252.7,1/0.0,2023-05-27
39,パールショップともえ木更津店,沖ドキGOLD30,985,4315,3517.0,43,11,0.0,1/79.9,1/100.3,1/392.3,1/0.0,2023-05-27
40,パールショップともえ木更津店,沖ドキGOLD30,986,5976,-3837.0,19,17,0.0,1/166.0,1/314.5,1/351.5,1/0.0,2023-05-27
41,パールショップともえ木更津店,沖ドキGOLD30,987,4695,-318.0,28,11,0.0,1/120.4,1/167.7,1/426.8,1/0.0,2023-05-27
42,パールショップともえ木更津店,沖ドキGOLD30,988,5852,-214.0,34,20,0.0,1/108.4,1/172.1,1/292.6,1/0.0,2023-05-27

19233
-242
34
19567
-65
261

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
144,パールショップともえ淵野辺店,バキ強くなりたくば喰らえ,901,260,179.0,0,1,4.0,1/52.0,1/0.0,1/260.0,1/65.0,2023-05-27
145,パールショップともえ淵野辺店,バキ強くなりたくば喰らえ,902,1928,4835.0,0,2,41.0,1/44.8,1/0.0,1/964.0,1/47.0,2023-05-27
146,パールショップともえ淵野辺店,バキ強くなりたくば喰らえ,903,915,-593.0,0,3,5.0,1/114.4,1/0.0,1/305.0,1/183.0,2023-05-27
147,パールショップともえ淵野辺店,バキ強くなりたくば喰らえ,904,971,896.0,0,3,17.0,1/48.5,1/0.0,1/323.7,1/57.1,2023-05-27
148,パールショップともえ淵野辺店,バキ強くなりたくば喰らえ,905,2350,-2407.0,0,8,8.0,1/146.9,1/0.0,1/293.8,1/293.8,2023-05-27
...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,パールショップともえ淵野辺店,キングハナハナ30,1336,1237,-152.0,3,5,0.0,1/154.6,1/412.3,1/247.4,1/0.0,2023-05-27
98,パールショップともえ淵野辺店,キングハナハナ30,1337,526,-373.0,1,0,0.0,1/526.0,1/526.0,1/0.0,1/0.0,2023-05-27
99,パールショップともえ淵野辺店,キングハナハナ30,1338,1527,-125.0,4,5,0.0,1/169.7,1/381.8,1/305.4,1/0.0,2023-05-27
100,パールショップともえ淵野辺店,キングハナハナ30,1339,2816,-180.0,7,11,0.0,1/156.4,1/402.3,1/256.0,1/0.0,2023-05-27
101,パールショップともえ淵野辺店,キングハナハナ30,1340,868,-83.0,3,1,0.0,1/217.0,1/289.3,1/868.0,1/0.0,2023-05-27

15186
282
17
7152
-78
200

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
256,123門真店,革命機ヴァルヴレイヴ,793,2584,NaN,12,0,8.0,1/129.2,1/215.3,1/0.0,1/323.0,2023-05-27
257,123門真店,革命機ヴァルヴレイヴ,794,1066,NaN,3,0,3.0,1/177.7,1/355.3,1/0.0,1/355.3,2023-05-27
258,123門真店,革命機ヴァルヴレイヴ,795,1937,NaN,1,1,6.0,1/242.1,1/1937.0,1/1937.0,1/322.8,2023-05-27
259,123門真店,革命機ヴァルヴレイヴ,796,1315,NaN,4,2,5.0,1/119.5,1/328.8,1/657.5,1/263.0,2023-05-27
260,123門真店,革命機ヴァルヴレイヴ,797,3402,NaN,16,1,9.0,1/130.8,1/212.6,1/3402.0,1/378.0,2023-05-27
...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,123門真店,スマスロ北斗の拳,1234,6786,NaN,92,19,0.0,1/61.1,1/73.8,1/357.2,1/0.0,2023-05-27
152,123門真店,スマスロ北斗の拳,1235,7206,NaN,79,26,0.0,1/68.6,1/91.2,1/277.2,1/0.0,2023-05-27
153,123門真店,スマスロ北斗の拳,1236,6131,NaN,45,13,0.0,1/105.7,1/136.2,1/471.6,1/0.0,2023-05-27
154,123門真店,スマスロ北斗の拳,1237,6246,NaN,43,16,0.0,1/105.9,1/145.3,1/390.4,1/0.0,2023-05-27
155,123門真店,スマスロ北斗の拳,1238,5788,NaN,62,12,0.0,1/78.2,1/93.4,1/482.3,1/0.0,2023-05-27

18837
エラー店舗 123門真店 cannot convert float NaN to integer

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
105,アビバ関内,バラエティ,877,1742,-939.0,8,4,NaN,1/145.2,1/217.8,1/435.5,NaN,2023-05-27
315,アビバ関内,課長熊田工作,878,3872,562.0,26,10,NaN,1/107.6,1/148.9,1/387.2,NaN,2023-05-27
106,アビバ関内,バラエティ,880,1070,-1171.0,4,0,NaN,1/267.5,1/267.5,1/0.0,NaN,2023-05-27
316,アビバ関内,課長熊田工作,881,5136,1437.0,32,29,NaN,1/84.2,1/160.5,1/177.1,NaN,2023-05-27
107,アビバ関内,バラエティ,882,1369,-750.0,13,1,NaN,1/97.8,1/105.3,1/1369.0,NaN,2023-05-27
...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,アビバ関内,アイムジャグラーEXTP,2068,6727,-1212.0,22,15,NaN,1/181.8,1/305.8,1/448.5,NaN,2023-05-27
203,アビバ関内,アイムジャグラーEXTP,2070,7735,-229.0,27,21,NaN,1/161.1,1/286.5,1/368.3,NaN,2023-05-27
204,アビバ関内,アイムジャグラーEXTP,2071,5825,-231.0,19,16,NaN,1/166.4,1/306.6,1/364.1,NaN,2023-05-27
205,アビバ関内,アイムジャグラーEXTP,2072,9183,3761.0,48,25,NaN,1/125.8,1/191.3,1/367.3,NaN,2023-05-27
206,アビバ関内,アイムジャグラーEXTP,2073,7929,1740.0,37,20,NaN,1/139.1,1/214.3,1/396.4,NaN,2023-05-27

20807
331
26
13601
-39
318

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
19,アビバ三浦海岸店,HEYエリートサラリーマン鏡,358,1720,-737.0,9,4,NaN,1/132.3,1/191.1,1/430.0,NaN,2023-05-27
20,アビバ三浦海岸店,HEYエリートサラリーマン鏡,360,2657,1618.0,10,6,NaN,1/166.1,1/265.7,1/442.8,NaN,2023-05-27
21,アビバ三浦海岸店,HEYエリートサラリーマン鏡,361,127,-176.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-27
22,アビバ三浦海岸店,HEYエリートサラリーマン鏡,362,792,-558.0,4,2,NaN,1/132.0,1/198.0,1/396.0,NaN,2023-05-27
23,アビバ三浦海岸店,HEYエリートサラリーマン鏡,363,122,-181.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-27
...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,アビバ三浦海岸店,ハッピージャグラーVIII,620,5493,955.0,23,17,NaN,1/137.3,1/238.8,1/323.1,NaN,2023-05-27
43,アビバ三浦海岸店,マイジャグラーV,621,9801,2713.0,52,19,NaN,1/138.0,1/188.5,1/515.8,NaN,2023-05-27
44,アビバ三浦海岸店,マイジャグラーV,622,4920,-1820.0,13,10,NaN,1/213.9,1/378.5,1/492.0,NaN,2023-05-27
45,アビバ三浦海岸店,マイジャグラーV,623,6842,1222.0,29,23,NaN,1/131.6,1/235.9,1/297.5,NaN,2023-05-27
46,アビバ三浦海岸店,マイジャグラーV,625,7442,-669.0,26,10,NaN,1/206.7,1/286.2,1/744.2,NaN,2023-05-27

17172
-1348
6
10697
-211
110

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
86,アビバ鶴見店,ゴブリンスレイヤー,813,3408,2776.0,23,1,NaN,1/142.0,1/148.2,1/3408.0,NaN,2023-05-27
87,アビバ鶴見店,ゴブリンスレイヤー,815,2183,-2454.0,4,1,NaN,1/436.6,1/545.8,1/2183.0,NaN,2023-05-27
88,アビバ鶴見店,ゴブリンスレイヤー,816,1484,2314.0,13,1,NaN,1/106.0,1/114.2,1/1484.0,NaN,2023-05-27
89,アビバ鶴見店,ゴブリンスレイヤー,817,1727,-653.0,7,0,NaN,1/246.7,1/246.7,1/0.0,NaN,2023-05-27
90,アビバ鶴見店,ゴブリンスレイヤー,818,3868,-144.0,19,0,NaN,1/203.6,1/203.6,1/0.0,NaN,2023-05-27
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39,アビバ鶴見店,スマスロ北斗の拳,1225,6153,-57.0,57,19,NaN,1/81.0,1/107.9,1/323.8,NaN,2023-05-27
40,アビバ鶴見店,スマスロ北斗の拳,1226,5926,-1957.0,47,15,NaN,1/95.6,1/126.1,1/395.1,NaN,2023-05-27
41,アビバ鶴見店,スマスロ北斗の拳,1227,5796,296.0,62,15,NaN,1/75.3,1/93.5,1/386.4,NaN,2023-05-27
42,アビバ鶴見店,スマスロ北斗の拳,1228,5058,3155.0,76,16,NaN,1/55.0,1/66.6,1/316.1,NaN,2023-05-27
43,アビバ鶴見店,スマスロ北斗の拳,1230,5883,249.0,67,15,NaN,1/71.7,1/87.8,1/392.2,NaN,2023-05-27

17002
-1071
14
10646
-153
177

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
23,パラッツォ川越店,マイジャグラーV,444,7786,925.0,31,26,NaN,1/136.6,1/251.2,1/299.5,NaN,2023-05-27
24,パラッツォ川越店,マイジャグラーV,445,4245,-583.0,15,6,NaN,1/202.1,1/283.0,1/707.5,NaN,2023-05-27
25,パラッツォ川越店,マイジャグラーV,446,7601,-527.0,23,28,NaN,1/149.0,1/330.5,1/271.5,NaN,2023-05-27
26,パラッツォ川越店,マイジャグラーV,447,5626,-148.0,21,14,NaN,1/160.7,1/267.9,1/401.9,NaN,2023-05-27
27,パラッツォ川越店,マイジャグラーV,448,4541,-416.0,21,5,NaN,1/174.7,1/216.2,1/908.2,NaN,2023-05-27
...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,パラッツォ川越店,ツインエンジェルPARTY,799,2427,-1116.0,7,16,NaN,1/105.5,1/346.7,1/151.7,NaN,2023-05-27
216,パラッツォ川越店,ツインエンジェルPARTY,800,4007,-713.0,14,27,NaN,1/97.7,1/286.2,1/148.4,NaN,2023-05-27
244,パラッツォ川越店,戦姫絶唱シンフォギア勇気の歌,801,4238,-3381.0,21,17,NaN,1/111.5,1/201.8,1/249.3,NaN,2023-05-27
245,パラッツォ川越店,戦姫絶唱シンフォギア勇気の歌,802,3783,-2094.0,30,19,NaN,1/77.2,1/126.1,1/199.1,NaN,2023-05-27
246,パラッツォ川越店,戦姫絶唱シンフォギア勇気の歌,803,1995,-898.0,17,7,NaN,1/83.1,1/117.4,1/285.0,NaN,2023-05-27

19268
292
12
9571
-97
320

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
0,123+N松原店,マイジャグラーV,861,7555,2349.0,38,24,0.0,1/121.9,1/198.8,1/314.8,1/0.0,2023-05-27
1,123+N松原店,マイジャグラーV,862,3294,-355.0,13,4,0.0,1/193.8,1/253.4,1/823.5,1/0.0,2023-05-27
2,123+N松原店,マイジャグラーV,863,6748,2535.0,33,27,0.0,1/112.5,1/204.5,1/249.9,1/0.0,2023-05-27
3,123+N松原店,マイジャグラーV,864,4535,500.0,21,11,0.0,1/141.7,1/216.0,1/412.3,1/0.0,2023-05-27
4,123+N松原店,マイジャグラーV,865,4817,-1314.0,14,11,0.0,1/192.7,1/344.1,1/437.9,1/0.0,2023-05-27
...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,123+N松原店,ファンキージャグラー2,1409,6546,2442.0,28,25,0.0,1/123.5,1/233.8,1/261.8,1/0.0,2023-05-27
145,123+N松原店,ファンキージャグラー2,1410,2327,52.0,11,3,0.0,1/166.2,1/211.5,1/775.7,1/0.0,2023-05-27
146,123+N松原店,ファンキージャグラー2,1411,6176,430.0,26,13,0.0,1/158.4,1/237.5,1/475.1,1/0.0,2023-05-27
147,123+N松原店,ファンキージャグラー2,1412,874,-448.0,2,1,0.0,1/291.3,1/437.0,1/874.0,1/0.0,2023-05-27
148,123+N松原店,ファンキージャグラー2,1413,5104,-942.0,15,17,0.0,1/159.5,1/340.3,1/300.2,1/0.0,2023-05-27

18554
-250
40
12454
8
470

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
57,アビバ上大岡店,スマスロ北斗の拳,685,4900,2393.0,71,10,NaN,1/60.5,1/69.0,1/490.0,NaN,2023-05-27
58,アビバ上大岡店,スマスロ北斗の拳,686,6133,4713.0,98,25,NaN,1/49.9,1/62.6,1/245.3,NaN,2023-05-27
59,アビバ上大岡店,スマスロ北斗の拳,687,6109,-1664.0,49,16,NaN,1/94.0,1/124.7,1/381.8,NaN,2023-05-27
60,アビバ上大岡店,スマスロ北斗の拳,688,7464,-1907.0,69,15,NaN,1/88.9,1/108.2,1/497.6,NaN,2023-05-27
84,アビバ上大岡店,主役は銭形4,700,4648,-3315.0,26,10,NaN,1/129.1,1/178.8,1/464.8,NaN,2023-05-27
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27,アビバ上大岡店,マイジャグラーV,1005,5806,-1084.0,16,17,NaN,1/175.9,1/362.9,1/341.5,NaN,2023-05-27
28,アビバ上大岡店,マイジャグラーV,1006,8275,3385.0,42,26,NaN,1/121.7,1/197.0,1/318.3,NaN,2023-05-27
29,アビバ上大岡店,マイジャグラーV,1007,9233,2375.0,45,25,NaN,1/131.9,1/205.2,1/369.3,NaN,2023-05-27
30,アビバ上大岡店,マイジャグラーV,1008,6235,2801.0,33,22,NaN,1/113.4,1/188.9,1/283.4,NaN,2023-05-27
31,アビバ上大岡店,マイジャグラーV,1010,6847,-1956.0,19,14,NaN,1/207.5,1/360.4,1/489.1,NaN,2023-05-27

19052
167
9
12045
-127
141

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
128,アビバ綱島樽町店,主役は銭形4,582,4350,3867.0,47,16,NaN,1/69.0,1/92.6,1/271.9,NaN,2023-05-27
129,アビバ綱島樽町店,主役は銭形4,583,3410,4833.0,45,14,NaN,1/57.8,1/75.8,1/243.6,NaN,2023-05-27
130,アビバ綱島樽町店,主役は銭形4,585,5104,-2388.0,31,15,NaN,1/111.0,1/164.6,1/340.3,NaN,2023-05-27
121,アビバ綱島樽町店,革命機ヴァルヴレイヴ,586,1119,-988.0,2,1,NaN,1/373.0,1/559.5,1/1119.0,NaN,2023-05-27
122,アビバ綱島樽町店,革命機ヴァルヴレイヴ,587,965,-1073.0,1,0,NaN,1/965.0,1/965.0,1/0.0,NaN,2023-05-27
...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,アビバ綱島樽町店,沖ドキGOLD,801,4047,-3406.0,10,9,NaN,1/213.0,1/404.7,1/449.7,NaN,2023-05-27
92,アビバ綱島樽町店,沖ドキGOLD,802,647,-797.0,1,0,NaN,1/647.0,1/647.0,1/0.0,NaN,2023-05-27
93,アビバ綱島樽町店,沖ドキGOLD,803,419,-106.0,2,2,NaN,1/104.8,1/209.5,1/209.5,NaN,2023-05-27
94,アビバ綱島樽町店,沖ドキGOLD,805,2367,576.0,16,11,NaN,1/87.7,1/147.9,1/215.2,NaN,2023-05-27
95,アビバ綱島樽町店,沖ドキGOLD,806,2214,-430.0,11,8,NaN,1/116.5,1/201.3,1/276.8,NaN,2023-05-27

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )

17334

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

-1622
11
8736
62
140

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
104,キコーナ小田原扇町店,ゴブリンスレイヤー,501,7318,-4103.0,0,1,16.0,1/430.5,1/0.0,1/7318.0,1/457.4,2023-05-27
105,キコーナ小田原扇町店,ゴブリンスレイヤー,502,7211,4662.0,0,2,29.0,1/232.6,1/0.0,1/3605.5,1/248.7,2023-05-27
106,キコーナ小田原扇町店,ゴブリンスレイヤー,503,8130,-3646.0,0,0,19.0,1/427.9,1/0.0,1/0.0,1/427.9,2023-05-27
107,キコーナ小田原扇町店,ゴブリンスレイヤー,504,4081,-1613.0,0,1,8.0,1/453.4,1/0.0,1/4081.0,1/510.1,2023-05-27
108,キコーナ小田原扇町店,ゴブリンスレイヤー,505,4462,-1053.0,0,0,12.0,1/371.8,1/0.0,1/0.0,1/371.8,2023-05-27
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,キコーナ小田原扇町店,沖ドキGOLD30,776,2483,3321.0,30,7,0.0,1/67.1,1/82.8,1/354.7,1/0.0,2023-05-27
149,キコーナ小田原扇町店,沖ドキGOLD30,777,1025,0.0,6,4,0.0,1/102.5,1/170.8,1/256.2,1/0.0,2023-05-27
150,キコーナ小田原扇町店,沖ドキGOLD30,778,1020,227.0,8,2,0.0,1/102.0,1/127.5,1/510.0,1/0.0,2023-05-27
151,キコーナ小田原扇町店,沖ドキGOLD30,779,1679,280.0,11,6,0.0,1/98.8,1/152.6,1/279.8,1/0.0,2023-05-27
152,キコーナ小田原扇町店,沖ドキGOLD30,780,1285,493.0,9,4,0.0,1/98.8,1/142.8,1/321.2,1/0.0,2023-05-27

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

21510
561
13
14941
-202
240

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
40,テンガイ・与次郎店,マイジャグラーV,1201,8645,1200.0,31,37,0.0,1/127.1,1/278.9,1/233.6,1/0.0,2023-05-27
41,テンガイ・与次郎店,マイジャグラーV,1202,5293,-163.0,19,14,0.0,1/160.4,1/278.6,1/378.1,1/0.0,2023-05-27
42,テンガイ・与次郎店,マイジャグラーV,1203,5433,-1268.0,16,14,0.0,1/181.1,1/339.6,1/388.1,1/0.0,2023-05-27
43,テンガイ・与次郎店,マイジャグラーV,1205,5380,739.0,24,10,0.0,1/158.2,1/224.2,1/538.0,1/0.0,2023-05-27
44,テンガイ・与次郎店,マイジャグラーV,1206,6227,389.0,29,12,0.0,1/151.9,1/214.7,1/518.9,1/0.0,2023-05-27
...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,テンガイ・与次郎店,アナザーゴッドハーデス解き放たれし槍撃ver,2015,4072,-2454.0,0,0,6.0,1/678.7,1/0.0,1/0.0,1/678.7,2023-05-27
221,テンガイ・与次郎店,アナザーゴッドハーデス解き放たれし槍撃ver,2016,3438,1628.0,0,0,9.0,1/382.0,1/0.0,1/0.0,1/382.0,2023-05-27
222,テンガイ・与次郎店,アナザーゴッドハーデス解き放たれし槍撃ver,2017,3149,204.0,0,0,7.0,1/449.9,1/0.0,1/0.0,1/449.9,2023-05-27
223,テンガイ・与次郎店,アナザーゴッドハーデス解き放たれし槍撃ver,2018,3812,720.0,0,0,13.0,1/293.2,1/0.0,1/0.0,1/293.2,2023-05-27
224,テンガイ・与次郎店,アナザーゴッドハーデス解き放たれし槍撃ver,2020,4036,5631.0,0,2,18.0,1/201.8,1/0.0,1/2018.0,1/224.2,2023-05-27

18337
382
40
9646
54
400

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
70,アビバ新杉田,主役は銭形4,253,4552,1858.0,38,14,NaN,1/87.5,1/119.8,1/325.1,NaN,2023-05-28
56,アビバ新杉田,バキ強くなりたくば喰らえ,255,0,0.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-28
57,アビバ新杉田,バキ強くなりたくば喰らえ,256,0,0.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-28
71,アビバ新杉田,バイオハザード7レジデントイービル,257,0,0.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-28
72,アビバ新杉田,ペルソナ5,258,0,0.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17,アビバ新杉田,スロコレ,365,883,-596.0,6,4,NaN,1/88.3,1/147.2,1/220.8,NaN,2023-05-28
18,アビバ新杉田,スロコレ,366,344,-444.0,0,1,NaN,1/344.0,1/0.0,1/344.0,NaN,2023-05-28
19,アビバ新杉田,スロコレ,367,0,0.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-28
20,アビバ新杉田,スロコレ,368,240,739.0,5,1,NaN,1/40.0,1/48.0,1/240.0,NaN,2023-05-28
21,アビバ新杉田,スロコレ,370,849,-1056.0,5,1,NaN,1/141.5,1/169.8,1/849.0,NaN,2023-05-28

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)

17141
-256
4
6422
-217
78

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
230,楽園上新屋店,ファンキージャグラー2,101,6344,-714.0,23,14,0.0,1/171.5,1/275.8,1/453.1,1/0.0,2023-05-28
231,楽園上新屋店,ファンキージャグラー2,102,3735,143.0,17,4,0.0,1/177.9,1/219.7,1/933.8,1/0.0,2023-05-28
232,楽園上新屋店,ファンキージャグラー2,103,4143,-523.0,14,11,0.0,1/165.7,1/295.9,1/376.6,1/0.0,2023-05-28
233,楽園上新屋店,ファンキージャグラー2,104,6050,858.0,26,20,0.0,1/131.5,1/232.7,1/302.5,1/0.0,2023-05-28
234,楽園上新屋店,ファンキージャグラー2,105,3874,524.0,19,5,0.0,1/161.4,1/203.9,1/774.8,1/0.0,2023-05-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,楽園上新屋店,HEYエリートサラリーマン鏡,3405,6109,-1666.0,0,7,22.0,1/210.7,1/0.0,1/872.7,1/277.7,2023-05-28
227,楽園上新屋店,HEYエリートサラリーマン鏡,3406,6145,1905.0,0,13,31.0,1/139.7,1/0.0,1/472.7,1/198.2,2023-05-28
228,楽園上新屋店,HEYエリートサラリーマン鏡,3407,6170,96.0,0,13,30.0,1/143.5,1/0.0,1/474.6,1/205.7,2023-05-28
229,楽園上新屋店,HEYエリートサラリーマン鏡,3408,6366,2000.0,0,9,18.0,1/235.8,1/0.0,1/707.3,1/353.7,2023-05-28
267,楽園上新屋店,甲鉄城のカバネリ,3409,5957,-2571.0,0,15,31.0,1/129.5,1/0.0,1/397.1,1/192.2,2023-05-28

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )

17397
821
68
16932
43
1078

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
230,楽園上新屋店,ファンキージャグラー2,101,6344,-714.0,23,14,0.0,1/171.5,1/275.8,1/453.1,1/0.0,2023-05-28
231,楽園上新屋店,ファンキージャグラー2,102,3735,143.0,17,4,0.0,1/177.9,1/219.7,1/933.8,1/0.0,2023-05-28
232,楽園上新屋店,ファンキージャグラー2,103,4143,-523.0,14,11,0.0,1/165.7,1/295.9,1/376.6,1/0.0,2023-05-28
233,楽園上新屋店,ファンキージャグラー2,104,6050,858.0,26,20,0.0,1/131.5,1/232.7,1/302.5,1/0.0,2023-05-28
234,楽園上新屋店,ファンキージャグラー2,105,3874,524.0,19,5,0.0,1/161.4,1/203.9,1/774.8,1/0.0,2023-05-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,楽園上新屋店,HEYエリートサラリーマン鏡,3405,6109,-1666.0,0,7,22.0,1/210.7,1/0.0,1/872.7,1/277.7,2023-05-28
227,楽園上新屋店,HEYエリートサラリーマン鏡,3406,6145,1905.0,0,13,31.0,1/139.7,1/0.0,1/472.7,1/198.2,2023-05-28
228,楽園上新屋店,HEYエリートサラリーマン鏡,3407,6170,96.0,0,13,30.0,1/143.5,1/0.0,1/474.6,1/205.7,2023-05-28
229,楽園上新屋店,HEYエリートサラリーマン鏡,3408,6366,2000.0,0,9,18.0,1/235.8,1/0.0,1/707.3,1/353.7,2023-05-28
267,楽園上新屋店,甲鉄城のカバネリ,3409,5957,-2571.0,0,15,31.0,1/129.5,1/0.0,1/397.1,1/192.2,2023-05-28

17397
821
68
16932

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)

43
1078

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
230,楽園上新屋店,ファンキージャグラー2,101,1648,-190.0,6,3,0.0,1/183.1,1/274.7,1/549.3,1/0.0,2023-05-29
231,楽園上新屋店,ファンキージャグラー2,102,3206,-190.0,12,5,0.0,1/188.6,1/267.2,1/641.2,1/0.0,2023-05-29
232,楽園上新屋店,ファンキージャグラー2,103,2061,-762.0,5,6,0.0,1/187.4,1/412.2,1/343.5,1/0.0,2023-05-29
233,楽園上新屋店,ファンキージャグラー2,104,968,-476.0,1,4,0.0,1/193.6,1/968.0,1/242.0,1/0.0,2023-05-29
234,楽園上新屋店,ファンキージャグラー2,105,743,-571.0,1,1,0.0,1/371.5,1/743.0,1/743.0,1/0.0,2023-05-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,楽園上新屋店,HEYエリートサラリーマン鏡,3405,1774,-1666.0,0,0,5.0,1/354.8,1/0.0,1/0.0,1/354.8,2023-05-29
227,楽園上新屋店,HEYエリートサラリーマン鏡,3406,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-29
228,楽園上新屋店,HEYエリートサラリーマン鏡,3407,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-29
229,楽園上新屋店,HEYエリートサラリーマン鏡,3408,1578,1953.0,0,8,10.0,1/87.7,1/0.0,1/197.2,1/157.8,2023-05-29
267,楽園上新屋店,甲鉄城のカバネリ,3409,3077,334.0,0,10,23.0,1/93.2,1/0.0,1/307.7,1/133.8,2023-05-29

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

17318
154
34
6266
-54
539

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
230,楽園上新屋店,ファンキージャグラー2,101,2271,-238.0,9,6,0.0,1/151.4,1/252.3,1/378.5,1/0.0,2023-05-30
231,楽園上新屋店,ファンキージャグラー2,102,155,-142.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-30
232,楽園上新屋店,ファンキージャグラー2,103,5786,1429.0,27,17,0.0,1/131.5,1/214.3,1/340.4,1/0.0,2023-05-30
233,楽園上新屋店,ファンキージャグラー2,104,225,-238.0,0,1,0.0,1/225.0,1/0.0,1/225.0,1/0.0,2023-05-30
234,楽園上新屋店,ファンキージャグラー2,105,232,-238.0,0,1,0.0,1/232.0,1/0.0,1/232.0,1/0.0,2023-05-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,楽園上新屋店,HEYエリートサラリーマン鏡,3405,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-30
227,楽園上新屋店,HEYエリートサラリーマン鏡,3406,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-30
228,楽園上新屋店,HEYエリートサラリーマン鏡,3407,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-30
229,楽園上新屋店,HEYエリートサラリーマン鏡,3408,3667,-523.0,0,7,20.0,1/135.8,1/0.0,1/523.9,1/183.3,2023-05-30
267,楽園上新屋店,甲鉄城のカバネリ,3409,3364,-1666.0,0,10,13.0,1/146.3,1/0.0,1/336.4,1/258.8,2023-05-30

14342
57
34
5584
-31
539

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
230,楽園上新屋店,ファンキージャグラー2,101,3875,-285.0,12,17,0.0,1/133.6,1/322.9,1/227.9,1/0.0,2023-05-31
231,楽園上新屋店,ファンキージャグラー2,102,3173,1381.0,18,8,0.0,1/122.0,1/176.3,1/396.6,1/0.0,2023-05-31
232,楽園上新屋店,ファンキージャグラー2,103,3042,-1381.0,7,7,0.0,1/217.3,1/434.6,1/434.6,1/0.0,2023-05-31
233,楽園上新屋店,ファンキージャグラー2,104,1234,-48.0,5,2,0.0,1/176.3,1/246.8,1/617.0,1/0.0,2023-05-31
234,楽園上新屋店,ファンキージャグラー2,105,1730,-285.0,6,5,0.0,1/157.3,1/288.3,1/346.0,1/0.0,2023-05-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,楽園上新屋店,HEYエリートサラリーマン鏡,3405,441,-476.0,0,0,1.0,1/441.0,1/0.0,1/0.0,1/441.0,2023-05-31
227,楽園上新屋店,HEYエリートサラリーマン鏡,3406,3893,96.0,0,9,22.0,1/125.6,1/0.0,1/432.6,1/177.0,2023-05-31
228,楽園上新屋店,HEYエリートサラリーマン鏡,3407,11,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-31
229,楽園上新屋店,HEYエリートサラリーマン鏡,3408,1114,2096.0,0,7,9.0,1/69.6,1/0.0,1/159.1,1/123.8,2023-05-31
267,楽園上新屋店,甲鉄城のカバネリ,3409,2198,1048.0,0,6,21.0,1/81.4,1/0.0,1/366.3,1/104.7,2023-05-31

14826
38
34
6141
-33
539

C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:24: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_out = int(extraxt_hokuto_kisyu_name_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:26: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  hokuto_average_samai = int(extraxt_hokuto_kisyu_name_df.mean()['差枚'] )
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_average_out = int(extract_tenpo_data_df.mean()['G数'] * 3)
C:\Users\slotd\AppData\Local\Temp/ipykernel_33456/2012436428.py:33: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  extraxt_tenpo_samai = int(extract_tenpo_data_df.mean()['差枚'] )

In [19]:

output_df.to_csv('csv/5月分昇天チャレンジ結果.csv', index=False)

In [26]:
error_tenpo_name_dict

{'グランキコーナ泉佐野店': 'データテーブルがないです',
 'ピーアーク相模原': ValueError('cannot convert float NaN to integer'),
 '123門真店': ValueError('cannot convert float NaN to integer'),
 nan: 'データテーブルがないです',
 'ワンダーランド大刀洗店': 'データテーブルがないです',
 'Dステーション上田店': 'データテーブルがないです',
 'ワンダーランド770東合川店': 'データテーブルがないです',
 'ワンダーランド香椎本館': 'データテーブルがないです',
 'ワンダーランド南ヶ丘店': 'データテーブルがないです',
 'ピーアーク相模大野': ValueError('cannot convert float NaN to integer'),
 'ワンダーランド鹿児島新栄店': 'データテーブルがないです',
 'ワンダーランド谷山店': 'データテーブルがないです',
 'フェイス1100瑞穂店': 'データテーブルがないです',
 'ワンダーランド諫早店': 'データテーブルがないです',
 'ワンダーランド西新店': 'データテーブルがないです',
 'ワンダーランド香椎II': 'データテーブルがないです'}

In [ ]:
error_kisyu_name_list:list[str] = []
error_tenpo_name_list:list[str] = []
sammy_groupby_serched_df_list = []
for i, row in sammy_sf_report_df.iterrows():
    target_date = row['日付']

    extract_tenpo_data_df = data_df[data_df['店舗名'] == serch_tenpo_name]
    print(serch_tenpo_name,len(extract_tenpo_data_df))
    for kisyu_name in serch_kisyu_name_list :
        #print(kisyu_name)
        try:
            serch_kisyu_name_record = extract_tenpo_data_df[extract_tenpo_data_df['機種名'] == kisyu_name]
            if len(serch_kisyu_name_record) == 0:
                error_kisyu_name_list.append(kisyu_name)# + f'_{date_str}'
            serched_df= pd.concat([serched_df, serch_kisyu_name_record], axis=0)
            #print('成功',kisyu_name)
        except:
            print('失敗',kisyu_name)
            error_kisyu_name_list.append(kisyu_name)
            continue
        #break
    # except:
    #     error_tenpo_name_list.append(serch_tenpo_name)
    #     continue
    #display(extract_tenpo_data_df)
    #break
    #break
#serch_kisyu_name_list.remove('')
serched_df['G数'] = serched_df['G数'].astype(int)
groupby_serched_df = serched_df.groupby('店舗名').mean()#.sort_values('G数',ascending=False)#.reset_index()
groupby_serched_df['サミー総台数'] = serched_df.groupby(['店舗名']).size()
new_column_gamesuu_column:str = target_date + '_' + 'サミー全台平均G数'
groupby_serched_df = groupby_serched_df.rename(columns={'G数':new_column_gamesuu_column})
groupby_serched_df = groupby_serched_df[[ new_column_gamesuu_column,'サミー総台数']]#groupby_serched_df_list
sammy_groupby_serched_df_list.append(groupby_serched_df)

In [25]:
date_list = ['2023-05-02','2023-05-03']
for date_str in date_list:
    serched_df[serched_df['日付'] == date_str].to_csv(fr'csv\2023-{date_str}_scraping_anaslo.csv')

In [26]:
concat_data_df = pd.DataFrame(index=[], columns=[])

for date_str in date_list:
    csv_file_name  = f'csv\\2023-{date_str}_scraping_anaslo.csv'
    data_df =  pd.read_csv(csv_file_name)
    concat_data_df=  pd.concat([concat_data_df, data_df], axis=0)

In [29]:
scope = ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']
#認証情報設定
#ダウンロードしたjsonファイル名をクレデンシャル変数に設定（秘密鍵、Pythonファイルから読み込みしやすい位置に置く）
credentials = ServiceAccountCredentials.from_json_keyfile_name(r'sercret_json\twitteranalytics-jsonsercretkey.json', scope)
gc = gspread.authorize(credentials)
workbook = gc.open_by_key('105cZcOMvRnx4hNA-N7oypGwIXuetCRZJEe1IHf9R45c')
worksheet = workbook.worksheet('機種名変換テーブル')
kisyu_name_convert_df = read_spreadsheet(workbook,worksheet)
kisyu_name_convert_df

serch_kisyu_name_list:list[str] = list(kisyu_name_convert_df['変換前アナスロ機種名'])
serch_kisyu_name_list = list(set(serch_kisyu_name_list))
serch_kisyu_name_list = sorted(serch_kisyu_name_list)
#serch_kisyu_name_list.remove('')
print(len(serch_kisyu_name_list ))
serch_kisyu_name_list.remove('')
serch_kisyu_name_list

75

['43Lパチスロ北斗の拳ADXR',
 'ANEMONE 交響詩篇エウレカセブン HI‐EVOLUTION',
 'ANEMONE交響詩篇エウレカセブンHIEVOLUTION',
 'Angel Beats!',
 'AngelBeats',
 'Lスマスロ北斗',
 'Lパチスロ北斗の拳ADXR',
 'RYUKYUBEAT30',
 'S Angel beats! XF',
 'S コードギアス',
 'S パチスロコードギアス',
 'Sエウレカセブン HIEVO ZR',
 'SエウレカセブンHIEVOZR',
 'Sコードギアス反逆のルルーシュ',
 'Sコードギアス叛逆のルルーシュKZ',
 'Sハ-ドボイルドXX',
 'Sパチスロ交響詩篇エウレカセブンHI-EVOLZR',
 'Sパチスロ北斗の拳',
 'Sパチスロ幼女戦姫記ZR',
 'Sヱウレカセブン3',
 'S交響詩篇エウレカセブンHI-EVOL',
 'S北斗の拳昇天',
 '‐S盾勇者成り上がり',
 'あの日見た花の名前を僕達はまだ知らない。',
 'けものフレFS',
 'けものフレンズ',
 'この素晴らしい世界に祝福を',
 'この素晴らしい世界に祝福を！',
 'アラジンAクラシック',
 'エウレカセブン',
 'ガメラ',
 'コードギアス反逆のルルーシュ',
 'コードギアス反逆のルルーシュ3',
 'コードギアス反逆のルルーシュZF',
 'スマスロ北斗の拳',
 'チェインクロニクル',
 'ツインエンジェルP',
 'ツインエンジェルPARTY',
 'ディスクUP2',
 'ディスクアUP2',
 'ディスクアップ2',
 'ドリフターズ',
 'ハードボイXX',
 'ハードボイルド',
 'パチスロ ツインエンジェルBREAK',
 'パチスロディスクアップ',
 'パチスロファンシースターオンライン2',
 'パチスロ交響詩篇エウレカセブ',
 'パチスロ猛獣王 王者の咆',
 'パチスロ猛獣王 王者の咆ZZ',
 'ファンタシースターオンライン2',
 'ペルソナ5',
 '七つの大罪',
 '交響詩篇エウレカセブン3 HI-EVOLUTION ZERO',
 '交響詩篇エウレカセブン3HIEVOLUTIONZERO',
 '北斗の拳 天昇',
 '北斗の拳 宿命',
 '北斗の拳天昇',
 '北斗の拳宿命',
 '回胴黙示録カイジ~沼~',
 '幼女戦記',
 '楽園追放',
 '物語シリーズ セカンドシーズン',
 '物語シリーズセカンドシーズン',
 '猛獣王 王者の咆哮',
 '猛獣王王者の咆哮',
 '甲鉄城のカバネリ',
 '盾の勇者の成り上がり',
 '真・北斗無双',
 '蒼天の拳',
 '蒼天の拳 朋友',
 '蒼天の拳4',
 '蒼天の拳朋友',
 '頭文字D']

In [27]:
concat_data_df

,Unnamed: 0,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
0,332,123+N和歌山本店,モンキーターンIV,705,1666,-528.0,0,3,7.0,1/166.6,1/0.0,1/555.3,1/238.0,2023-05-02
1,333,123+N和歌山本店,モンキーターンIV,706,1052,-1003.0,0,2,2.0,1/263.0,1/0.0,1/526.0,1/526.0,2023-05-02
2,334,123+N和歌山本店,モンキーターンIV,707,998,-818.0,0,1,2.0,1/332.7,1/0.0,1/998.0,1/499.0,2023-05-02
3,368,123+N和歌山本店,ゼーガペイン2,708,3,-5.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-02
4,366,123+N和歌山本店,笑ゥせぇるすまん4,709,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28717,131,BEAM by HIKARI,沖ドキGOLD,1172,2214,-1890.0,6,3,NaN,1/246.0,1/369.0,1/738.0,NaN,2023-05-03
28718,132,BEAM by HIKARI,沖ドキGOLD,1173,3163,-2752.0,8,6,NaN,1/225.9,1/395.4,1/527.2,NaN,2023-05-03
28719,133,BEAM by HIKARI,沖ドキGOLD,1175,3198,-1312.0,16,4,NaN,1/159.9,1/199.9,1/799.5,NaN,2023-05-03
28720,134,BEAM by HIKARI,沖ドキGOLD,1176,4409,4833.0,47,20,NaN,1/65.8,1/93.8,1/220.4,NaN,2023-05-03
28721,135,BEAM by HIKARI,沖ドキGOLD,1177,3568,-1843.0,15,5,NaN,1/178.4,1/237.9,1/713.6,NaN,2023-05-03

In [30]:
new_kisyu_name_candidate_list = sorted(list(concat_data_df['機種名'].unique()))
print(len(new_kisyu_name_candidate_list))
kisyu_name_candidate_list = list(set(new_kisyu_name_candidate_list) - set(serch_kisyu_name_list)) 
print(len(kisyu_name_candidate_list))
for x in sorted(kisyu_name_candidate_list):
    print(x)

217
187
2027DB
BIG島唄30
BLACKLAGOONZERObulletMAX
BOOWY
CCエンジェル
CREANewクレアの秘宝伝
FAIRYTAIL2
GANTZ極THESURVIVALGAME
GI優駿倶楽部2
GI優駿倶楽部3
HEYエリートサラリーマン鏡
HEY鏡
KING黄門ちゃま
Lucky海物語
L主役は銭形4
OVERLORD絶対支配者光臨II
OVERSLOT「AINZOOALGOWN絶対支配者光臨」
PYRAMIDEYE
Reゼロから始める異世界生活
Reゼロから始める異世界生活ApexVacation
STEINSGATE
S戦姫絶唱シンフォギア
S牙狼黄金騎士
S稼動停止台
TIGERBUNNY
WakeUpGirlsSevenMemories
いろはに愛姫
うしおととら雷槍一閃
うまい棒
えとたま
かまいたちの夜
とある科学の超電磁砲
どんだけ
ひぐらしのなく頃に祭2
ひぐらしのなく頃に祭2カケラ遊び編
もっとクレアの秘宝伝女神の歌声と太陽の子供達
もっとチバリヨ25
もっとチバリヨ30
アイドルマスターミリオンライブ
アイムジャグラーEX
アイムジャグラーEXTP
アカメが斬る
アクエリオンALLSTARS
アナザーゴッドハーデス解き放たれし槍撃ver
アナターのオットはーです
アバサー
ウルトラマンタロウ暴君SPEC
ガールズケイリンGIフェアリーグランプリ
ガールズパンツァーGこれが私の戦車道です
ガールズパンツァー劇場版
キャッツアイ
キングハナハナ30
ギャグダー
ケロット4
ゲッターロボ
ゴッドイータージアニメーション
ゴブリンスレイヤー
サラリーマン金太郎MAX
サンダーVライトニング
シャア専用パチスロ逆襲の赤い彗星
シリウス
シンデレラブレイド4
スターパルサー
スナイパイ71
スロドル
スーパーハナハナ
スーパーハナハナ30
スーパーリオエース
スーパー海物語INJAPAN祭
ゼーガペイン2
タブータトゥー
ダンまち外伝ソードオラトリア
チバリヨ25
チバリヨ30
デビルメイクライ5
ドンちゃん2
ドンチャン2
ニューゲッターマウス
ニューハナハナゴールド
ニューパルサーDX3
ニューパルサーSPIII
ハイスクールD×D2ハーレム王に俺はなる
ハイスクールオブザデッドゴールド
ハイハイシオサイ
ハイハイシオサイ2
ハッピージャグラーVIII
ハナハナホウオウ天翔
ハナハナホウオウ天翔30
バイオハザード7レジデントイービル
バイオハザードRE2
バキ強くなりたくば喰らえ
バジリスク絆2
バラエティ
バンバンクロス
バーサスリヴァイズ
ビッグシオ
ピンクパンサーSP
ファンキージャグラー2
フレームアームズガール
ブラックラグーン4
ボンバーガール
マイジャグラーV
マイフラワー30
マクロスデルタ
マジカルハロウィンTrickorTreat
マッピー
モモキュンソード
モンキーターンIV
モンスターハンターワールド
モンスターハンターワールドTM黄金狩猟
モンスターハンターワールドアイスボーン
ラストユートピア
ラブ嬢2
ラブ嬢2プラス
リノヘブン
リングにかけろワールドチャンピオンカーニバル編
リング運命の秒刻
ルパン三世
ロリクラ☆ほーるど
ヱヴァンゲリヲンAT777
ヴィーナスゾーン
主役は銭形3
停止台パチスロ
劇場版魔法少女まどか☆マギカ前編始まりの物語後編永遠の物語
劇場版魔法少女まどか☆マギカ新編叛逆の物語
十字架5
吉宗3
呪怨再誕
咲Saki
大花満
天下布武4
対魔導学園35試験小隊
戦コレ泰平女君徳川家康
戦国コレクション5
戦国乙女暁の関ヶ原DARKNESS
戦国無双3
戦姫絶唱シンフォギア勇気の歌
押忍サラリーマン番長2
押忍番長ZERO
探偵オペラミルキィホームズR大収穫祭
政宗3
政宗戦極
新ハナビ
新世紀エヴァンゲリオン魂の共鳴
新鬼武者2
新鬼武者DAWNOFDREAMS
東京レイヴンズ
機動戦士ガンダムユニコーン
沖ドキ2
沖ドキDUO
沖ドキDUO30
沖ドキGOLD
沖ドキGOLD30
沖ハナ30
炎炎ノ消防隊
犬夜叉
百花繚乱サムライガールズ
真俺の空
秘宝伝解き放たれた女神
笑ゥせぇるすまん4
笑ゥせぇるすまん絶笑
絶対衝激III
緋弾のアリアII
聖闘士星矢冥王復活
聖闘士星矢海皇覚醒Special
花の慶次武威
花火絶景
蒼穹のファフナーEXODUS
豪炎高校應援團檄
超ギラギラ爺サマー
近日導入予定
這いよれニャル子さん
鉄拳4アルティメットデビルVer
鉄拳5
閃乱カグラBURSTUP
闘魂継承アントニオ猪木という名のパチスロ機
零
青の祓魔師
青鬼
革命機ヴァルヴレイヴ
鬼浜爆走紅蓮隊狂闘旅情編
魔法少女育成計画
麻雀格闘倶楽部参
麻雀格闘倶楽部真
麻雀物語4
黄門ちゃまV女神盛MEGAMORI
黄門ちゃま喝2

In [31]:
worksheet = workbook.worksheet('店舗名変換用テーブル完成版')
tenpo_name_convert_df = read_spreadsheet(workbook,worksheet)
tenpo_name_convert_df = tenpo_name_convert_df.replace({'スロパチID': {'': 99999}})
tenpo_name_convert_df = tenpo_name_convert_df.fillna({'スロパチID': 99999})
tenpo_name_convert_df['スロパチID'] = tenpo_name_convert_df['スロパチID'].astype(int)
tenpo_name_convert_df

,kintone_code,経度,緯度,DMM店舗名,都道府県,市区町村,住所,アナスロ店舗名,ホールナビ店舗名,URL,スロパチID,店舗名／法人名
1,P04961,139.378484,35.4501632,キコーナ海老名店,神奈川県,海老名市,神奈川県海老名市河原口4-5-6,キコーナ海老名店,キコーナ海老名店,https://p-town.dmm.com/shops/kanagawa/4961,506,キコーナ海老名店
2,P00651,139.80573,35.749407,ピーアーク北千住SSS,東京都,足立区,東京都足立区千住旭町3-5駅前会館ビル1Ｆ,ピーアーク北千住SSS,ピーアーク北千住SSS,https://p-town.dmm.com/shops/tokyo/651,513,ピーアーク北千住SSS
3,P01195,140.783334,41.7806327,KEIO湯川店,北海道,函館市,北海道函館市湯川町1-26-12,KEIO湯川店,KEIO湯川店,https://p-town.dmm.com/shops/hokkaido/1195,708,
4,P09568,133.904531,34.6159756,123藤田店,岡山県,岡山市南区,岡山県岡山市南区藤田673-22,123藤田店,123藤田店,https://p-town.dmm.com/shops/okayama/9568,771,123藤田店
5,P09572,133.937835,34.6277287,123浜野店,岡山県,岡山市南区,岡山県岡山市南区浜野2-10-48,123浜野店,123浜野店,https://p-town.dmm.com/shops/okayama/9572,772,
...,...,...,...,...,...,...,...,...,...,...,...,...
2406,,,,,,,,メガフェイス960飯塚,,,99999,MEGAFACE960飯塚
2407,,,,,,,,HYPER ARROW美原店,,,99999,HYPER ARROW 美原店
2408,,,,,,,,パールショップともえセンター南店,,,99999,パールショップともえセンター南店
2409,,,,,,,,123+N布施店,,,99999,123+N布施店
2410,,,,,,,,データなし,,,99999,MEGAFACE1070菊陽

In [ ]:
sammy_sf_list = list(sammy_sf_report_df[sammy_sf_report_df['イベント日'] == '2023/03/31']['店舗名／法人名'].unique())
for x in sorted(sammy_sf_list):
    print(x)

In [7]:
sammy_sf_report_df = pd.read_csv(r'csv\sammy_sf_0331.csv')
#sammy_sf_report_df['shop_id'] = sammy_sf_report_df['shop_id'].astype(int)
sammy_sf_report_df = sammy_sf_report_df.rename(columns={'店舗ID':'スロパチID'})
sammy_sf_report_df = sammy_sf_report_df.fillna({'スロパチID': 99999})
sammy_sf_report_df['スロパチID'] = sammy_sf_report_df['スロパチID'].astype(int)
sammy_sf_report_df

# last_merged_df = pd.merge(sammy_sf_report_df,tenpo_name_convert_df,on='店舗名／法人名',how='left')
# anaslo_serched_tenpo_name_list = list(last_merged_df['アナスロ店舗名'].unique())
# anaslo_serched_tenpo_name_list.pop(6)
# anaslo_serched_tenpo_name_list = sorted(anaslo_serched_tenpo_name_list)
# #anaslo_serched_tenpo_name_list
# last_merged_df

      店舗名／法人名  都道府県       イベント日   提案区分  shop_id  スロパチID
0   123+N羽曳野店   大阪府  2023/03/31  サミーの日   7998.0    8940
1   123+N大阪本店   大阪府  2023/03/31  サミーの日  12564.0    8153
2    123+Ｎ松原店   大阪府  2023/03/31  サミーの日   7948.0    8826
3    123横浜西口店  神奈川県  2023/03/31  サミーの日  12985.0     970
4      123鶴橋店   大阪府  2023/03/31  サミーの日   7344.0    8395
..        ...   ...         ...    ...      ...     ...
63  新！ガーデン北与野   埼玉県  2023/03/31  サミーの日   3312.0    3588
64      仙川UNO   東京都  2023/03/31  サミーの日    885.0    5416
65      中山UNO  神奈川県  2023/03/31  サミーの日   4564.0    4157
66    中山ZoRoN  神奈川県  2023/03/31  サミーの日  12719.0   20615
67     本八幡UNO   千葉県  2023/03/31  サミーの日   3971.0    3324

[68 rows x 6 columns]

In [ ]:
for tenpo_name in ['123門真店','123+N大阪本店','レッドロック学芸大学駅前店']:
    display(serched_df[serched_df['店舗名'] ==tenpo_name])
    serched_df[serched_df['店舗名'] ==tenpo_name].to_csv(fr'csv\{tenpo_name}_sammy_kisyu.csv',index=False)

In [38]:
date_list:list[str] = ['2023-05-02','2023-05-03']
#date_list:list[str] = ['03-30','03-31']
error_kisyu_name_list:list[str] = []
error_tenpo_name_list:list[str] = []
sammy_groupby_serched_df_list = []
for date_str in date_list:
    month_str = date_str.split('-')[0]
    #print(month_str)
    #anaslo_serched_tenpo_name_list:list[str] = list(set(kisyu_name_convert_df[f'{month_str}月_店舗名']))
    anaslo_serched_tenpo_name_list = tenpo_name_list
    print(len(anaslo_serched_tenpo_name_list))
    sorted(anaslo_serched_tenpo_name_list)
    #anaslo_serched_tenpo_name_list.remove('')
    #print(anaslo_serched_tenpo_name_list)
    csv_file_name  = f'csv\\{date_str}_scraping_anaslo.csv'
    target_date = csv_file_name.split('_')[0].split('\\')[-1]
    data_df =  pd.read_csv(csv_file_name)
    serched_df = pd.DataFrame(index=[], columns=list(data_df.columns))
    display(data_df)
    for serch_tenpo_name in list(data_df['店舗名'].unique()):
        #try:
        #print(serch_tenpo_name)
        extract_tenpo_data_df = data_df[data_df['店舗名'] == serch_tenpo_name]
        print(serch_tenpo_name,len(extract_tenpo_data_df))
        for kisyu_name in serch_kisyu_name_list :
            #print(kisyu_name)
            try:
                serch_kisyu_name_record = extract_tenpo_data_df[extract_tenpo_data_df['機種名'] == kisyu_name]
                if len(serch_kisyu_name_record) == 0:
                    error_kisyu_name_list.append(kisyu_name)# + f'_{date_str}'
                serched_df= pd.concat([serched_df, serch_kisyu_name_record], axis=0)
                #print('成功',kisyu_name)
            except:
                print('失敗',kisyu_name)
                error_kisyu_name_list.append(kisyu_name)
                continue
            #break
        # except:
        #     error_tenpo_name_list.append(serch_tenpo_name)
        #     continue
        #display(extract_tenpo_data_df)
        #break
        #break
    #serch_kisyu_name_list.remove('')
    serched_df['G数'] = serched_df['G数'].astype(int)
    groupby_serched_df = serched_df.groupby('店舗名').mean()#.sort_values('G数',ascending=False)#.reset_index()
    groupby_serched_df['サミー総台数'] = serched_df.groupby(['店舗名']).size()
    new_column_gamesuu_column:str = target_date + '_' + 'サミー全台平均G数'
    groupby_serched_df = groupby_serched_df.rename(columns={'G数':new_column_gamesuu_column})
    groupby_serched_df = groupby_serched_df[[ new_column_gamesuu_column,'サミー総台数']]#groupby_serched_df_list
    sammy_groupby_serched_df_list.append(groupby_serched_df)

93

,Unnamed: 0,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
0,332,123+N和歌山本店,モンキーターンIV,705,1666,-528.0,0,3,7.0,1/166.6,1/0.0,1/555.3,1/238.0,2023-05-02
1,333,123+N和歌山本店,モンキーターンIV,706,1052,-1003.0,0,2,2.0,1/263.0,1/0.0,1/526.0,1/526.0,2023-05-02
2,334,123+N和歌山本店,モンキーターンIV,707,998,-818.0,0,1,2.0,1/332.7,1/0.0,1/998.0,1/499.0,2023-05-02
3,368,123+N和歌山本店,ゼーガペイン2,708,3,-5.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-02
4,366,123+N和歌山本店,笑ゥせぇるすまん4,709,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28993,131,BEAM by HIKARI,沖ドキGOLD,1172,595,663.0,7,1,NaN,1/74.4,1/85.0,1/595.0,NaN,2023-05-02
28994,132,BEAM by HIKARI,沖ドキGOLD,1173,1734,142.0,13,2,NaN,1/115.6,1/133.4,1/867.0,NaN,2023-05-02
28995,133,BEAM by HIKARI,沖ドキGOLD,1175,3436,-4025.0,5,3,NaN,1/429.5,1/687.2,1/1145.3,NaN,2023-05-02
28996,134,BEAM by HIKARI,沖ドキGOLD,1176,507,1568.0,11,0,NaN,1/46.1,1/46.1,1/0.0,NaN,2023-05-02
28997,135,BEAM by HIKARI,沖ドキGOLD,1177,2240,2306.0,25,7,NaN,1/70.0,1/89.6,1/320.0,NaN,2023-05-02

123+N和歌山本店 396
123+N大阪本店 480
123+N布施店 661
123+N羽曳野店 443
123横浜西口店 332
123長吉店 240
123門真店 446
123難波店 376
123鶴橋店 391
123+N橿原店 423
BEAM HARA 311
Dステーション仙台東店 272
Dステーション上田店 255
GRAND G-ONE甲賀水口店 434
HYPER ARROW美原店 391
KING BOSS 1000 354
メガコンコルド1020刈谷知立店 426
メガコンコルド1111BLAZE店 482
メガコンコルド1280稲沢店 480
MGM小山本郷店 360
PIA京急川崎 298
PIA八王子 478
PIA川崎ダイス 306
PIA柏 スロット館 343
PIA横浜モアーズ 400
PIA町田新館 386
スーパーDステーション上里店 264
スーパーDステーション鴻巣店 360
WIN-WIN ONE 273
アスカ熊谷店 195
アスカ狭山店 240
アビバ湘南台店 501
アビバ関内 318
ジュラク王子店 381
エクスアリーナ柏 400
エクスアリーナ東京 480
キコーナ吹田店 320
キコーナ守口店 363
キコーナ小田原扇町店 240
キコーナ海老名店 433
キコーナ茨木店 280
グランキコーナ堺店 697
グランキコーナ相模原店 491
グランドオータ瀬谷店 406
サンパレス環七大杉店 287
ZAP PRESTIGE 152
ジアスセンター南 211
ジャムフレンドクラブ朝霞店 238
スロット123梶取店 235
テンガイ・与次郎店 400
パラッツォ三郷中央店 520
ビッグアップル.加古川 376
ピーアーク三田 183
ピーアークピーくんステーション 345
ピーアーク相模原 363
ピーアーク相模大野 450
ピーアーク竹ノ塚スタジオ 268
ピーアーク草加 260
プレイランド第一平和 214
マルハンいわき店 276
マルハン草薙アピア店 385
マルハン青梅新町店 530
ミリオン習志野店 160
メガコンコルド800春日井店+ 364
レッドロック学芸大学駅前店 143
UNO三ノ輪 250
上尾UNO 329
UNO上福岡 184
UNO中山 205
ZoRoN中山 264
UNO仙川 187
出玉王田無店 300
UNO北越谷 206
UNO南柏 216
UNO新橋 208
第一プラザ西浦和店 152
UNO本八幡 328
楽園上新屋店 538
楽園川崎店 431
楽園沼津店 351
楽園浜松ザザシティ店 456
楽園袋井店 336
UNO清瀬 154
UNO秋葉原 194
UNO鶴見 281
BEAM by HIKARI 262
93

,Unnamed: 0,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
0,332,123+N和歌山本店,モンキーターンIV,705,260,-135.0,0,1,1.0,1/130.0,1/0.0,1/260.0,1/260.0,2023-05-03
1,333,123+N和歌山本店,モンキーターンIV,706,1602,1108.0,0,1,12.0,1/123.2,1/0.0,1/1602.0,1/133.5,2023-05-03
2,334,123+N和歌山本店,モンキーターンIV,707,1654,-920.0,0,2,5.0,1/236.3,1/0.0,1/827.0,1/330.8,2023-05-03
3,368,123+N和歌山本店,ゼーガペイン2,708,1982,1225.0,6,5,6.0,1/116.6,1/330.3,1/396.4,1/330.3,2023-05-03
4,366,123+N和歌山本店,笑ゥせぇるすまん4,709,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-05-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28717,131,BEAM by HIKARI,沖ドキGOLD,1172,2214,-1890.0,6,3,NaN,1/246.0,1/369.0,1/738.0,NaN,2023-05-03
28718,132,BEAM by HIKARI,沖ドキGOLD,1173,3163,-2752.0,8,6,NaN,1/225.9,1/395.4,1/527.2,NaN,2023-05-03
28719,133,BEAM by HIKARI,沖ドキGOLD,1175,3198,-1312.0,16,4,NaN,1/159.9,1/199.9,1/799.5,NaN,2023-05-03
28720,134,BEAM by HIKARI,沖ドキGOLD,1176,4409,4833.0,47,20,NaN,1/65.8,1/93.8,1/220.4,NaN,2023-05-03
28721,135,BEAM by HIKARI,沖ドキGOLD,1177,3568,-1843.0,15,5,NaN,1/178.4,1/237.9,1/713.6,NaN,2023-05-03

123+N和歌山本店 396
123+N大阪本店 480
123+N布施店 661
123+N羽曳野店 443
123横浜西口店 332
123長吉店 240
123門真店 446
123難波店 376
123鶴橋店 391
123+N橿原店 423
BEAM HARA 311
Dステーション上田店 255
GRAND G-ONE甲賀水口店 434
HYPER ARROW美原店 391
KING BOSS 1000 354
メガコンコルド1020刈谷知立店 426
メガコンコルド1111BLAZE店 482
メガコンコルド1280稲沢店 480
MGM小山本郷店 360
PIA京急川崎 298
PIA八王子 478
PIA川崎ダイス 306
PIA柏 スロット館 343
PIA横浜モアーズ 400
PIA町田新館 386
スーパーDステーション上里店 264
スーパーDステーション鴻巣店 360
WIN-WIN ONE 273
アスカ熊谷店 195
アスカ狭山店 240
アビバ湘南台店 501
アビバ関内 318
ジュラク王子店 381
エクスアリーナ柏 400
エクスアリーナ東京 480
キコーナ吹田店 320
キコーナ守口店 363
キコーナ小田原扇町店 240
キコーナ海老名店 433
キコーナ茨木店 280
グランキコーナ堺店 697
グランキコーナ相模原店 491
グランドオータ瀬谷店 406
サンパレス環七大杉店 287
ZAP PRESTIGE 152
ジアスセンター南 211
ジャムフレンドクラブ朝霞店 238
スロット123梶取店 235
テンガイ・与次郎店 400
パラッツォ三郷中央店 520
ビッグアップル.加古川 376
ピーアーク三田 183
ピーアークピーくんステーション 345
ピーアーク相模原 363
ピーアーク相模大野 450
ピーアーク竹ノ塚スタジオ 264
ピーアーク草加 260
プレイランド第一平和 214
マルハンいわき店 276
マルハン草薙アピア店 385
マルハン青梅新町店 530
ミリオン習志野店 160
メガコンコルド800春日井店+ 364
レッドロック学芸大学駅前店 143
UNO三ノ輪 250
上尾UNO 329
UNO上福岡 184
UNO中山 205
ZoRoN中山 264
UNO仙川 187
出玉王田無店 300
UNO北越谷 206
UNO南柏 216
UNO新橋 208
第一プラザ西浦和店 152
UNO本八幡 328
楽園上新屋店 538
楽園川崎店 431
楽園沼津店 351
楽園浜松ザザシティ店 456
楽園袋井店 336
UNO清瀬 154
UNO秋葉原 194
UNO鶴見 281
BEAM by HIKARI 262

In [40]:

error_kisyu_name_list:list[str] = []
error_tenpo_name_list:list[str] = []
tenpo_groupby_serched_df_list = []
for date_str in date_list:
    month_str = date_str.split('-')[0]
    print(month_str)
    #anaslo_serched_tenpo_name_list:list[str] = list(set(kisyu_name_convert_df[f'{month_str}月_店舗名']))
    print(len(anaslo_serched_tenpo_name_list))
    sorted(anaslo_serched_tenpo_name_list)
    #anaslo_serched_tenpo_name_list.remove('')
    print(anaslo_serched_tenpo_name_list)
    csv_file_name  = f'csv\\{date_str}_scraping_anaslo.csv'
    target_date = csv_file_name.split('_')[0].split('\\')[-1]
    data_df =  pd.read_csv(csv_file_name)
    serched_df = pd.DataFrame(index=[], columns=list(data_df.columns))
    for serch_tenpo_name in list(data_df['店舗名'].unique()):
        try:
            #print(serch_tenpo_name)
            # try:
            #     shop_id:int = int(slopachi_tenpo_name_and_shopid_df[slopachi_tenpo_name_and_shopid_df['店舗名／法人名'] == serch_tenpo_name].iloc[0,1])
            # except:
            #     print(serch_tenpo_name)
            #     continue
            try:
                #anaslo_tenpo_name = tenpo_name_convert_df[tenpo_name_convert_df['shop_id'] == shop_id].iloc[0,6]
                extract_tenpo_data_df = data_df[data_df['店舗名'] == serch_tenpo_name]
            except Exception as e :
                print(e)
                try:
                    extract_tenpo_data_df = data_df[data_df['店舗名'] == serch_tenpo_name]
                except Exception as e:
                    print('エラー',serch_tenpo_name,e)
                    error_tenpo_name_list.append(serch_tenpo_name)
                    continue
            serched_df= pd.concat([serched_df, extract_tenpo_data_df], axis=0)
        except Exception as e :
            error_tenpo_name_list.append(serch_tenpo_name)
            print(e)
            continue
        #display(extract_tenpo_data_df)
        #break
        #break
    #serch_kisyu_name_list.remove('')
    serched_df['G数'] = serched_df['G数'].astype(int)
    groupby_serched_df = serched_df.groupby('店舗名').mean()#.sort_values('G数',ascending=False)#.reset_index()
    groupby_serched_df['総台数'] = serched_df.groupby(['店舗名']).size()
    new_column_gamesuu_column:str = target_date + '_' + '全台平均G数'
    groupby_serched_df = groupby_serched_df.rename(columns={'G数':new_column_gamesuu_column})
    groupby_serched_df = groupby_serched_df[[ new_column_gamesuu_column,'総台数']]#groupby_serched_df_list
    tenpo_groupby_serched_df_list.append(groupby_serched_df)

2023
93
['123+N和歌山本店', '123+N大阪本店', '123+N布施店', '123+N羽曳野店', '123横浜西口店', '123長吉店', '123門真店', '123難波店', '123鶴橋店', '123+N橿原店', 'BEAM HARA', 'Dステーション仙台東店', 'Dステーション上田店', 'Dステーション新小岩店', 'EVO2', 'GRAND G-ONE甲賀水口店', 'HYPER ARROW美原店', 'KING BOSS 1000', 'MEGA BEAM ASAKURA 999', 'メガコンコルド1020刈谷知立店', 'メガコンコルド1111BLAZE店', 'メガコンコルド1280稲沢店', 'MGM小山本郷店', 'PIA京急川崎', 'PIA八王子', 'PIA川崎ダイス', 'PIA柏 スロット館', 'PIA横浜モアーズ', 'PIA町田新館', 'スーパーDステーション上里店', 'スーパーDステーション立川店', 'スーパーDステーション鴻巣店', 'WIN-WIN ONE', 'アスカ熊谷店', 'アスカ狭山店', 'アビバ湘南台店', 'アビバ関内', 'ジュラク王子店', 'エクスアリーナ柏', 'エクスアリーナ東京', 'オゼック国分寺北口', 'キコーナ吹田店', 'キコーナ守口店', 'キコーナ小田原扇町店', 'キコーナ海老名店', 'キコーナ茨木店', 'グランキコーナ堺店', 'グランキコーナ泉佐野店', 'グランキコーナ相模原店', 'グランドオータ瀬谷店', 'サンパレス環七大杉店', 'ZAP PRESTIGE', 'ジアスセンター南', 'ジャムフレンドクラブ朝霞店', 'スロット123梶取店', 'テンガイ・与次郎店', 'パラッツォ三郷中央店', 'ビッグアップル.加古川', 'ピーアーク三田', 'ピーアークピーくんステーション', 'ピーアーク相模原', 'ピーアーク相模大野', 'ピーアーク竹ノ塚スタジオ', 'ピーアーク草加', 'メガフェイス1180座間', 'プレイランド第一平和', 'マルハンいわき店', 'マルハン草薙アピア店', 'マルハン青梅新町店', 'ミリオン習志野店', 'メガコンコルド800春日井店+', 'レッドロック学芸大学駅前店', 'UNO三ノ輪', '上尾UNO', 'UNO上福岡', 'UNO中山', 'ZoRoN中山', 'UNO仙川', '出玉王田無店', 'UNO北越谷', 'UNO南柏', 'UNO新橋', '第一プラザ西浦和店', 'UNO本八幡', '楽園上新屋店', '楽園川崎店', '楽園沼津店', '楽園浜松ザザシティ店', '楽園袋井店', 'UNO清瀬', 'UNO秋葉原', 'UNO鶴見', 'BEAM by HIKARI']
2023
93
['123+N和歌山本店', '123+N大阪本店', '123+N布施店', '123+N羽曳野店', '123横浜西口店', '123長吉店', '123門真店', '123難波店', '123鶴橋店', '123+N橿原店', 'BEAM HARA', 'Dステーション仙台東店', 'Dステーション上田店', 'Dステーション新小岩店', 'EVO2', 'GRAND G-ONE甲賀水口店', 'HYPER ARROW美原店', 'KING BOSS 1000', 'MEGA BEAM ASAKURA 999', 'メガコンコルド1020刈谷知立店', 'メガコンコルド1111BLAZE店', 'メガコンコルド1280稲沢店', 'MGM小山本郷店', 'PIA京急川崎', 'PIA八王子', 'PIA川崎ダイス', 'PIA柏 スロット館', 'PIA横浜モアーズ', 'PIA町田新館', 'スーパーDステーション上里店', 'スーパーDステーション立川店', 'スーパーDステーション鴻巣店', 'WIN-WIN ONE', 'アスカ熊谷店', 'アスカ狭山店', 'アビバ湘南台店', 'アビバ関内', 'ジュラク王子店', 'エクスアリーナ柏', 'エクスアリーナ東京', 'オゼック国分寺北口', 'キコーナ吹田店', 'キコーナ守口店', 'キコーナ小田原扇町店', 'キコーナ海老名店', 'キコーナ茨木店', 'グランキコーナ堺店', 'グランキコーナ泉佐野店', 'グランキコーナ相模原店', 'グランドオータ瀬谷店', 'サンパレス環七大杉店', 'ZAP PRESTIGE', 'ジアスセンター南', 'ジャムフレンドクラブ朝霞店', 'スロット123梶取店', 'テンガイ・与次郎店', 'パラッツォ三郷中央店', 'ビッグアップル.加古川', 'ピーアーク三田', 'ピーアークピーくんステーション', 'ピーアーク相模原', 'ピーアーク相模大野', 'ピーアーク竹ノ塚スタジオ', 'ピーアーク草加', 'メガフェイス1180座間', 'プレイランド第一平和', 'マルハンいわき店', 'マルハン草薙アピア店', 'マルハン青梅新町店', 'ミリオン習志野店', 'メガコンコルド800春日井店+', 'レッドロック学芸大学駅前店', 'UNO三ノ輪', '上尾UNO', 'UNO上福岡', 'UNO中山', 'ZoRoN中山', 'UNO仙川', '出玉王田無店', 'UNO北越谷', 'UNO南柏', 'UNO新橋', '第一プラザ西浦和店', 'UNO本八幡', '楽園上新屋店', '楽園川崎店', '楽園沼津店', '楽園浜松ザザシティ店', '楽園袋井店', 'UNO清瀬', 'UNO秋葉原', 'UNO鶴見', 'BEAM by HIKARI']

In [41]:
pd.concat(tenpo_groupby_serched_df_list + sammy_groupby_serched_df_list,axis=1)

,2023-05-02_全台平均G数,総台数,2023-05-03_全台平均G数,総台数,2023-05-02_サミー全台平均G数,サミー総台数,2023-05-03_サミー全台平均G数,サミー総台数
店舗名,,,,,,,,
123+N和歌山本店,3073.441919,396,4057.446970,396.0,3888.712644,87,5758.459770,87.0
123+N大阪本店,6318.683333,480,5694.647917,480.0,6396.534653,101,6504.287129,101.0
123+N布施店,4193.432678,661,5187.069592,661.0,4306.559633,109,6258.550459,109.0
123+N橿原店,4442.789598,423,4778.683215,423.0,4855.806818,88,6051.670455,88.0
123+N羽曳野店,4625.636569,443,5015.934537,443.0,5276.870588,85,5922.882353,85.0
...,...,...,...,...,...,...,...,...
楽園川崎店,5818.522042,431,5213.767981,431.0,6310.289157,83,6543.518072,83.0
楽園沼津店,4115.917379,351,3429.310541,351.0,4400.722222,54,6387.518519,54.0
楽園浜松ザザシティ店,4871.515351,456,3437.651316,456.0,6198.901099,91,5628.054945,91.0
楽園袋井店,2514.386905,336,2864.422619,336.0,3221.870370,54,4367.796296,54.0
第一プラザ西浦和店,3925.638158,152,3942.901316,152.0,4399.468750,32,4396.781250,32.0

In [42]:
pd.concat(tenpo_groupby_serched_df_list + sammy_groupby_serched_df_list,axis=1).to_csv(r'csv\0503_0510出力1.csv')
#pd.concat(temo_df_list).to_csv('三か月分実施.csv')

In [ ]:
slopachi_tenpo_name_and_shopid_df =  pd.read_csv(r'csv\slopachi_tenpo_name_and_shopid.csv')
slopachi_tenpo_name_and_shopid_df =slopachi_tenpo_name_and_shopid_df[(~slopachi_tenpo_name_and_shopid_df['店舗ID'].isnull()) & (~slopachi_tenpo_name_and_shopid_df['都道府県'].isnull())]
slopachi_tenpo_name_and_shopid_df = slopachi_tenpo_name_and_shopid_df[['記事用店舗名','店舗ID','店舗名／法人名','都道府県']]
slopachi_tenpo_name_and_shopid_df['店舗ID'] = slopachi_tenpo_name_and_shopid_df['店舗ID'].astype(int)
slopachi_tenpo_name_and_shopid_df.drop_duplicates(subset='店舗名／法人名', keep='last', inplace=True)
slopachi_tenpo_name_and_shopid_df

In [50]:
serched_df['日付'] = f"2023-{date}"
serched_df.to_csv(rf'csv\2023-{date}_scraping_anaslo.csv',index=False)

In [66]:
data_df.to_csv(r'csv\2023-03-02_anaslo copy.csv',index=False)

In [ ]:
csv_file_name  = f'csv\\2023-03-03_anaslo copy.csv'
target_date = csv_file_name.split('_')[0].split('\\')[-1]
data_df =  pd.read_csv(csv_file_name)
data_df

====== WebDriver manager ======
Current google-chrome version is 112.0.5615
Get LATEST chromedriver version for 112.0.5615 google-chrome
Driver [C:\Users\slotd\.wdm\drivers\chromedriver\win32\112.0.5615.49\chromedriver.exe] found in cache
C:\Users\slotd\AppData\Local\Temp/ipykernel_50400/1895281330.py:51: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Chrome(ChromeDriverManager().install())

NameError: name 'prefecture_name_list' is not defined

In [6]:
sf_past_all_record_df = pd.read_csv(r'csv\sf_past_all_record.csv')
sf_past_all_record_df = sf_past_all_record_df[~sf_past_all_record_df['店舗ID'].isnull()]
sf_past_all_record_df = sf_past_all_record_df[~sf_past_all_record_df.duplicated(subset=['店舗名／法人名'])]
sf_past_all_record_df = sf_past_all_record_df[['店舗名／法人名','店舗ID']]
sf_past_all_record_df['店舗ID'] = sf_past_all_record_df['店舗ID'].astype(int)
sf_past_all_record_df.reset_index(drop=True,inplace=True)
sf_past_all_record_df = sf_past_all_record_df.rename(columns={'店舗ID':'スロパチID'})
sf_past_all_record_df

              店舗名／法人名  スロパチID
0              オゼック羽村    5488
1           ガーデン松戸金ヶ作    3281
2             パーラートモエ    4851
3     スロットスタジアムフォーション    4898
4       TAKARAJIMA荻島店    3723
...               ...     ...
1517             LOVE    7456
1518       スロット123梶取店    7370
1519          アミューズ岩出     851
1520           メトロヒルズ    7371
1521        SLOT AQUA    7375

[1522 rows x 2 columns]

In [12]:
parlar_name_parlar_url_dict_df = pd.read_csv(r'csv\tenpo_name_tenpo_url_dict.csv', header=None, names=['店舗名', 'url'])
parlar_name_parlar_url_dict_df
parlar_name_parlar_url_dict = d
ict(zip(parlar_name_parlar_url_dict_df['店舗名'],parlar_name_parlar_url_dict_df['url'] ))
#parlar_name_parlar_url_dict

In [25]:
import csv
dct = slopachi_and_anaslo_tenpo_name_dict
with open(r'csv\slopachi_and_anaslo_tenpo_name_dict.csv', 'w') as f:  
    writer = csv.writer(f)
    for k, v in dct.items():
       writer.writerow([k, v])

In [8]:
for i,tenpo_name in enumerate(tenpo_name_list):
    anaslo_parlar_name_url = parlar_name_parlar_url_dict[tenpo_name]
    anaslo_url_parlarname =urllib.parse.unquote((anaslo_parlar_name_url.split('/')[-2])).replace('-データ一覧','')
    print(i,anaslo_url_parlarname)

NameError: name 'tenpo_name_list' is not defined

In [43]:
list(set(anaslo_scraping_error_tenpo_name_list))

['Dステーション新小岩店',
 'メガフェイス1180座間',
 'グランキコーナ泉佐野店',
 'Dステーション仙台東店',
 'オゼック国分寺北口',
 'スーパーDステーション立川店',
 'MEGA BEAM ASAKURA 999',
 'EVO2']

In [45]:
hand_computed_tenpo_name_list = '''レッドロック学芸大学駅前店
ZAP PRESTIGE
第一プラザ西浦和店'''.split('\n')

In [47]:
for tenpo_name in hand_computed_tenpo_name_list:
    display(serched_df[serched_df['店舗名'] ==tenpo_name])
    serched_df[serched_df['店舗名'] ==tenpo_name].to_csv(fr'csv\{tenpo_name}_2023-05-03.csv',index=False)

,Unnamed: 0,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
22747,131,レッドロック学芸大学駅前店,犬夜叉,1,0,0.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-03
22748,133,レッドロック学芸大学駅前店,バーサスリヴァイズ,2,4418,1448.0,21,12,NaN,1/133.9,1/210.4,1/368.2,NaN,2023-05-03
22749,134,レッドロック学芸大学駅前店,新ハナビ,3,2882,151.0,11,6,NaN,1/169.5,1/262.0,1/480.3,NaN,2023-05-03
22750,129,レッドロック学芸大学駅前店,ハードボイルド,5,3251,-207.0,10,5,NaN,1/216.7,1/325.1,1/650.2,NaN,2023-05-03
22751,130,レッドロック学芸大学駅前店,ハードボイルド,6,1507,-1256.0,2,0,NaN,1/753.5,1/753.5,1/0.0,NaN,2023-05-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22885,64,レッドロック学芸大学駅前店,HEYエリートサラリーマン鏡,213,3064,-207.0,12,7,NaN,1/161.3,1/255.3,1/437.7,NaN,2023-05-03
22886,65,レッドロック学芸大学駅前店,HEYエリートサラリーマン鏡,215,1852,-207.0,13,5,NaN,1/102.9,1/142.5,1/370.4,NaN,2023-05-03
22887,66,レッドロック学芸大学駅前店,HEYエリートサラリーマン鏡,216,2657,262.0,15,5,NaN,1/132.8,1/177.1,1/531.4,NaN,2023-05-03
22888,67,レッドロック学芸大学駅前店,HEYエリートサラリーマン鏡,217,1850,-2130.0,5,0,NaN,1/370.0,1/370.0,1/0.0,NaN,2023-05-03
22889,68,レッドロック学芸大学駅前店,HEYエリートサラリーマン鏡,218,6128,2105.0,31,14,NaN,1/136.2,1/197.7,1/437.7,NaN,2023-05-03

,Unnamed: 0,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
16821,38,ZAP PRESTIGE,ハッピージャグラーVIII,385,1617,-706.0,3,5,NaN,1/202.1,1/539.0,1/323.4,NaN,2023-05-03
16822,39,ZAP PRESTIGE,ハッピージャグラーVIII,386,630,-355.0,1,1,NaN,1/315.0,1/630.0,1/630.0,NaN,2023-05-03
16823,40,ZAP PRESTIGE,ハッピージャグラーVIII,387,3484,-1352.0,6,12,NaN,1/193.6,1/580.7,1/290.3,NaN,2023-05-03
16824,41,ZAP PRESTIGE,ハッピージャグラーVIII,388,767,-324.0,2,1,NaN,1/255.7,1/383.5,1/767.0,NaN,2023-05-03
16825,42,ZAP PRESTIGE,ハッピージャグラーVIII,389,2438,-179.0,10,3,NaN,1/187.5,1/243.8,1/812.7,NaN,2023-05-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16968,67,ZAP PRESTIGE,沖ドキGOLD,536,3882,-1464.0,19,7,NaN,1/149.3,1/204.3,1/554.6,NaN,2023-05-03
16969,68,ZAP PRESTIGE,沖ドキGOLD,537,4084,591.0,26,16,NaN,1/97.2,1/157.1,1/255.2,NaN,2023-05-03
16970,69,ZAP PRESTIGE,沖ドキGOLD,538,5607,-1924.0,27,15,NaN,1/133.5,1/207.7,1/373.8,NaN,2023-05-03
16971,70,ZAP PRESTIGE,沖ドキGOLD,539,4539,6205.0,55,19,NaN,1/61.3,1/82.5,1/238.9,NaN,2023-05-03
16972,71,ZAP PRESTIGE,沖ドキGOLD,540,4918,-1394.0,23,16,NaN,1/126.1,1/213.8,1/307.4,NaN,2023-05-03

,Unnamed: 0,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
25239,103,第一プラザ西浦和店,ハッピージャグラーVIII,449,2103,-1309.0,4,3,0.0,1/300.4,1/525.8,1/701.0,1/0.0,2023-05-03
25240,104,第一プラザ西浦和店,ハッピージャグラーVIII,450,8520,1652.0,38,28,0.0,1/129.1,1/224.2,1/304.3,1/0.0,2023-05-03
25241,105,第一プラザ西浦和店,ハッピージャグラーVIII,451,2900,-1993.0,5,4,0.0,1/322.2,1/580.0,1/725.0,1/0.0,2023-05-03
25242,63,第一プラザ西浦和店,ファンキージャグラー2,452,5349,209.0,24,10,0.0,1/157.3,1/222.9,1/534.9,1/0.0,2023-05-03
25243,64,第一プラザ西浦和店,ファンキージャグラー2,453,3769,-1952.0,8,8,0.0,1/235.6,1/471.1,1/471.1,1/0.0,2023-05-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25386,26,第一プラザ西浦和店,HEYエリートサラリーマン鏡,596,3908,335.0,16,7,0.0,1/169.9,1/244.2,1/558.3,1/0.0,2023-05-03
25387,27,第一プラザ西浦和店,HEYエリートサラリーマン鏡,597,5915,-2497.0,23,11,0.0,1/174.0,1/257.2,1/537.7,1/0.0,2023-05-03
25388,28,第一プラザ西浦和店,HEYエリートサラリーマン鏡,598,2268,-1367.0,12,2,0.0,1/162.0,1/189.0,1/1134.0,1/0.0,2023-05-03
25389,29,第一プラザ西浦和店,HEYエリートサラリーマン鏡,599,2700,-1660.0,11,3,0.0,1/192.9,1/245.5,1/900.0,1/0.0,2023-05-03
25390,30,第一プラザ西浦和店,HEYエリートサラリーマン鏡,600,6398,474.0,31,15,0.0,1/139.1,1/206.4,1/426.5,1/0.0,2023-05-03

In [51]:
hand_comupted_sammy_serched_df = pd.DataFrame(index=[], columns=list(data_df.columns))
for tenpo_name in hand_computed_tenpo_name_list:
    
    display(serched_df[serched_df['店舗名'] ==tenpo_name])
    extract_tenpo_data_df = concat_data_df[concat_data_df['店舗名'] ==tenpo_name]
    for kisyu_name in serch_kisyu_name_list :
        #print(kisyu_name)
        try:
            serch_kisyu_name_record = extract_tenpo_data_df[extract_tenpo_data_df['機種名'] == kisyu_name]
            if len(serch_kisyu_name_record) == 0:
                error_kisyu_name_list.append(kisyu_name)# + f'_{date_str}'
            hand_comupted_sammy_serched_df = pd.concat([hand_comupted_sammy_serched_df, serch_kisyu_name_record], axis=0)
            
            #print('成功',kisyu_name)
        except:
            pass
    hand_comupted_sammy_serched_df.to_csv(fr'csv\hand_computed_sammy_2023-05-03.csv',index=False)

,Unnamed: 0,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
22747,131,レッドロック学芸大学駅前店,犬夜叉,1,0,0.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-03
22748,133,レッドロック学芸大学駅前店,バーサスリヴァイズ,2,4418,1448.0,21,12,NaN,1/133.9,1/210.4,1/368.2,NaN,2023-05-03
22749,134,レッドロック学芸大学駅前店,新ハナビ,3,2882,151.0,11,6,NaN,1/169.5,1/262.0,1/480.3,NaN,2023-05-03
22750,129,レッドロック学芸大学駅前店,ハードボイルド,5,3251,-207.0,10,5,NaN,1/216.7,1/325.1,1/650.2,NaN,2023-05-03
22751,130,レッドロック学芸大学駅前店,ハードボイルド,6,1507,-1256.0,2,0,NaN,1/753.5,1/753.5,1/0.0,NaN,2023-05-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22885,64,レッドロック学芸大学駅前店,HEYエリートサラリーマン鏡,213,3064,-207.0,12,7,NaN,1/161.3,1/255.3,1/437.7,NaN,2023-05-03
22886,65,レッドロック学芸大学駅前店,HEYエリートサラリーマン鏡,215,1852,-207.0,13,5,NaN,1/102.9,1/142.5,1/370.4,NaN,2023-05-03
22887,66,レッドロック学芸大学駅前店,HEYエリートサラリーマン鏡,216,2657,262.0,15,5,NaN,1/132.8,1/177.1,1/531.4,NaN,2023-05-03
22888,67,レッドロック学芸大学駅前店,HEYエリートサラリーマン鏡,217,1850,-2130.0,5,0,NaN,1/370.0,1/370.0,1/0.0,NaN,2023-05-03
22889,68,レッドロック学芸大学駅前店,HEYエリートサラリーマン鏡,218,6128,2105.0,31,14,NaN,1/136.2,1/197.7,1/437.7,NaN,2023-05-03

,Unnamed: 0,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
16821,38,ZAP PRESTIGE,ハッピージャグラーVIII,385,1617,-706.0,3,5,NaN,1/202.1,1/539.0,1/323.4,NaN,2023-05-03
16822,39,ZAP PRESTIGE,ハッピージャグラーVIII,386,630,-355.0,1,1,NaN,1/315.0,1/630.0,1/630.0,NaN,2023-05-03
16823,40,ZAP PRESTIGE,ハッピージャグラーVIII,387,3484,-1352.0,6,12,NaN,1/193.6,1/580.7,1/290.3,NaN,2023-05-03
16824,41,ZAP PRESTIGE,ハッピージャグラーVIII,388,767,-324.0,2,1,NaN,1/255.7,1/383.5,1/767.0,NaN,2023-05-03
16825,42,ZAP PRESTIGE,ハッピージャグラーVIII,389,2438,-179.0,10,3,NaN,1/187.5,1/243.8,1/812.7,NaN,2023-05-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16968,67,ZAP PRESTIGE,沖ドキGOLD,536,3882,-1464.0,19,7,NaN,1/149.3,1/204.3,1/554.6,NaN,2023-05-03
16969,68,ZAP PRESTIGE,沖ドキGOLD,537,4084,591.0,26,16,NaN,1/97.2,1/157.1,1/255.2,NaN,2023-05-03
16970,69,ZAP PRESTIGE,沖ドキGOLD,538,5607,-1924.0,27,15,NaN,1/133.5,1/207.7,1/373.8,NaN,2023-05-03
16971,70,ZAP PRESTIGE,沖ドキGOLD,539,4539,6205.0,55,19,NaN,1/61.3,1/82.5,1/238.9,NaN,2023-05-03
16972,71,ZAP PRESTIGE,沖ドキGOLD,540,4918,-1394.0,23,16,NaN,1/126.1,1/213.8,1/307.4,NaN,2023-05-03

,Unnamed: 0,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
25239,103,第一プラザ西浦和店,ハッピージャグラーVIII,449,2103,-1309.0,4,3,0.0,1/300.4,1/525.8,1/701.0,1/0.0,2023-05-03
25240,104,第一プラザ西浦和店,ハッピージャグラーVIII,450,8520,1652.0,38,28,0.0,1/129.1,1/224.2,1/304.3,1/0.0,2023-05-03
25241,105,第一プラザ西浦和店,ハッピージャグラーVIII,451,2900,-1993.0,5,4,0.0,1/322.2,1/580.0,1/725.0,1/0.0,2023-05-03
25242,63,第一プラザ西浦和店,ファンキージャグラー2,452,5349,209.0,24,10,0.0,1/157.3,1/222.9,1/534.9,1/0.0,2023-05-03
25243,64,第一プラザ西浦和店,ファンキージャグラー2,453,3769,-1952.0,8,8,0.0,1/235.6,1/471.1,1/471.1,1/0.0,2023-05-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25386,26,第一プラザ西浦和店,HEYエリートサラリーマン鏡,596,3908,335.0,16,7,0.0,1/169.9,1/244.2,1/558.3,1/0.0,2023-05-03
25387,27,第一プラザ西浦和店,HEYエリートサラリーマン鏡,597,5915,-2497.0,23,11,0.0,1/174.0,1/257.2,1/537.7,1/0.0,2023-05-03
25388,28,第一プラザ西浦和店,HEYエリートサラリーマン鏡,598,2268,-1367.0,12,2,0.0,1/162.0,1/189.0,1/1134.0,1/0.0,2023-05-03
25389,29,第一プラザ西浦和店,HEYエリートサラリーマン鏡,599,2700,-1660.0,11,3,0.0,1/192.9,1/245.5,1/900.0,1/0.0,2023-05-03
25390,30,第一プラザ西浦和店,HEYエリートサラリーマン鏡,600,6398,474.0,31,15,0.0,1/139.1,1/206.4,1/426.5,1/0.0,2023-05-03